<!-- main content -->
<div id="content" >
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                    <div class="bars pull-right">
                        
                        <button ng-click="multi_mail(selection)" ng-if="selection.length>0" class="btn btn-warning" ng-click="toggle=!toggle">
                            Send Mail
                        </button>
                        <button ng-click="" ng-if="selection.length==0" class="btn btn-warning" ng-click="toggle=!toggle" disabled="disabled">
                            Send Mail
                        </button>
                        
                        <div class="display-flex ">
                            <select class="form-control inline col-md-2" ng-change="search_usertype(search.user_type)" name="user_type_id" ng-model="search.user_type" required>
                                  <option value=""> Select User Type</option>
                                  <!--<option value="Free_Member">Free Member</option>-->
                                  <option value="Group_Member">Group Member</option>
                                  <option value="Group_Owner">Group Owner</option>
                                  <option value="All_Member">All Member</option>
                            </select>
                        </div>
                        
                        <div class="display-flex ">
                            <select ng-init="perPageShow=!perPageShow"  ng-model="perPage" ng-change="pageChanged(perPage)" ng-options="opt as opt.label for opt in units" class=" form-control inline col-md-2" ng-show="perPageShow"></select>
                        </div>
                        
                        
                        <button class="btn btn-info" ng-click="searchShow=!searchShow">
                            Search User
                        </button>

                    </div>
                </div>
            </div>
            <div class="panel-body" translate-namespace="user.list">
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="5%" class="center">
<!--                                <input type="checkbox" class="conchkNumber">&nbsp; Select All-->
                            </th>
<!--                            <th width="10%"></th>-->
                            <th width="20%" translate> .name </th>
                            <th width="25%" translate> .email </th>
                            <th width="25%" translate> .user_type_id </th>
                            <th width="20%" translate> .status </th>
                            <th width="10%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="search-tr">
                                <td colspan="9">
                                    <div class="col-md-12" ng-show="searchShow">
                                        <form class="input-group">
                                            <input ng-model="query" ng-enter="search(query,perPage)" id="search_text" name="search_text" type="text" class="form-control" placeholder="{{'app.shared.common.search' | translate}}">
                                            <span class="input-group-btn">
                                                <button ng-click="search(query,perPage)" class="btn btn-default search-btn"><i class="fa fa-search"></i></button>&nbsp;&nbsp;
                                                <button ng-init="text=''" ng-click="search(text,perPage)" class="btn btn-primary">Reset</button>
                                            </span>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="user in users">
                                <td class="center">
                                    <div class="checkbox checkbox-primary">
                                        <input id="{{user.email}}" type="checkbox" class="conchkNumber" value="{{user.email}}" ng-checked="selection.indexOf(user.email) > -1" ng-click="toggleSelection(user.email)">
                                    <label for="{{user.email}}">
                                        </label>
                                    </div>
                                </td>
<!--                                <td data-title="Avatar">
                                    <img ng-src="{{user.avatar_url !=='' && '../laravel-backend/public/uploads/'+user.avatar_url || '../laravel-backend/public/uploads/no_avatar.jpg'}}" alt="" class="img-circle img-responsive" style="height: 70px !important; width: 70px !important;">
                                </td>-->
                                <td data-title="Name">{{user.first_name}}</td>
                                <td data-title="Email">{{user.email}}</td>
                                <td data-title="Member Type">{{user.member_type}}</td>
                                <td>
                                    <span ng-if="user.status==0" class="label label-table label-danger"><b>Inactive</b></span>
                                    <span ng-if="user.status==1" class="label label-table label-success"><b>Active</b></span>
                                    <span ng-if="user.status==2" class="label label-table label-info"><b>Pending</b></span>
                               </td>
                                <td><a class="fa fa-envelope" ng-if="selection.length==0" title="Send Mail" data-email="{user.email}" ng-click="toggle(user.email,user.id)" style="cursor:pointer"></a></td>

                            </tr>
                        </tbody>
                    </table>
                    <!--Modal for sending message-->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title text-center" id="myModalLabel"><b>{{form_title}}</b></h4>
                                </div>
                                <div class="modal-body">
                                    <form name="frmEmployees" class="form-horizontal" novalidate="">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Email :</label>
                                            <div class="col-sm-9">
                                                <!--<input class="form-control" ng-model="employee.email"/>-->
                                                <textarea class="form-control" disabled="disabled">{{employee.email}}</textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="sub" class="col-sm-3 control-label">Subject :</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputsubject" name="contact_number" placeholder="Subject" value="" 
                                                ng-model="employee.subject" ng-required="true">
                                            <span class="help-inline" 
                                                ng-show="frmEmployees.contact_number.$invalid && frmEmployees.contact_number.$touched" style="color: red;">* Subject field is required</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-3 control-label">Message :</label>
                                            <div class="col-sm-9">
                                                <textarea type="text" class="form-control" id="inputmessage" name="position" placeholder="Message" value="" 
                                                          ng-model="employee.message" ng-required="true" style="height: 200px;"></textarea>
                                            <span class="help-inline" 
                                                ng-show="frmEmployees.position.$invalid && frmEmployees.position.$touched" style="color: red;">* Message field is required</span>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    
                                    <button type="button" class="btn btn-primary" id="btn-save" ng-click="send_mail(employee)" >Send Mail</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <div id="loader" class="text-center">
                                        <img  src="assets/img/preloader/material.gif" alt="preloader">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content -->
