<!-- main content -->
<div id="content">
    <div id="sortable-panel" class="">
        <div id="titr-content" class="col-md-12">
            <h2>User Profile</h2>
            <h5>User settings & public information ...</h5>
        </div>

        <div class="col-md-12  col-lg-6">
            <div class="panel panel-default">
                <div class="panel-body no-padding">
                    <div class="yep-profile ">
                        <div class="statistic">
                            <div class="padding-10">
                                <h4><strong class="center">1,543</strong> <br>
                                    <small>Followers</small>
                                </h4>
                                <h4><strong>419</strong> <br>
                                    <small>Connections</small>
                                </h4>
                            </div>
                        </div>
                        <img class="yep-image-lg" src="../assets/img/gallery/a9.jpg" height="214" width="500"
                             alt="Profile image example"/>

                        <div class="yep-profile-text">
                            <div class="col-sm-12 ">

                                <div class="col-sm-3">
                                    <img class="yep-image-profile " src="../assets/img/avatars/avatar5-110x110.jpg"
                                         alt="Profile image example"/>

                                    <div class="profile-info">
                                        <h4>
                                            <small>User Role</small>
                                            <br>Developers
                                        </h4>
                                        <h4>
                                            <small>Department</small>
                                            <br>Engineering
                                        </h4>
                                        <br>
                                    </div>
                                </div>

                                <div class="col-sm-6 no-padding ">
                                    <h4>Albert <span class="semi-bold">Jackson</span>
                                        <br>
                                        <small> CEO, Administrator</small>
                                    </h4>

                                    <ul class="list-unstyled">
                                        <li>
                                            <p class="text-muted">
                                                <span><i class="fa fa-phone"></i>&nbsp;&nbsp;(313) 464 - 6473</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="yep@yeptemplate.com">yep@yeptemplate.com</a>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <span><i class="fa fa-skype"></i>&nbsp;&nbsp;albert80</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <span><i class="fa fa-calendar"></i>&nbsp;&nbsp;8:00 AM - 4:30 PM</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <span><i
                                                        class="fa fa-twitter"></i>&nbsp;&nbsp; twitter.com/malinda</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p class="text-muted">
                                                <span><i class="fa fa-map-marker"></i>&nbsp;&nbsp; USA, CA</span>
                                            </p>
                                        </li>
                                    </ul>
                                    <br>

                                    <p class="font-md">
                                        <i>About me...</i>
                                    </p>

                                    <p>

                                        Saperet inermis vulputate ex sit, nec sale putant definitiones et. Qui soleat
                                        platonem id, ea vim tritani utroque percipitur. Vim te meliore legendos, utroque
                                        nominati intellegam vis at. Ne eos utamur

                                    </p>
                                </div>

                                <div class="col-sm-3 bg-grey">
                                    <br>
                                    <button class="btn btn-xs btn-success btn-block"><i class="fa fa-plus"> </i> Add
                                        Frined
                                    </button>
                                    <button class="btn btn-xs btn-default btn-block"><i class="fa fa-link"> </i> Connect
                                    </button>

                                    <h4>Connections</h4>
                                    <ul class="list-inline friends-list">
                                        <li><img src="../bevylife/assets/img/avatars/male.png" alt="friend-1">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/avatar4.png" alt="friend-2">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/avatar3.png" alt="friend-3">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/avatar2.png" alt="friend-4">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/male.png" alt="friend-5">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/avatar.png" alt="friend-6">
                                        </li>
                                        <li>
                                            <a href="" data-target="#">more</a>
                                        </li>
                                    </ul>

                                    <h4>Recent visitors</h4>
                                    <ul class="list-inline friends-list">
                                        <li><img src="../bevylife/assets/img/avatars/avatar4.png" alt="friend-1">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/avatar2.png" alt="friend-2">
                                        </li>
                                        <li><img src="../bevylife/assets/img/avatars/avatar3.png" alt="friend-3">
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- end panel -->
        </div>
        <!-- end .col-md-12 -->

        <div class="col-md-6 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <textarea class="form-control" cols="30" rows="4" placeholder="Send message"></textarea>
                </div>
                <div class="panel-footer ">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="msg-action ">
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                                <li><a title="" data-toggle="tooltip" data-placement="bottom"
                                       data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 ">
                            <ul class="msg-action ">
                                <li>
                                    <button class="btn btn-success pull-right margin-b-0"><i
                                            class="fa fa-paper-plane"></i> Post
                                    </button>
                                </li>
                            </ul>

                        </div>
                    </div>


                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end .col-md-12 -->

        <div class="col-md-6 ">
            <div class="panel panel-default ">

                <div class="panel-body no-padding">
                    <div class="tabbable tabs-above ">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="" data-target="#activity" data-toggle="tab">
                                    <i class="fa fa-rss success"></i> Activity
                                </a>
                            </li>
                            <li class="">
                                <a href="" data-target="#timeline" data-toggle="tab">
                                    <i class="fa fa-dashboard primary"></i> Timeline
                                </a>
                            </li>
                            <li>
                                <a href="" data-target="#message" data-toggle="tab">
                                    <span class="badge badge-danger">4</span> Msgs
                                </a>
                            </li>

                            <li class="dropdown pull-right">
                                <a href="" data-target="#" data-toggle="dropdown"> <i class="fa fa-lg fa-cog"></i> <span
                                        class="caret"></span></a>
                                <ul class="dropdown-menu multi-level" role="menu">
                                    <li><a href="" data-target="#" data-toggle="tab">Setting One</a></li>
                                    <li><a href="" data-target="#" data-toggle="tab">Setting Two</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div class="tab-pane active" id="activity">

                                <div class="panel-flat">
                                    <div class="dropdown">
                                        <span class="dropdown-toggle red" data-toggle="dropdown">
                                            Actions <span class="caret"></span>
                                        </span>
                                        <ul class="dropdown-menu" role="menu">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-target="#">Action</a>
                                            </li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-target="#">Another
                                                action</a></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-target="#">Something
                                                else here</a></li>
                                            <li role="presentation" class="divider"></li>
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-target="#">Separated
                                                link</a></li>
                                        </ul>
                                    </div>

                                    <div class="panel-body">
                                        <div class="media">
                                            <ul class="media-list">
                                                <li class="media">
                                                    <div class="media-left">
                                                        <a href="" data-target="#">
                                                            <img class="[img-thumbnail pull-left ]"
                                                                 src="../bevylife/assets/img/avatars/avatar2.png" alt="robert"/>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h3>Robert McIntosh</h3>

                                                        <p>Lorem ipsum dolor sit amet, mei appareat consequuntur an, eam
                                                            iudico consulatu laboramus ea, pri et soleat audire.</p>
                                                        <h5><span>Shared publicly</span> - <span>Jun 25, 2014</span>  <a
                                                                href="" data-target="#" class="red">Delete</a>  <a href="" data-target="#">Edit</a>
                                                        </h5>
                                                        <!-- Nested media object -->
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <a href="" data-target="#">
                                                                    <img class="[img-thumbnail pull-left ]"
                                                                         src="../bevylife/assets/img/avatars/avatar3.png"
                                                                         alt="albert"/>
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h3>Albert Jackson</h3>
                                                                Lorem ipsum dolor sit amet, mei appareat consequuntur
                                                                an.
                                                                <a href="http://www.example.com">http://www.example.com/sample/12/04/205</a>
                                                                <h5><span>Jun 25, 2014</span>   <a href="" data-target="#" class="red">Delete</a>   <a
                                                                        href="" data-target="#">Edit</a></h5>
                                                                <!-- Nested media object -->
                                                            </div>
                                                        </div>
                                                        <!-- Nested media object -->
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <a href="" data-target="#">
                                                                    <img class="[img-thumbnail pull-left ]"
                                                                         src="../bevylife/assets/img/avatars/avatar4.png"
                                                                         alt="john"/>
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                <h3>John Doe</h3>
                                                                Lorem ipsum dolor sit amet, mei appareat consequuntur
                                                                an, eam iudico consulatu laboramus ea, pri et soleat
                                                                audire
                                                                <h5><span>Jun 25, 2014</span>   <a href="" data-target="#" class="red">Delete</a>   <a
                                                                        href="" data-target="#">Edit</a></h5>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="[ btn btn-default ]">+1</button>
                                        <button type="button" class="[ btn btn-default ]">
                                            <span class="[ glyphicon glyphicon-share-alt ]"></span>
                                        </button>
                                        <div class="input-placeholder">Add a comment...</div>
                                    </div>
                                    <div class="panel-flat-comment">
                                        <img class="img-thumbnail" src="../bevylife/assets/img/avatars/avatar3.png"
                                             alt="User Image"/>

                                        <div class="panel-flat-textarea">
                                            <textarea rows="4"></textarea>
                                            <button type="submit" class="[ btn btn-success disabled ]">Post comment
                                            </button>
                                            <button type="reset" class="[ btn btn-default ]">Cancel</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane padding-10" id="timeline">

                                <!-- Timeline -->
                                <div class="timeline">

                                    <!-- Line component -->
                                    <div class="line "></div>

                                    <!-- Panel -->
                                    <article class="panel panel-danger panel-outline">

                                        <div class="timeline-time">
                                            <small>just now</small>
                                        </div>

                                        <!-- Icon -->
                                        <div class="panel-heading icon">
                                            <i class="fa fa-bell"></i>
                                        </div>
                                        <!-- /Icon -->

                                        <!-- Body -->
                                        <div class="panel-body">
                                            <div class="tl tl-header">
                                                <strong>Someone favourited your photo.</strong>
                                            </div>
                                            <div class="tl tl-content">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem dolor,
                                                posuere convallis blandit sit amet, aliquet in est. Ut condimentum magna
                                                enim, non venenatis elit interdum accumsan. In hac habitasse platea
                                                dictumst. Etiam molestie felis non mollis viverra. In ipsum lorem,
                                                fermentum vitae lectus in, accumsan malesuada neque.
                                            </div>
                                            <div class="tl tl-footer">
                                                <ul class="list-inline">
                                                    <li>
                                                        <img src="../bevylife/assets/img/gallery/thumb/thumb01-50x50.jpg"
                                                             class="" alt="img">
                                                    </li>
                                                    <li>
                                                        <img src="../bevylife/assets/img/gallery/thumb/thumb02-50x50.jpg"
                                                             alt="img">
                                                    </li>
                                                    <li>
                                                        <img src="../bevylife/assets/img/gallery/thumb/thumb03-50x50.jpg"
                                                             alt="img">
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <!-- /Body -->

                                    </article>
                                    <!-- /Panel -->

                                    <!-- Panel -->
                                    <article class="panel panel-default panel-outline">

                                        <div class="timeline-time">
                                            <small>5 min ago</small>
                                        </div>

                                        <!-- Icon -->
                                        <div class="panel-heading icon">
                                            <i class="fa fa-picture-o"></i>
                                        </div>
                                        <!-- /Icon -->

                                        <!-- Body -->
                                        <div class="panel-body">
                                            <div class="tl tl-header">
                                                <strong>
                                                    Check out my tour to Adalaskar
                                                </strong>
                                            </div>
                                            <div class="tl tl-content">
                                                <img class="img-responsive img-thumbnail"
                                                     src="../bevylife/assets/img/gallery/a9.jpg" alt="vector image"/>
                                            </div>
                                            <div class="tl tl-footer">
                                                <p>
                                                    <a href="javascript:void(0);" class="btn btn-xs btn-default"><i
                                                            class="fa fa-file"></i> Read more</a>
                                                </p>
                                            </div>

                                        </div>
                                        <!-- /Body -->

                                    </article>
                                    <!-- /Panel -->

                                    <!-- Panel -->
                                    <article class="panel panel-primary panel-outline">

                                        <div class="timeline-time">
                                            <small>3 hrs ago</small>
                                        </div>

                                        <!-- Icon -->
                                        <div class="panel-heading icon">
                                            <i class="fa fa-pencil"></i>
                                        </div>
                                        <!-- /Icon -->


                                        <!-- Body -->
                                        <div class="panel-body">
                                            <div class="tl tl-header">
                                                <strong>
                                                    Some new content has been added.
                                                </strong>
                                            </div>
                                            <div class="tl tl-content ">
                                                <div class="well well-sm  col-md-6">

                                                    <p>
                                                        Are you sure to delete reminder?
                                                    </p>
                                                    <button class="btn btn-sm btn-danger">Yes</button>
                                                    <button class="btn btn-sm btn-default">No</button>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /Body -->

                                    </article>
                                    <!-- /Panel -->

                                    <!-- Panel -->
                                    <article class="panel panel-info panel-outline">

                                        <div class="timeline-time">
                                            <small>12 May 2015</small>
                                        </div>

                                        <!-- Icon -->
                                        <div class="panel-heading icon">
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                        <!-- /Icon -->

                                        <!-- Body -->
                                        <div class="panel-body">
                                            <div class="tl tl-header">
                                                <strong>
                                                    Download file attachment
                                                </strong>
                                            </div>
                                            <div class="tl tl-content ">
                                                <div class="col-sm-12">
                                                    <div class="row">
                                                        <div class="col-md-6 ">
                                                            <b class="pull-left">
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-download"></i></a>
                                                                checklist-2015-07-25.xls
                                                            </b>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 ">
                                                            <b class="pull-left">
                                                                <a href="javascript:void(0);"><i
                                                                        class="fa fa-download"></i></a>
                                                                report-monthly.doc
                                                            </b>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <!-- /Body -->

                                    </article>
                                    <!-- /Panel -->
                                </div>
                                <!-- /Timeline -->
                            </div>

                            <div class="tab-pane padding-10 with-scroll" id="message">

                                <ul class="notify-content-body ">
                                    <li class="unread">
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/avatar.png" alt=""
                                                     class="item item-top-left">
                                                <span class="from titr">John Doe <i class="icon-paperclip"></i></span>
                                                <span class="time">2 minutes ago</span>
                                                <span class="subject titr">Msed quia non numquam eius modi tempora</span>
                                                <span class="msg-body">Hello again and thanks for being a part of the newsletter. </span>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="unread">
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/female.png" alt=""
                                                     class="item item-top-left">
                                                <span class="from titr">Sonya Birthday</span>
                                                <span class="time">Thursday, September 19th</span>
                                                <span class="subject titr">Incidunt ut labor</span>
                                                <span class="msg-body ">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="unread">
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/female.png" alt=""
                                                     class="item item-top-left">
                                                <span class="from titr">Sonya Birthday</span>
                                                <span class="time">Thursday, September 19th</span>
                                                <span class="subject titr">Incidunt ut labor</span>
                                                <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/avatar3.png" alt=""
                                                     class="item item-top-left">
                                                <span class="from">Cristina Algera</span>
                                                <span class="time">Sunday, September 15th</span>
                                                <span class="subject">Best-Selling Teethers</span>
                                                <span class="msg-body"> ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</span>
                                            </a>
                                        </span>
                                    </li>
                                    <li class="unread">
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/avatar2.png" alt=""
                                                     class="item item-top-left">
                                                <span class="from titr">Project approved! <i class="icon-paperclip"></i></span>
                                                <span class="time">September 14th</span>
                                                <span class="subject titr">Et harum quidem rerum facilis est et expedita distinctio</span>
                                                <span class="msg-body">...</span>
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/female.png"
                                                     alt="" class="item item-top-left">
                                                <span class="from">Sonya Birthday</span>
                                                <span class="time">Thursday, September 19th</span>
                                                <span class="subject">Incidunt ut labor</span>
                                                <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                            </a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <a href="javascript:void(0);" class="msg">
                                                <img src="../bevylife/assets/img/avatars/female.png"
                                                     alt="" class="item item-top-left">
                                                <span class="from">Sonya Birthday</span>
                                                <span class="time">Thursday, September 19th</span>
                                                <span class="subject">Incidunt ut labor</span>
                                                <span class="msg-body">sed quia non numquam eius modi tempora incidunt ut labor</span>
                                            </a>
                                        </span>
                                    </li>
                                </ul>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end .col-md-6 -->
    </div>
</div>
