<!DOCTYPE html>
<html ng-app="ng-laravel" >
    <head>

        <!--<title>ngLaravel - {{$state.current.ncyBreadcrumb.label | translate }}</title>-->
        <title>Bevylife</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/vendors/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="app/vendors/angular-ui-router-anim-in-out/css/anim-in-out.min.css">

        <!-- Related css to this page -->
        <link rel="stylesheet" href="app/vendors/angular-hotkeys/css/hotkeys.min.css">
        <link rel="stylesheet" href="app/vendors/angular-ui-notification/css/angular-ui-notification.min.css">





        <!-- favicon -->
        <link rel="shortcut icon" href="/assets/img/favicon/bevy_favicon_16px.png" type="image/x-icon">
        <link rel="icon" href="assets/img/favicon/bevy_favicon_16px.png" type="image/x-icon">
        <script src="assets/js/float-panel.js"></script>
    </head>

        <body id="mainbody" ng-class="{'login-page':$state.includes('login') || $state.includes('reset-password') || $state.includes('register'), 'ltr':currentDirection === 'ltr'}"  lang="{{currentLanguage}}">
        <div ui-view data-anim-sync="true" class="anim-in-out anim-slide-below-fade" data-anim-speed="500" ></div>
        <!-- end #container ui-view -->

        <!-- General JS script library-->
        <script type="text/javascript" src="assets/vendors/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="assets/vendors/jquery-ui/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="assets/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/vendors/jquery-searchable/js/jquery.searchable.min.js"></script>
        <script type="text/javascript" src="assets/vendors/jquery-fullscreen/js/jquery.fullscreen.min.js"></script>
        <link rel="stylesheet" href="assets/vendors/jquery-ui/css/jquery-ui.css">
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <!-- Yeptemplate JS Script -->
        <!--for some reason we move some jquery scripts to app/view/admin.html -->


        <!-- Related JavaScript Library to This Page -->


        <script src="assets/vendors/angularjs/js/angular.min.js"></script>
        <script src="assets/vendors/angularjs/js/angular-animate.min.js"></script>
        <script src="assets/vendors/angularjs/js/angular-sanitize.min.js"></script>
        <script src="assets/vendors/angularjs/js/angular-route.min.js"></script>
        <script src="assets/vendors/angularjs/js/angular-resource.js"></script>
        <script src="assets/vendors/angularjs/js/angular-cookies.min.js"></script>
        <script src="assets/vendors/underscore/js/underscore.min.js"></script>
        <script src="app/vendors/restangular/restangular.min.js"></script><!-- it's dependent to underscore.js -->
        <script src="app/vendors/ui-router/angular-ui-router.min.js"></script>
        <script src="app/vendors/angular-ui-router-anim-in-out/js/anim-in-out.min.js"></script>
        <script src="assets/vendors/oclazyload/js/ocLazyLoad.min.js"></script>
        <script src="app/vendors/angular-jwt/angular-jwt.min.js"></script>
        <script src="app/vendors/ng-storage/ngStorage.min.js"></script>
        <script src="app/vendors/ng-aa/ng-aa.js"></script>
        <script src="app/vendors/angular-cache/angular-cache.min.js"></script>
        <script src="app/vendors/angular-translate/angular-translate.min.js"></script>
        <script src="app/vendors/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
        <script src="app/vendors/angular-translate-storage-local/angular-translate-storage-cookie.min.js"></script><!-- use for keep current language-->
        <!--<script src="app/vendors/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>&lt;!&ndash; use for keep current language&ndash;&gt;-->
        <!--<script src="app/vendors/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>-->
        <script src="app/vendors/angular-dynamic-locale/tmhDynamicLocale.min.js"></script>
        <script src="app/vendors/angular-ui-notification/js/angular-ui-notification.min.js"></script>
        <script src="app/vendors/angular-img-fallback/angular.dcb-img-fallback.min.js"></script>
        <!-- <script src="assets/js/angular-local-storage.js"></script> -->
        <script language="javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDT1RRCzd8ZZ3584w9QUgWJd5y3aGDzino"></script>
        <script src="app/angular-country-state.min.js"></script>
        <script src="app/angular-state-list.js"></script>
        <script src="app/app.js"></script>
        <script src="app/config.constant.js"></script>
        <script src="app/config.router.js"></script>
        <script src="app/vendors/angular-ui-jq/ui-jq.min.js"></script>
        <script src="app/vendors/angular-ui-load/ui-load.min.js"></script>
        <script src="app/vendors/angular-breadcrumb/angular-breadcrumb.min.js"></script>
        <script src="app/vendors/angular-hotkeys/js/hotkeys.min.js"></script>
        <script src="app/shared/controllers/Preloader.js"></script>
        <script src="app/shared/services/TranslationsFactory.js"></script>
        <script src="app/shared/controllers/RegisCtrl.js"></script>
        <script src="app/shared/controllers/AdminCtrl.js"></script>
        <script src="app/shared/controllers/homesCtrl.js"></script>
        <script src="assets/js/ie-emulation-modes-warning.js"></script>
        <script src="assets/js/owl.carousel.js"></script>
        <script src="assets/js/zabuto_calendar.js"></script>

        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script type="text/javascript">
         Stripe.setPublishableKey('pk_live_UlybiREYClTtDLmNjE4gaibE');
	//Stripe.setPublishableKey('pk_test_yH72QSGoi8zAjAhOT9ae5tG7');
        </script>
    </body>
</html>
