@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
.page-wrapper{padding-top:95px;}

.navbar-default {
  background-color: #363636;
  border-bottom:none;
  /* height: 95px; */
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #74D2DD;
  
}
.navbar-default .top-menu> li > a:hover, .navbar-default .navbar-nav > li > a:focus {
border-bottom:3px solid #4498BC;
}

.btn.btn-login {
  background: #c4dd8a none repeat scroll 0 0;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-weight: bold !important;
  height: 26px;
  line-height: 3px;
  padding: 10px 20px;
  width: 95px;
  margin-top:0px;
  margin-right:5px;
  text-tranform:uppercase;
}
.navbar-brand {
  height: 100px;
  display:flex;
   align-items: center;
   margin-left:0px !important;
   padding:0px;
}
.navbar-brand > img {
  display: block;
  width: 209px;
}
.page-wrapper .container{padding:0px;}
.home-page section .container{padding:0px;}
.no-pad{padding:0px !important;}
.no-pad-left{padding-left:0px !important;}
.no-pad-right{padding-right:0px !important;}

.top-menu{margin-top:20px;}
.social-menu{margin-top:15px;}
.navbar-default .navbar-nav > li > a.social-icon {
  padding: 15px 5px 15px 0;
}

.btn{border:1px solid #ffffff; border-radius:50px; color:#ffffff;}

.lets-started-form{background:#74cece;}
.lets-started-form .box-1{background:#74cece; height:253px; text-align:center; padding-top:80px; position:relative;}
.lets-started-form .box-1::before{bottom: -60px;
color: #70c3c4;
content: "OR";
font-size: 89px;
font-weight: 900;
left: 0;
position: absolute;
opacity:0.8;
right: 0;}
.lets-started-form .box-1 .btn{font-size: 17px;height: 48px;line-height: 33px;width: 195px;}
.btn.btn-start {  margin-right: 15px;}
.lets-started-form .box-1 .btn:hover{background:#ffffff; color:#74cece;}
.lets-started-form .box-2{background:#68b0af; height:253px; text-align:center; padding-top:80px;}

.live-the-bevylife > img {  width: 100%; max-height:510px;}

.lets-started-form .box-1 > h1 {  color: #ffffff;  font-weight: 900;  text-align: center;  font-size:45px; margin:0px; margin-bottom:10px;}
.lets-started-form .box-2 > h1 {  color: #ffffff;  font-weight: 900;  text-align: center;  font-size:45px; margin:0px; margin-bottom:10px;}
.btn-search{background:url('../img/search-btn.png'); border:none; width:50px; height:50px; font-size:0px;}
.form-inline.search-form .form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  height: 48px;
  margin-right: 15px;
  width: 320px;
}

.search-form .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.search-form .form-control:-ms-input-placeholder {
  color: #fff;
}
.search-form .form-control::-webkit-input-placeholder {
  color: #fff;
}
.bevylife_next{
    background:#CAE197;
}

.bevylife_cancel{
    background:#85D3D4;
}

.live-the-bevylife .caption {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
border-radius: 80px;
height: 127px;
left: 0;
margin: auto;
padding: 22px 30px 30px;
position: absolute;
right: 0;
top:38%;
width: 80%;
}

.live-the-bevylife .caption h2 {
 color: #363636;
font-size: 67px;
font-weight: 900;
letter-spacing: 1px;
line-height: 53px;
margin: 0 0 10px;
padding: 0;
text-align: center;
text-transform: uppercase;
}

.live-the-bevylife .caption h3 {
  color: #74cdce;
  font-size: 25px;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.what-interest-section{height:100%; overflow:hidden; text-align:center;}
.what-interest-section h2 span.text{background: #ffffff none repeat scroll 0 0;
padding: 0 20px;
position: relative;}
.what-interest-section h2 span.line{border-bottom: 3px dotted #c5de8a;
bottom: 43%;
height: 1px;
left: 0;
position: absolute;
text-align: center;
width: 100%;}

.what-interest-section h2 {
  color: #c5de8a;
font-size: 45px;
font-weight: 900;
margin: 10px 0 0;
position: relative;
text-align: center;
margin-top:90px;
}

.what-interest-section h4 {
  color: #aac175;
  font-size: 11px;
  font-style: italic;
}

.what-interest-section h4 a {
  color: #68afb0;
  text-decoration: underline;
  margin:0px;
}
.col-md-6.col-sm-6.no-pad.grid-box-1,
.col-md-6.col-sm-6.no-pad.grid-box-2,
.col-md-6.col-sm-6.no-pad.grid-box-3,
.col-md-6.col-sm-6.no-pad.grid-box-4,
.col-md-6.col-sm-6.no-pad.grid-box-5,
.col-md-6.col-sm-6.no-pad.grid-box-6
 {
  position: relative;
}


.hover-caption {
  background: rgba(54, 54, 54, 0.8) none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  text-align:left;
  color:#ffffff;
  padding:30px;
}

.hover-caption > h3 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}
.hover-caption h5 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 100;
  margin: 10px 0;
  text-align: left;
  text-transform: uppercase;
}

.hover-caption p {
  color: #ffffff;
  font-size: 11px;
  text-align: left;
  margin:30px 0px;
}

.btn.btn-view-group {
  background: #71bdbd none repeat scroll 0 0;
}

.grid-box-5 .hover-caption-2 {
  height: 100%;
  padding: 20px;
  position: absolute;
  top: 0; 
  width: 100%;
}

.hover-caption-2 > h3 {
  color: #ffffff;
font-size: 29px;
font-weight: 900;
margin: 0;
padding: 90px 0 30px;
text-transform: uppercase;
}

.what-interest-section .content {
  padding-top: 45px;
}
.btn.btn-search-all-category {
  background: #6FBDBF none repeat scroll 0 0;
  height: 45px;
  margin-right: 142px;
  margin-top: 0px;
  text-align: center;
  width: 160px;
  text-transform: uppercase;
  position:absolute;
  bottom:30px;
}
.btn.btn-search-all-categorys {  background: #b9d98f none repeat scroll 0 0;}
.btn.btn-search-all-category:hover{  background: none repeat scroll 0 0; color:#ffffff;}
.btn.btn-search-all-categorys:hover{  background: none repeat scroll 0 0; color:#ffffff;}
.magnifyglass {height:50px; margin-top: -50px;}

.how-it-work{overflow:hidden; width:100%;}
.how-it-work .full-container{overflow:hidden; background:#74cdce; width:100%; margin-top:95px; padding:75px 0px; text-align:center;}
.how-it-work h2 span.text{position:relative; padding:0px 20px; background:#ffffff;}
.how-it-work h2 span.line{border-bottom: 3px dotted #74cdce;
bottom: 43%;
height: 1px;
left: 0;
position: absolute;
text-align: center;
width: 100%;}

.how-it-work h2 {
  color: #74cdce;
font-size: 45px;
font-weight: 900;
margin: 95px 0 0;
position: relative;
text-align: center;
text-transform:uppercase;
}

.step {
color: #ffffff;
display: block;
font-size: 67px;
font-weight: 900;
line-height: 60px;
margin: 10px 0;
text-transform: uppercase;
width: 100%;
}

.how-it-work p {
  color: #ffffff;
  display: block;
  font-size: 17px;
  line-height: 18px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 250px;
}

.step-icon-1{opacity:0.5;}
.step-icon-2{opacity:0.8;}

.let-social-section{overflow:hidden; width:100%;}
.let-social-section h2 span.text{background:#ffffff; padding:0px 20px; position:relative; color:#c3dd89}
.let-social-section h2 span.line{border-bottom: 3px dotted #74cdce;
bottom: 43%;
height: 1px;
left: 0;
position: absolute;
text-align: center;
width: 100%;}

.let-social-section h2 {
color: #747579;
font-size: 45px;
font-weight: 900;
margin: 75px 0 0;
position: relative;
text-align: center;
text-transform:uppercase;
margin-bottom:90px;
}
.social-icon > img{
   width: 26px;
   height:26px;

}
.fb-inner-box {  margin: 0 auto;  width: 340px;}
.tw-inner-box {  margin: 0 auto;  width: 340px;}

.tw-box{background:url(../img/twitter-bg-icon.png) no-repeat scroll 15% 0;  
height: 600px;
  padding-top: 30px !important;}
.fb-box{ background: rgba(0, 0, 0, 0) url("../img/fb-bg-icon.png") no-repeat scroll 15% 0;
  height: 600px;
  padding-top: 30px !important;}

.fb-inner-box > h3 {  color: #74cdce;  font-size: 25px;  font-weight: 900;  margin: 0 0 20px;  text-align: center;  text-transform: uppercase;}
.tw-inner-box > h3 {  color: #74cdce;  font-size: 25px;  font-weight: 900;  margin: 0 0 20px;  text-align: center;  text-transform: uppercase;}

.let-social-section .media-heading {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 0;
}

.let-social-section .fb-box .media {
  border-top: 2px solid #c7ebeb;
  padding-top: 10px;
}

.twitter-content {
  height: 326px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.fb-content {
  height: 326px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.let-social-section .twitter-content .media {
  border-top: 2px solid #c7ebeb;
  padding-top: 10px;
}







/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}



    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }


.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
  background: #74cdce none repeat scroll 0 0;
  border-radius: 20px;
  display: block;
  height: 6px;
  margin: 5px 7px;
  opacity: 1;
  width: 6px;
}

.owl-theme .owl-controls .owl-page.active span {
  background: #74cdce none repeat scroll 0 0;
  border-radius: 20px;
  display: block;
  height: 10px;
  margin: 5px 7px;
  opacity: 1;
  width: 10px;
}


.owl-controls {
  -moz-user-select: none;
  margin: 20px auto 0;
  width: 70px;
}

.what-is-section {
  border-top: 2px dotted #757779;
  overflow: hidden;
  padding-top: 95px;
  width: 100%;
  padding-bottom:75px;
}

.what-is-section .left-box > h1 {
  color: #c3dd89;
  font-size: 25px;
  font-weight: 900;
  text-transform: uppercase;
  margin:0px 0px 20px 0px;
}

.what-is-section .left-box > h2 {
  color: #74cdce;
  font-size: 17px;
  font-weight: 900;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.what-is-section .left-box > p {
  font-size: 11px;
}

.what-is-section .left-box > h5 {
  font-size: 11px;
  font-weight: 900; 
}

footer{background:#363636; width:100%; overflow:hidden; padding:35px 0px;}
.nav.navbar-nav.navbar-right.foot-menu a {  color: #ffffff;  font-size: 11px; padding-top:0px;}
.nav.navbar-nav.navbar-right.foot-menu a:hover{background:none;  color: #ffffff; text-decoration:underline;}
.social-footer-menu{list-style:none; padding:0px; margin:0px; float:right;}
.social-footer-menu li{float:left; margin-right:5px;}
.copyright{color:#ffffff; text-align:right; font-size:11px; margin-top:10px;}

.what-interest-section .no-pad.grid-box-1 > img {width: 100%;}
.what-interest-section .no-pad.grid-box-2 > img {width: 100%;}
.what-interest-section .no-pad.grid-box-3 > img {width: 100%;}
.what-interest-section .no-pad.grid-box-4 > img {width: 100%;}
.what-interest-section .no-pad.grid-box-5 > img {width: 100%;}
.what-interest-section .no-pad.grid-box-6 > img {width: 100%;}



/*Group Details Page*/
.location-bar{width:100%; padding:5px 0px; background:#85d3d4; color:#ffffff; height:37px;}
.location-bar .location-name{text-align:left;}
.change-location-btn.btn {
 background: #ffffff none repeat scroll 0 0;
border: medium none;
color: #85d3d4;
display: inline-block;
font-size: 12px;
font-style: normal;
height: 24px;
line-height: 12px;
text-transform: uppercase;
margin-top:4px;
}

.location-form .search-form {
  display: inline;
}

.location-form .form-inline.search-form .form-control {
font-size: 10px;
height: 24px;
padding: 0 10px;
width:175px;
margin-top:4px;
}

.location-form .form-inline.search-form  .btn-search {
  background: rgba(0, 0, 0, 0) url("../img/search-btn.png") repeat scroll 0 0 / 100% auto;
  border: medium none;
  font-size: 0;
  height: 23px;
  width: 23px;
  margin-top:5px;
}

.location-name > span {
display: block;
font-size: 12px;
height: 30px;
line-height: 28px;
}

.group-details{padding-top:100px; padding-bottom:100px; overflow:hidden;}

.thumb-img > img {
  width: 100%;
}
.upcoming-events {
  padding-top: 90px;
  width: 100%;
}
.upcoming-events h3 {
  color: #85d3d4;
  font-size: 31px;
  font-weight: 900;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}

.event-list > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}


.event-list li {
  border-top: 1px solid #85d3d4;
  padding: 10px 0;
  overflow:hidden;
}
.event-list li:last-child{border-bottom:1px solid #85d3d4;}

.date-box {
  background: #85d3d4 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
float: left;
height: 50px;
padding: 0;
text-align: center;
width: 50px;
line-height:22px;
}

.date-box .month {
  font-size: 16px;
  font-weight: 900;
}

.date-box .date {
  font-size: 30px;
  font-weight: 900;
}

.upcoming-event-text h4 {
  color: #85d3d4;
  font-size: 22px;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.upcoming-event-text {
  float: left;
  padding-left: 10px;
}

.btn.view-all-events-btn {
  background: #85d3d4 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  display: inline-block;
  margin: 20px auto;
  padding: 10px 16px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom:0px;
}

.gallery-box img{width:100%; height:145px !important; border:none !important;}

.bottom-gallery {
  overflow: hidden;
  padding-bottom: 70px;
  clear:both;
}

.heading-title h1 {
  color: #85d3d4;
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.heading-title h2 {
  color: #a6bb78;
  font-size: 18px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.calender-btn.btn {
  background: #cae197 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  text-transform: uppercase;
  font-size:14px;
}

.join-group-btn.btn {
  background: #85d3d4 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  text-transform: uppercase;
  font-size:14px;
}
.social-btn img {
  width: 250px;
}
.calender-box .panel-body {
  padding: 0;
}
.event-full-details {
  margin-bottom: 100px;
  overflow: hidden;
}
.post-content{margin-top:20px;}
.calender-box{width:100%; margin-top:20px;}
.calender-box img{width:100%;}
#backtop {
  position: fixed;
  left:auto;
  right: 20px;
  top:auto;
  bottom: 20px;
  outline: none;
  overflow:hidden;
  color:#fff;
  text-align:center;
  background-color:rgba(49,79,96,0.84);
  height:40px;
  width:40px;
  line-height:40px;
  font-size:14px;
  border-radius:2px;
  cursor:pointer;
  transition:all 0.3s linear;
  z-index:999999;
  opacity:1;  
  display:none;
}
#backtop:hover {
background-color:#27CFC3;
}
#backtop.mcOut {
opacity:0;
}

.event-full-date {
    background: #85d3d4 none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    height: 250px;
    width: 250px;
}
.event-right-details {
  padding-left: 70px;
}
.event-full-date .month {
    color: #ffffff;
    font-size: 85px;
    font-weight: 900;
    text-align: center;
}

.event-full-date .day {
    color: #ffffff;
    font-size: 135px;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
}
.btn.rsvp-btn {
    background: #cae197 none repeat scroll 0 0;
    border: medium none;
    margin-top: 15px;
    padding: 10px 0;
    width: 175px;
}
.btn.share-btn {
    background: #cae197 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    float: right;
    margin-top: 10px;
    text-transform: uppercase;
}
.event-title-name {
    color: #85d3d4;
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.group-details .ng-scope {
  margin-bottom: 20px;
  overflow: hidden;
}

.location-bar .container {
  max-width: calc(1400px - 80px);
}
.col-md-8.col-xs-12.col-sm-12.col-lg-8.text-right.location-form {
  padding-right: 30px;
}
.group-details .container {
  max-width: calc(1400px - 80px);
}
.col-md-4.col-xs-12.col-sm-12.col-lg-4.location-name {
  padding-left: 30px;
}



@media (min-width: 1200px) {
nav .container { max-width:calc(1400px - 80px); min-height:80px; padding:0px;}
nav{padding:0px 40px;}
.social-menu.navbar-right{margin-right:0px; padding-left:30px; align-items: center; height:100px; margin-top:0px; display: flex;}
.navbar-right.top-menu{align-items: center; height:100px; padding-top:0px; margin-top:0px; display: flex;}

}

@media (max-width: 1010px) {
.location-bar{height:auto;}

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, .forlogin{
         margin-top:16px;
        }
    ::i-block-chrome, .navbar-default{
    padding-top: 25px !important;
    height: 90px;
    }
}

@media (min-width: 800px){
        .lets-started-form .box-1 > h1{
            font-size:42px !important;
        }
    }
    
    .editable-error{
        text-align: left !important;
    }

 .agree-class{
    padding-bottom: 20px !important;
    position: relative !important;
}
#acceptTerms-error{
    bottom: 0;
    position: absolute;
}
