@media screen and (min-width: 200px) and (max-width:767px) {
.navbar-brand {
  height: auto;
  padding: 10px;
}
.navbar-fixed-top {
  position: relative; 
  margin-bottom:0px;
}
.page-wrapper {
  padding-top: 0;
}
.navbar-collapse{background:#363636;}
.nav.navbar-nav.navbar-right.social-menu > li {  float: left;}
.footer-logo img{max-width:280px;}
.lets-started-form .box-1 {
  background: #74cece none repeat scroll 0 0;
  height:auto;
  padding: 20px;
  position: relative;
  text-align: center;
}
.lets-started-form .box-1::before {
  display:none;
}

.navbar-toggle{margin-top:30px;}

.btn.btn-start {
  margin-bottom: 10px;
  margin-right: 0;
}
.lets-started-form .box-2 {
  background: #68b0af none repeat scroll 0 0;
  height: auto;
  padding: 20px;
  text-align: center;
}

.form-inline.search-form .form-control {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  height: 48px;
  margin-right: 0;
  width: 100%;
}
.form-inline.search-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.live-the-bevylife .caption {
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  border-radius: 80px;
  height: 127px;
  left: 0;
  margin: auto;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 18%;
  width: 86%;
}
.live-the-bevylife .caption h2 {font-size: 27px;}
.live-the-bevylife .caption h3 {font-size: 13px;}
.what-interest-section h2{margin-top:20px;}
.what-interest-section h2 span::after {
  display:none;
}

.what-interest-section .content {
  padding-top: 20px;
}
.col-md-6.col-sm-6.no-pad.grid-box-1 > img{  width: 100%;}
.grid-box-2 > img{  width: 100%;}
.grid-box-3 > img{  width: 100%;}
.grid-box-4 > img{  width: 100%;}
.grid-box-5 > img{  width: 100%;}
.grid-box-6 > img{  width: 100%;}
.hover-caption {
  position: static;
}

.how-it-work h2 {
  margin: 20px 0 0;
}
.how-it-work h2 span::after{display:none;}
.how-it-work .full-container {
  background: #74cdce none repeat scroll 0 0;
  margin-top: 20px;
  overflow: hidden;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}

.how-it-work .box-1 {  margin-bottom: 50px;}
.how-it-work .box-2 {  margin-bottom: 50px;}
.let-social-section h2 {  margin: 20px 0;}
.let-social-section h2 span::after{display:none;}
.fb-box {  height: auto;}
.tw-box {  height: auto;}
.what-is-section {
  border-top: 2px dotted #757779;
  margin-top: 30px;
  overflow: hidden;
  padding: 20px 0;
  width: 100%;
}
.social-footer-menu {
  float: none;
  list-style: outside none none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}



}



@media screen and (min-width: 768px) and (max-width:1023px) {
.navbar-fixed-top, .navbar-fixed-bottom {
  height: auto !important;
  left: 0;
  position: static;
  right: 0;
  z-index: 1030;
  margin-bottom:0px;
}
.page-wrapper {
  padding-top: 10px;
}

.hover-caption-2 > h3 {
  font-size: 18px;  
}

.how-it-work p {
  padding: 0 20px;
}



}