<!-- main content -->
<div id="content">
    <div id="sortable-panel" class="">

        <div id="titr-content" class="col-md-12" >
            <h2>Dashboard</h2>
            

        </div>

        <!-- Admin over view .col-md-12 -->
        <div class="col-md-12 ">
            <div class="panel panel-default" ng-init="get_data()">
                <div class="panel-body" ng-init="list()">
                    <i class="glyphicon glyphicon-stats" ></i>
                        <b>Admin Overview</b></br><br>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="well well text-center">
                                        <span class="h1 shadow-block no-margin purple"><b>{{data.total_user}}</b></span>
                                            <span class="text-center">
                                                <i class="fa fa-user text-muted"></i>
                                            </span>
                                        <span class="text-muted"><b>Users</b></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="well well text-center">
                                        <span class="h1 shadow-block no-margin green"><b>{{data.total_group}}</b></span>
                                            <span class="text-center">
                                                <i class="fa fa-users text-muted"></i>
                                            </span>
                                        <span class="text-muted"><b>Groups</b></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="well well text-center">
                                        <span class="h1 shadow-block no-margin darkblue"><b>{{data.total_event}}</b></span>
                                            <span class="text-center">
                                                <i class="fa fa-rss text-muted"></i>
                                            </span>
                                        <span class="text-muted"><b>Events</b></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                   <div class="well well text-center">
                                        <span class="h1 shadow-block no-margin orange"><b>{{data.total_trans}}</b></span>
                                            <span class="text-center">
                                                <i class="fa fa-usd text-muted"></i>
                                            </span>
                                        <span class="text-muted"><b>Transactions</b></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div><!--
             <!--end panel--> 
        </div>
        <!-- /end Admin over view .col-md-12 -->

        <!-- widget progress .col-md-12 -->
        
        <!-- /end widget progress .col-md-12 -->

        <!-- Activity tab panel .col-md-6 -->
        <div class="col-md-6 layout no-padding">
            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <div class="panel-body no-padding">
                        <div class="tabbable tabs-above ">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" data-target="#one" data-toggle="tab">
                                        <i class="fa fa-users success"></i>
                                        Last Groups
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content " style="height: 380px; overflow: scroll;">
                                <div class="tab-pane active" id="one">
                                    <div class="table-responsive">
                                        <table class="table  table-striped">
                                            <thead>
                                                <tr>
                                                    <th width="5%">#</th>
                                                    <th width="20%">Group Name</th>
                                                    <th width="40%">Location</th>
                                                    <th width="20%">Owner Name</th>
                                                    <th width="15%">Status</th>
<!--                                                    <th width="20%">Balance</th>-->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="group in groups | limitTo:8">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{group.name}}</td>
                                                    <td>{{group.state}},{{group.city}}</td>
                                                    <td>{{group.owner_name}}</td>
                                                    <td>
                                                        <span ng-if="group.status==0" class="label label-table label-danger"><b>Inactive</b></span>
                                                        <span ng-if="group.status==1" class="label label-table label-success"><b>Active</b></span>
                                                        <span ng-if="group.status==2" class="label label-table label-info"><b>Pending</b></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <button class="btn btn-link btn-block margin-b-0" ui-sref="admin.groups">View All</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-6 -->

            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <div class="panel-body no-padding">
                        <div class="tabbable tabs-above ">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" data-target="#one" data-toggle="tab">
                                        <i class="fa fa-usd success"></i>
                                        Last Transactions
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content " style="height: 380px; overflow: scroll;">
                                <div class="tab-pane active" id="one">
                                    <div class="table-responsive">
                                        <table class="table  table-striped">
                                            <thead>
                                            <tr>
                                                <th>Membership Plan</th>
                                                <th>Name</th>
                                                <th>User Type</th>
                                                <th>Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="transaction in trans | limitTo:8">
                                                <td style="text-transform: capitalize;">{{transaction.plan_name}}-{{transaction.type}}</td>
                                                <td>{{transaction.first_name}}</td>
                                                <td>
                                                    <span ng-if="transaction.user_type_id==2">Group Member</span>
                                                    <span ng-if="transaction.user_type_id==3">Group Owner</span>
                                                    <span ng-if="transaction.user_type_id==1">Admin</span>
                                                </td>
                                                <td>$ {{transaction.amount  / 100}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <button class="btn btn-link btn-block margin-b-0" ui-sref="admin.transactions">View All</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-6 -->
        </div>
        <!-- /end Activity tab panel .col-md-6 -->

        <div class="col-md-6 layout no-padding">
            <div class="col-md-12 ">
                <div class="panel panel-default">
                    <div class="panel-body no-padding">
                        <div class="tabbable tabs-above ">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" data-target="#one" data-toggle="tab">
                                        <i class="fa fa-user success"></i>
                                        Last Users
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content " style="height: 380px; overflow: scroll;">
                                <div class="tab-pane active" id="one">
                                    <div class="table-responsive">
                                        <table class="table  table-striped">
                                            <thead>
                                            <tr>
                                                <th width="5%">#</th>
                                                <th width="15%">User Name</th>
                                                <th width="25%">User Type</th>
                                                <!--<th width="15%">Payment Status</th>-->
                                                <th width="10%">Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user in users | limitTo:8">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{user.first_name}}{{user.last_name}}</td>
                                                    
                                                    <td>{{user.member_type}}</td>
<!--                                                    <td>
                                                        <span ng-if="user.payment_status==0" class="label label-table label-danger"><b>Not Paid</b></span>
                                                        <span ng-if="user.payment_status==1" class="label label-table label-success"><b>Paid</b></span>
                                                    </td>-->
                                                    <td>
                                                        <span ng-if="user.status==0" class="label label-table label-danger"><b>Inactive</b></span>
                                                        <span ng-if="user.status==1" class="label label-table label-success"><b>Active</b></span>
                                                        <span ng-if="user.status==2" class="label label-table label-info"><b>Pending</b></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <hr>
                                        <button class="btn btn-link btn-block margin-b-0" ui-sref="admin.users">View All</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-12 -->

            <div class="col-md-12 no-padding">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <div full-calendar></div>
                        <div style="clear:both"></div>

                    </div>

                </div>
                <!-- end panel -->
            </div>
            <!-- end .col-md-12 -->

        </div>

    </div>
    <!-- end col-md-12 -->
</div><!-- end #content -->
