<div class="">
    <div style="margin: 5% auto; position: relative; width: 400px;">
        <!-- this is demo - you can remove it -->
        <!--div class="alert alert-warning">
            <label>User : yep@gmail.com</label><br>
            <label>Password : 123456</label>
        </div-->

        <div id="forget-form" class="panel panel-default animated ">
            <div class="panel-body">
                <button class="btn btn-link has-ripple" ui-sref="login"><i class="fa fa-arrow-left"></i></button>
                <div class="text-center">
                    <h2>Forget Password</h2>
                    <!--h5 class="grey">Reset password your account</h5-->
                    <br>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <fieldset ng-disabled="isDisabled">
                                <form>
                                    <div class="spacing hidden-md"></div>
                                    <div  class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input ng-model="resetemail" type="email" class="form-control" required  placeholder="Enter Your Email">
                                    </div>
                                    <div class="spacing"><br></div>
                                    <button ng-click="forget(resetemail)" class="btn btn-info btn-sm pull-right">{{send_text}}</button>
                                </form>
                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>



    <p class="text-center">Copyright 2016 Bevylife. All right reserved.</p>
    </div>

</div>


<!-- Yeptemplate css --><!-- Please use *.min.css in production -->
    <link id="yep-style" rel="stylesheet" href="../assets/css/yep-style.css">
    <link rel="stylesheet" href="../assets/css/yep-vendors.css">
    <link rel="stylesheet" href="../assets/css/yep-custom.css">