<ol class="breadcrumb">
    <li ng-repeat="step in steps" ng-class="{active: $last}" ng-switch="$last || !!step.abstract">
        <a ng-switch-when="false">{{step.ncyBreadcrumbLabel | translate}}</a>
        <span ng-switch-when="true">{{step.ncyBreadcrumbLabel | translate}}</span>
    </li>
</ol>