<div class="col-md-12 ">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Wellcome to Yep ngLaravel</h3>

            <p>This is sample app to work with AngularJS and Laravel based on JSON Web Token Security. We integrate JWT security laravel back-end with angularjs front-end. Also you can just use Laravel back-end for your production like mobile app and etc. Now you can test my api with <b>Postman</b> RESTful client.</p>
            <br>
            <h4>What's Postman?</h4>
            <p>Powerful tools to work, build, test and document your APIs easily and quickly.</p>
            <br>
            <h4>How to Install Postman?</h4>
            <p>In Google Chrome browser setting select <b>Extensions</b>. Click the <b>Get More Extensions</b> link on the page and search for Postman. Follow the directions to install the extension and Then go to url <code>chrome://apps/</code> run it.</p>
            <br>
            <img src="../assets/img/gallery/postman.jpg" alt="postman" class="img-responsive">
            <br>
            <br>
            <h4>Create Token by authntication</h4>
            <p>
                Enter this url <code>http://188.40.252.106/ng-laravel/CURRENT_VERSION/Developer/laravel-backend/public/api/authenticate?email=yep@gmail.com&password=123456</code> and copy and keep token to future requests.
            </p>
            <p>
                Please note base url API is <code>http://188.40.252.106/ng-laravel/CURRENT_VERSION/Developer/laravel-backend/public/api/</code> and for authentication you should use <code>authenticate</code> and use <code>email</code> and <code>password</code> parameters.
            </p>
            <img src="../assets/img/gallery/postman-auth.jpg" alt="postman-auth" class="img-responsive">
            <br>
            <br>
            <h4>How to access to other API</h4>
            <p>
                To access other API:
                <br>
                1.you should create token with above way and then copy token
                <br>
                2.Enter your route with token parameter like: <code>http://188.40.252.106/ng-laravel/CURRENT_VERSION/Developer/laravel-backend/public/api/user?token=YOUR_COPY_TOKEN</code>
                <br>
                3.See result :)
            </p>
            <br>
            <h4>All route in ngLaravel</h4>
                                <pre>+--------+----------+----------------------------------+------------------------+----------------------------------------------------------+------------+
| Domain | Method   | URI                              | Name                   | Action                                                   | Middleware |
+--------+----------+----------------------------------+------------------------+----------------------------------------------------------+------------+
|        | GET|HEAD | api/authenticate                 | api.authenticate.index | App\Http\Controllers\AuthenticateController@index        |            |
|        | POST     | api/authenticate                 |                        | App\Http\Controllers\AuthenticateController@authenticate |            |
|        | POST     | api/category                     | api.category.store     | App\Http\Controllers\CategoryController@store            | jwt.auth   |
|        | GET|HEAD | api/category                     | api.category.index     | App\Http\Controllers\CategoryController@index            | jwt.auth   |
|        | GET|HEAD | api/category/create              | api.category.create    | App\Http\Controllers\CategoryController@create           | jwt.auth   |
|        | GET|HEAD | api/category/{category}          | api.category.show      | App\Http\Controllers\CategoryController@show             | jwt.auth   |
|        | PUT      | api/category/{category}          | api.category.update    | App\Http\Controllers\CategoryController@update           | jwt.auth   |
|        | DELETE   | api/category/{category}          | api.category.destroy   | App\Http\Controllers\CategoryController@destroy          | jwt.auth   |
|        | PATCH    | api/category/{category}          |                        | App\Http\Controllers\CategoryController@update           | jwt.auth   |
|        | GET|HEAD | api/category/{category}/edit     | api.category.edit      | App\Http\Controllers\CategoryController@edit             | jwt.auth   |
|        | GET|HEAD | api/comment                      | api.comment.index      | App\Http\Controllers\CommentController@index             | jwt.auth   |
|        | POST     | api/comment                      | api.comment.store      | App\Http\Controllers\CommentController@store             | jwt.auth   |
|        | GET|HEAD | api/comment/create               | api.comment.create     | App\Http\Controllers\CommentController@create            | jwt.auth   |
|        | GET|HEAD | api/comment/search               |                        | App\Http\Controllers\CommentController@search            | jwt.auth   |
|        | PUT      | api/comment/{comment}            | api.comment.update     | App\Http\Controllers\CommentController@update            | jwt.auth   |
|        | DELETE   | api/comment/{comment}            | api.comment.destroy    | App\Http\Controllers\CommentController@destroy           | jwt.auth   |
|        | GET|HEAD | api/comment/{comment}            | api.comment.show       | App\Http\Controllers\CommentController@show              | jwt.auth   |
|        | PATCH    | api/comment/{comment}            |                        | App\Http\Controllers\CommentController@update            | jwt.auth   |
|        | GET|HEAD | api/comment/{comment}/edit       | api.comment.edit       | App\Http\Controllers\CommentController@edit              | jwt.auth   |
|        | POST     | api/deleteimage/{id}             |                        | App\Http\Controllers\UploadController@deleteUpload       |            |
|        | GET|HEAD | api/gallery                      | api.gallery.index      | App\Http\Controllers\GalleryController@index             | jwt.auth   |
|        | POST     | api/gallery                      | api.gallery.store      | App\Http\Controllers\GalleryController@store             | jwt.auth   |
|        | GET|HEAD | api/gallery/create               | api.gallery.create     | App\Http\Controllers\GalleryController@create            | jwt.auth   |
|        | GET|HEAD | api/gallery/search               |                        | App\Http\Controllers\GalleryController@search            | jwt.auth   |
|        | PATCH    | api/gallery/{gallery}            |                        | App\Http\Controllers\GalleryController@update            | jwt.auth   |
|        | DELETE   | api/gallery/{gallery}            | api.gallery.destroy    | App\Http\Controllers\GalleryController@destroy           | jwt.auth   |
|        | GET|HEAD | api/gallery/{gallery}            | api.gallery.show       | App\Http\Controllers\GalleryController@show              | jwt.auth   |
|        | PUT      | api/gallery/{gallery}            | api.gallery.update     | App\Http\Controllers\GalleryController@update            | jwt.auth   |
|        | GET|HEAD | api/gallery/{gallery}/edit       | api.gallery.edit       | App\Http\Controllers\GalleryController@edit              | jwt.auth   |
|        | POST     | api/password/email               |                        | App\Http\Controllers\Auth\PasswordController@postEmail   |            |
|        | POST     | api/password/reset               |                        | App\Http\Controllers\Auth\PasswordController@postReset   |            |
|        | POST     | api/permission                   | api.permission.store   | App\Http\Controllers\PermissionController@store          | jwt.auth   |
|        | GET|HEAD | api/permission                   | api.permission.index   | App\Http\Controllers\PermissionController@index          | jwt.auth   |
|        | GET|HEAD | api/permission/create            | api.permission.create  | App\Http\Controllers\PermissionController@create         | jwt.auth   |
|        | GET|HEAD | api/permission/search            |                        | App\Http\Controllers\PermissionController@search         | jwt.auth   |
|        | DELETE   | api/permission/{permission}      | api.permission.destroy | App\Http\Controllers\PermissionController@destroy        | jwt.auth   |
|        | PUT      | api/permission/{permission}      | api.permission.update  | App\Http\Controllers\PermissionController@update         | jwt.auth   |
|        | PATCH    | api/permission/{permission}      |                        | App\Http\Controllers\PermissionController@update         | jwt.auth   |
|        | GET|HEAD | api/permission/{permission}      | api.permission.show    | App\Http\Controllers\PermissionController@show           | jwt.auth   |
|        | GET|HEAD | api/permission/{permission}/edit | api.permission.edit    | App\Http\Controllers\PermissionController@edit           | jwt.auth   |
|        | POST     | api/role                         | api.role.store         | App\Http\Controllers\RoleController@store                | jwt.auth   |
|        | GET|HEAD | api/role                         | api.role.index         | App\Http\Controllers\RoleController@index                | jwt.auth   |
|        | GET|HEAD | api/role/create                  | api.role.create        | App\Http\Controllers\RoleController@create               | jwt.auth   |
|        | GET|HEAD | api/role/search                  |                        | App\Http\Controllers\RoleController@search               | jwt.auth   |
|        | DELETE   | api/role/{role}                  | api.role.destroy       | App\Http\Controllers\RoleController@destroy              | jwt.auth   |
|        | PATCH    | api/role/{role}                  |                        | App\Http\Controllers\RoleController@update               | jwt.auth   |
|        | PUT      | api/role/{role}                  | api.role.update        | App\Http\Controllers\RoleController@update               | jwt.auth   |
|        | GET|HEAD | api/role/{role}                  | api.role.show          | App\Http\Controllers\RoleController@show                 | jwt.auth   |
|        | GET|HEAD | api/role/{role}/edit             | api.role.edit          | App\Http\Controllers\RoleController@edit                 | jwt.auth   |
|        | POST     | api/tag                          | api.tag.store          | App\Http\Controllers\TagController@store                 | jwt.auth   |
|        | GET|HEAD | api/tag                          | api.tag.index          | App\Http\Controllers\TagController@index                 | jwt.auth   |
|        | GET|HEAD | api/tag/create                   | api.tag.create         | App\Http\Controllers\TagController@create                | jwt.auth   |
|        | GET|HEAD | api/tag/search                   |                        | App\Http\Controllers\TagController@search                | jwt.auth   |
|        | DELETE   | api/tag/{tag}                    | api.tag.destroy        | App\Http\Controllers\TagController@destroy               | jwt.auth   |
|        | PATCH    | api/tag/{tag}                    |                        | App\Http\Controllers\TagController@update                | jwt.auth   |
|        | GET|HEAD | api/tag/{tag}                    | api.tag.show           | App\Http\Controllers\TagController@show                  | jwt.auth   |
|        | PUT      | api/tag/{tag}                    | api.tag.update         | App\Http\Controllers\TagController@update                | jwt.auth   |
|        | GET|HEAD | api/tag/{tag}/edit               | api.tag.edit           | App\Http\Controllers\TagController@edit                  | jwt.auth   |
|        | GET|HEAD | api/task                         | api.task.index         | App\Http\Controllers\TaskController@index                | jwt.auth   |
|        | POST     | api/task                         | api.task.store         | App\Http\Controllers\TaskController@store                | jwt.auth   |
|        | GET|HEAD | api/task/create                  | api.task.create        | App\Http\Controllers\TaskController@create               | jwt.auth   |
|        | GET|HEAD | api/task/search                  |                        | App\Http\Controllers\TaskController@search               | jwt.auth   |
|        | PATCH    | api/task/{task}                  |                        | App\Http\Controllers\TaskController@update               | jwt.auth   |
|        | DELETE   | api/task/{task}                  | api.task.destroy       | App\Http\Controllers\TaskController@destroy              | jwt.auth   |
|        | GET|HEAD | api/task/{task}                  | api.task.show          | App\Http\Controllers\TaskController@show                 | jwt.auth   |
|        | PUT      | api/task/{task}                  | api.task.update        | App\Http\Controllers\TaskController@update               | jwt.auth   |
|        | GET|HEAD | api/task/{task}/edit             | api.task.edit          | App\Http\Controllers\TaskController@edit                 | jwt.auth   |
|        | POST     | api/uploadimage                  |                        | App\Http\Controllers\UploadController@uploadimage        |            |
|        | GET|HEAD | api/user                         | api.user.index         | App\Http\Controllers\UserController@index                | jwt.auth   |
|        | POST     | api/user                         | api.user.store         | App\Http\Controllers\UserController@store                | jwt.auth   |
|        | GET|HEAD | api/user/create                  | api.user.create        | App\Http\Controllers\UserController@create               | jwt.auth   |
|        | GET|HEAD | api/user/search                  |                        | App\Http\Controllers\UserController@search               | jwt.auth   |
|        | PUT      | api/user/{user}                  | api.user.update        | App\Http\Controllers\UserController@update               | jwt.auth   |
|        | PATCH    | api/user/{user}                  |                        | App\Http\Controllers\UserController@update               | jwt.auth   |
|        | GET|HEAD | api/user/{user}                  | api.user.show          | App\Http\Controllers\UserController@show                 | jwt.auth   |
|        | DELETE   | api/user/{user}                  | api.user.destroy       | App\Http\Controllers\UserController@destroy              | jwt.auth   |
|        | GET|HEAD | api/user/{user}/edit             | api.user.edit          | App\Http\Controllers\UserController@edit                 | jwt.auth   |
+--------+----------+----------------------------------+------------------------+----------------------------------------------------------+------------+

                                </pre>
        </div>
    </div>
</div>
