<style>
 .preloader{
   background: url("assets/img/preloader/ajax-loader.gif") no-repeat scroll center center #FFF;
   background-color: #363636;
   width: 100%;
   height: 100%;
   position: fixed;
   z-index: 999;
   text-align:center;
   opacity: 0.5;
    }   
    
  
</style>    

<!-- Bootstrap core CSS -->
<link href="assets/home/css/bootstrap.css" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

<!-- Custom styles for this template -->
<link href="assets/home/css/custom.css" rel="stylesheet">
<link href="assets/home/css/responsive.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,900" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
/ Add your own MailChimp form style overrides in your site stylesheet or in this style block.
We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. /
</style>

<div  class="preloader" ng-show="loader"></div>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="registered.index"><img src="assets/home/img/logo.png" alt="company Logo"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right social-menu">
                <li><a target="_blank" href="https://www.facebook.com/Bevylife-1663461277280424" class="social-icon" style="background: transparent !important; outline: none;"><img src="assets/home/img/fb-icon.png"/></a></li>
<!--                <li><a class="social-icon"><img src="assets/home/img/twitter-icon.png"/></a></li>
                <li><a class="social-icon"><img src="assets/home/img/google-plus-icon.png"/></a></li>-->
                <li><a target="_blank" href="https://www.instagram.com/bevylife/" class="social-icon" style="background: transparent !important; outline: none;"><img src="assets/home/img/instagram-icon.png"/></a></li>
                <!--<li><a class="social-icon"><img src="assets/home/img/snapchat-icon.png"/></a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right social-menu">
                <li class="dropdown">

                    <a  href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- profile user name -->
                        <img alt="img" ng-src="{{profile.avatar_url !== '' && 'laravel-backend/public/uploads/' + profile.avatar_url|| 'laravel-backend/public/uploads/no_avatar.jpg'}}" height="50" width="50" class="getdata img-circle" />


                        <strong class="caret"></strong>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-if="bothMember=='Yes'"><a ui-sref="registered.dashboard">Dashboard</a></li>
                        <li ng-if="bothMember=='Yes'"><a ui-sref="registered.joined">My Groups</a></li>
                        <li ng-if="groupOwner=='Yes'"><a ui-sref="registered.dashboard">Dashboard</a></li>
                        <li ng-if="groupMember=='Yes'"><a ui-sref="registered.joined">Member of (Groups)</a></li>
                        <li ng-if="groupMember=='Yes' || bothMember=='Yes'"><a ui-sref="registered.rsvp">RSVP Info</a></li>
                        <li>
                            <a ui-sref="registered.profile" style="cursor:pointer"><span>{{'app.shared.admin.profile'| translate}}</a>
                        </li>

                        <li ng-if="setPermissionUser"> 
                            <a ui-sref="registered.category">Areas of Interest</a>
                        </li>
                        <!-- <li>
                            <a ui-sref="#">{{'app.shared.admin.messages' | translate}}<span class="badge pull-right">0</span></a>
                        </li> -->
                        <li class="divider">
                        </li>
                        <!-- sign out attribute directive 'data-signout'-->
                        <li ng-show="isAuthenticated">
                            <a href="" data-target="#" data-signout translate>app.shared.admin.signout<span class="fa fa-power-off pull-right"></span></a>
                        </li>
                    </ul>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right top-menu">

                <li><a ui-sref="registered.howitwork">How it Works</a></li>
                <li><a ui-sref="registered.browsegroup">Find a Group</a></li>
                <li><a ui-sref="registered.orgniserSignup">Start a Group</a></li>

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<section class="page-wrapper">
    <div class="container">
        <!-- Let's Start Section-->
        <div ui-view data-anim-sync="true" class="anim-in-out anim-slide-below-fade" data-anim-speed="500" >
            <div style="height:600px;"></div>
        </div>

    </div> <!-- /container -->
</section>
<footer>
    <div class="container">
        <div class="col-md-3 footer-logo">
            <img src="assets/home/img/footer-logo.png"/>
        </div>
        <div class="col-md-9">
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-right foot-menu">
                    <li><a ui-sref="registered.faqpricing" style=" background: transparent !important; outline: none;">FAQs & Pricing</a></li>
                    <li><a data-toggle="modal" data-target="#sub" style="cursor: pointer; background: transparent !important; outline: none;">Subscribe To Our Newsletter</a></li>
                    <li><a data-toggle="modal" data-target="#sugg" style="cursor: pointer; background: transparent !important; outline: none;">Suggestion Box</a></li>
                    <li><a ui-sref="registered.dodonts" style=" background: transparent !important; outline: none;">Do's and Dont's</a></li>
                    <!--<li><a href="#">Sitemap</a></li>-->
                    <li><a ui-sref="registered.latestnews" style=" background: transparent !important; outline: none;">News</a></li>
                    <li><a data-toggle="modal" data-target="#terms" data-backdrop="static" style="cursor: pointer; background: transparent !important; outline: none;">Terms of Use</a></li>
                    <li><a data-toggle="modal" data-target="#privacy" data-backdrop="static" style="cursor: pointer; background: transparent !important; outline: none;">Privacy Policy</a></li>
                    <li><a href="https://bevylife.freshdesk.com" style=" background: transparent !important; outline: none;">Support</a></li>
                </ul>
            </div>
             <!--Modal for terms of use-->
            <div class="modal fade" id="terms" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            <h4 class="modal-title" style="text-align: center;"><b>{{terms.sub_heading}}</b></h4>
                        </div>
                        <div class="modal-body">
                            <!--{{terms.description}}-->
                            <span id="terms_desc"></span>
                            <!--<div ng-bind-html="terms.description"></div>-->
                        </div>
                        <div class="modal-footer">
<!--                                <button type="button" class="btn btn-success" ng-click="sugg(suggestion)">Submit</button>-->
                            <button type="button" class="btn bevylife_cancel" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--Modal of privacy-->
            <div class="modal fade" id="privacy" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                            <h4 class="modal-title" style="text-align: center;"><b>{{privacy.sub_heading}}</b></h4>
                        </div>
                        <div class="modal-body">
                            <form name="frmEmployees" class="form-horizontal" novalidate="">
                                <div class="form-group">
                                    <!--<label for="sub" class="col-sm-3 control-label">Subject :</label>-->
                                    <div class="col-sm-12">
                                        <span id="privacy_desc"></span>
                                        <!--{{privacy.description}}-->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bevylife_cancel" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
                        <!-- Modal for suggestion -->
            <div class="modal fade" id="sugg" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" style="text-align: center;"><b>Got a Suggestion? We'd Love to hear it.</b></h4>
                        </div>
                        <div class="modal-body">
                            <form name="frmEmployees" class="form-horizontal" novalidate="">
                                <div class="form-group">
                                    <!--<label for="sub" class="col-sm-3 control-label">Subject :</label>-->
                                    <div class="col-sm-12">
                                        <textarea type="text" class="form-control" rows="4" id="inputsubject" name="suggestion" placeholder="Please send us your suggestion. Be sure to include your name and email so that we can reach you should we need further clarification or information." value="" 
                                                      ng-model="suggestion" ng-required="true"></textarea>
<!--                                        <span class="help-inline" 
                                        ng-show="frmEmployees.suggestion.$invalid && frmEmployees.contact_number.$touched" style="color: red;">* Suggestion field is required</span>-->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bevylife_next" ng-click="sugg(suggestion)">Submit</button>
                            <button type="button" class="btn bevylife_cancel" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            
                        <!-- Modal for Subscribe -->
            <div class="modal fade" id="sub" role="dialog">
                <div class="modal-dialog">

                   
                     <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <!-- Begin MailChimp Signup Form -->
                                
                                <div id="mc_embed_signup">
                                    <form action="//bevylife.us15.list-manage.com/subscribe/post?u=a35b5bea27b58c310d591b47b&amp;id=6a53c0775a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <label for="mce-EMAIL">Subscribe to our mailing list</label>
                                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a35b5bea27b58c310d591b47b_6a53c0775a" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                </div>
            </div>            
                        
            <div class="col-md-12"> 
                <ul class="social-footer-menu">
                    <li><a target="_blank" href="https://www.facebook.com/Bevylife-1663461277280424" class="social-icon" style="background: transparent !important; outline: none;"><img src="assets/home/img/fb-icon.png"/></a></li>
                    <!--                    <li><a class="social-icon"><img src="assets/home/img/twitter-icon.png"/></a></li>
                                        <li><a class="social-icon"><img src="assets/home/img/google-plus-icon.png"/></a></li>-->
                    <li><a target="_blank" href="https://www.instagram.com/bevylife/" class="social-icon" style="background: transparent !important; outline: none;"><img src="assets/home/img/instagram-icon.png"/></a></li>
                    <!--<li><a href="#" class="social-icon"><img src="assets/home/img/snapchat-icon.png"></a></li>-->
                </ul>
            </div>
            <div class="col-md-12">
                <div class="copyright">&copy; Copyright {{year}} The Bevy Corporation</div>
            </div>

        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--script src="assets/home/js/ie10-viewport-bug-workaround.js"></script-->
<script src="assets/home/js/owl.carousel.js"></script>
<script>


                            $(document).ready(function () {

                                $("#owl-demo-1").owlCarousel({
                                    navigation: false, // Show next and prev buttons
                                    slideSpeed: 300,
                                    paginationSpeed: 400,
                                    singleItem: true,
                                    pagination: true,
                                    mouseDrag: false

                                            // "singleItem:true" is a shortcut for:
                                            // items : 1, 
                                            // itemsDesktop : false,
                                            // itemsDesktopSmall : false,
                                            // itemsTablet: false,
                                            // itemsMobile : false

                                });

                                $("#owl-demo-2").owlCarousel({
                                    navigation: false, // Show next and prev buttons
                                    slideSpeed: 300,
                                    paginationSpeed: 400,
                                    singleItem: true,
                                    pagination: true,
                                    mouseDrag: false

                                            // "singleItem:true" is a shortcut for:
                                            // items : 1, 
                                            // itemsDesktop : false,
                                            // itemsDesktopSmall : false,
                                            // itemsTablet: false,
                                            // itemsMobile : false

                                });

                            });


</script>
