<!--<script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
        async defer
></script>-->
<div style="margin: 5% auto; position: relative; width: 400px;">

    <!-- error alert panel -->
    <div class="alert alert-danger" ng-if="signinError.data.error">
        <strong>There was an error: </strong> {{signinError.data.error}}
        <br>Please try again
    </div>

    <div id="q-sign-in" class="panel panel-default" style="">
        <div class="panel-body text-center">
            I have an account?
            <a ui-sref="login"> <b>Click here!</b></a>
        </div>
    </div>

    <div id="register-form" class="panel panel-default animated  bounce" >
        <div class="panel-body">
            <div class="text-center">
                <h2>Create new account</h2>
                <h5 class="grey">Sign up with social network or local account</h5>
            </div>
            <hr>
            <div class="row">

                <div class="col-md-12">
                    <div class="form-horizontal">
                        <fieldset ng-disabled="isDisabled">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input ng-model="user.name" type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="spacing hidden-md"></div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input ng-model="user.email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="spacing hidden-md"></div>
                            <div class="spacing hidden-md"></div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input ng-model="user.password" type="password" class="form-control" placeholder="Password">
                            </div>
                            <div class="spacing hidden-md"></div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input ng-model="user.password_confirmation" type="password" class="form-control" placeholder="Confirm Password">
                            </div>
                            <div class="spacing"></div>
                            <div vc-recaptcha
                                    theme="'light'"
                                    key="key"
                                    on-create="setWidgetId(widgetId)"
                                    on-success="setResponse(response)"
                                    on-expire="cbExpiration()"
                            ></div>
                            <div class="spacing"><br></div>
                            <button class="btn btn-success btn-sm pull-right"
                                    ng-class="{'working':isDisabled===true}"
                                    ng-click="register(user)"
                                    ng-disabled="!response">
                                        Create Account
                            </button>

                        </fieldset>
                    </form>
                </div>

            </div>

        </div>
    </div>
        <p>Copyright 2016 YEP Corporation. All right reserved.</p>
    </div>

</div>
<!-- Yeptemplate css --><!-- Please use *.min.css in production -->
    <link id="yep-style" rel="stylesheet" href="../assets/css/yep-style.css">
    <link rel="stylesheet" href="../assets/css/yep-vendors.css">
    <link rel="stylesheet" href="../assets/css/yep-custom.css">