<!-- main content -->
<div id="content" ng-init="list()">
    <div id="sortable-panel" class="">
        <div id="titr-content" class="col-md-12">
            
        </div>

        <div class="col-md-12 ">
            <div  class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                        
                    </div>
                </div>
                
                <div class="panel-body" translate-namespace="transaction.list">
                    
                    <div class="bars pull-right">
                        <div class="display-flex ">
                            <select class="form-control inline col-md-3" ng-change="search_usertype(search.user_type)" name="user_type_id" ng-model="search.user_type" required>
                                <option value=""> Select User Type</option>
                                <!--<option value="Free_Member">Free Member</option>-->
                                <option value="Group_Member">Group Member</option>
                                <option value="Group_Owner">Group Owner</option>
                                <option value="All_Member">All Member</option>
                            </select>
                        </div>
                        <div class="display-flex ">
                            <button class="btn btn-info" ng-click="searchShow=!searchShow">
                                Search Transaction
                            </button>
                        </div>    
                    </div>
                     <!--To change DataTable Options refer to app/controller/datatablesCtrl.js--> 
                    
                  
                    <div class="res-table" >
                        <table class="table table-striped table-hover table-fixed ellipsis-table">
                            <thead>
                            <tr>
                                <th width="2%"></th>
                            <th width="15%" translate> .name </th>
                            <th width="15%" translate> .usertype </th>
                            <th width="20%" translate> Membership Plan</th>
                            <th width="15%" translate> .status </th>
                            <th width="15%" translate> .amount </th>
                            <th width="15%" translate> Membership Start</th>
                            <th width="15%" translate> Membership End</th>
                            
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="search-tr">
                            <td colspan="9" ng-show="searchShow">
                                <div class="col-md-12" >
                                    <form class="input-group">
                                        <input ng-model="query" ng-enter="search(query)" id="search_text" name="search_text" type="text" class="form-control" placeholder="{{'app.shared.common.search' | translate}}">
                                        <span class="input-group-btn">
                                            <button ng-click="search(query)" class="btn btn-default search-btn"><i class="fa fa-search"></i></button>&nbsp;&nbsp;
                                            <button ng-click="reset()" class="btn btn-primary">Reset</button>
                                        </span>
                                        
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="transaction in transactions">
                            
                            <td></td>
                            <td>{{transaction.first_name}}</td>
                            <td ng-if="transaction.user_type_id==2">Group Member</td>
                            <td ng-if="transaction.user_type_id==3">Group Owner</td>
                            <td ng-if="transaction.user_type_id==1">Admin</td>
                            <td style="text-transform: capitalize;">{{transaction.type}}-{{transaction.plan_name}}</td>
                            <td data-title="Status">
                                <span ng-if="transaction.status==0" class="label label-table label-danger"><b>Unpaid</b></span>
                                <span ng-if="transaction.status==1" class="label label-table label-success"><b>Paid</b></span>
                            </td>
                            <td data-title="Amount">$ {{transaction.amount / 100}}</td>
                            <td data-title="date">{{transaction.membership_start}}</td>
                            <td data-title="date">{{transaction.membership_end}}</td>
                        </tr>
                        
                        </tbody>
                    </table>
                    <div ng-if="transactions.length==0" style="color: red;">
                            <h5 class="text-center"><b>No Record Found!!!</b><h5>
                    </div>
                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    