<style>
    .spacing {
        padding-bottom: 7px;
        padding-top: 7px;
    }

</style>

<div ng-controller="Preloader" class="" ng-init="getCategory();">



    <div ng-if="firstTime == 1">
        <div class="col-md-3"></div><div class="col-md-9 ">
            <a ui-sref="registered.browsegroup" class="btn join-group-btn btn-lg ng-scope pull-right">skip</a>
        </div>

    </div>
    <div style="margin: 5% auto; position: relative; width: 400px; height: 380px;">


        <!-- error alert panel -->
        <div class="alert alert-danger" ng-if="signinError.data.error">
            <strong>There was an error: </strong>
            <br>Please try again
        </div>

        <div id="sign-form" class="panel panel-default">
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">

                        <div class="text-center">
                            <h2 translate>Current Areas of Interest</h2>
                            <!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
                            <br>
                        </div>
                        <!--  ng-submit should be signin() -->
                        <form name="Form" id="formpayment" novalidate ng-submit="form.submit(Form, user)">


                            <div  ng-show="loader" class="text-center">
                                <img src="assets/img/preloader/material.gif" alt="preloader">
                            </div>
                            <div class="spacing"></div>

                            <div ng-if="interest.length > 0">
                                <!--Your Current Interest is :<br>-->
                                <br>
                                <p  ng-repeat="x in interest" class="interstname_{{x[1]}}" >{{x[0]}}  <span class="glyphicon glyphicon-remove" title="Delete the Interest" style="cursor: pointer; color: red;" ng-click="category_delete(x[1])"></span> </p> 
                            </div>
                            <div ng-if="interest.length == 0">
                                You have not selected any areas of interest<br><br>
                            </div>
                            <div class="spacing"></div>
                            <div class="">
                                <span>Add Additional Areas of Interest</span>
                                <div class="form-group" ng-class="{'has-error':Form.interest.$dirty && Form.interest.$invalid, 'has-success':Form.interest.$valid}">


                                    <select ng-model="user.interest" multiple name="interest" style="width:100%" class="select2" ui-jq="select2" required>
                                        <option ng-repeat="e in categories" ng-value="e.id">{{e.category_name}}</option>
                                    </select>


                                    <span class="error text-small block" ng-if="Form.interest.$dirty && Form.interest.$invalid">Interest is Required</span>

                                    <span class="success text-small" ng-if="Form.interest.$valid">Thank You!</span>
                                </div>

                                <button type="submit" class="btn bevylife_next btn-block">Add Interest(s)</button>

                                </fieldset>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
