<style>
    .descrip{
        height: 62px;
        overflow: hidden;
    }
    .text-right {
        margin-bottom: 10px !important;
    }
    .upcoming-events {
        padding-top: 10px !important;
        //width: 100%;
    }
    .group-details {
        padding-top: 40px;
    }
    .stripe-button-el span {
        background: #a1b868 none repeat scroll 0 0;
        border-radius: 4px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;
        color: #fff;
        display: block;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 800;
        height: 40px;
        line-height: 40px;
        padding: 0 181px;
        position: relative;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }
    .stripe-button-el {
        background-image: none !important;
    }
</style>


<div id="content">

    <div class="col-md-12 ">
        <div  class="panel panel-default" >
            <div class="panel-body no-padding">
                
                <div class="tabbable ">
                    <ul class="nav nav-tabs nav-line ">
                        <li class="active" ng-click="clearall()">
                            <a data-target="#groups_details" ng-click="reload()" data-toggle="tab" class="tabu"   id="managetab" style="cursor:pointer;">
                                Manage Group
                            </a>
                        </li>
                        <li ng-if="members">
                            <a href="" data-target="#members" data-toggle="tab" class="tabu" id="memberstab">
                                Members
                            </a>
                        </li>
                        <li ng-if="events">
                            <a href="" data-target="#events" data-toggle="tab" class="tabu" id="eventstab">
                                Events
                            </a>
                        </li>
                        <li ng-if="images">
                            <a href="" data-target="#Images" data-toggle="tab" class="tabu" id="imgstab">
                                Photos
                            </a>
                        </li>
                        <li ng-if="pending_groups">
                            <a href="" data-target="#pending_groups" data-toggle="tab" class="tabu" id="joiningtab">
                                Joining Request
                            </a>
                        </li>

                    </ul>
                <!--For Edit Groups--> 
                <div class="tab-pane " id="groups_details" ng-if="edit_group">
                    <div class="conatiner" style="padding-right:18px; padding-left:18px;">
                            <div id="titr-content" style="padding-top:20px;">
                                    <h4>Editing Group: <b style="color:#CCD7B3">{{edit_group.name}}</b></h4>

                            </div>
                            <div id="status_loader" class="text-center">
                            </div>
                            </br>

            <!--    <div  class="panel panel-primary">

                            <div class="panel-body">-->
                            <form name="Form" id="form1" novalidate>
                                    <fieldset ng-disabled="isDisabled">
                                            <input type="hidden" name="id" ng-model="profile.id">
                                            <div class="row">
                                                    <div class="col-md-6">

                                                            <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                                                    <label>Group Name</label>
                                                                    <input type="text" placeholder="Enter Group Name" class="form-control" name="name" ng-model="edit_group.name" required />
                                                                    <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Group Name is required</span>
                                                                    <span class="success text-small" ng-if="Form.name.$valid"></span>
                                                            </div>

                                                                    <div class="form-group" ng-class="{'has-error':Form.postalcode.$dirty && Form.postalcode.$invalid, 'has-succes':Form.postalcode.$valid}">
                                                                             <label class="control-label">
                                                                                     Short Group Description
                                                                             </label>
                                                                             <input class="form-control" type="text" name="header" ng-model="edit_group.header" required>
                                                                             <span class="error text-small block" ng-if="Form.postalcode.$dirty && Form.postalcode.$invalid">Postal code is required</span>
                                                                             <span class="success text-small" ng-if="Form.postalcode.$valid"></span>
                                                                     </div>
                                                            <div class="form-group">
                                                                    <label class="control-label">
                                                                            Full Group Description
                                                                    </label>
                                                                    <textarea type="text" class="form-control" placeholder="Enter Group Description" name="description" ng-model="edit_group.description" rows="4"> </textarea>
                                                                    <span class="error text-small block" ng-if="Form.description.$dirty && Form.description.$invalid">Description is required</span>
                                                                    <span class="success text-small" ng-if="Form.description.$valid"></span>
                                                            </div>

                                                            <div class="form-group">
                                                                    <label>
                                                                            Group Image
                                                                    </label></br>
                                                                    <p style="text-align: justify;"> Please feel free to upload photos descriptive of your group’s activities that are appropriate for all audiences. Graphic photos and/or those of inappropriate dress or activity will be removed immediately and at the sole discretion of Bevylife, may result in account termination.</p>
                                                                    <p>Suggested Image Dimensions - Landscape 600px by 400px.</p>
                                                                    <div ng-if="edit_group.avatar_url !== undefined" ng-model="edit_group.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="control-label">
                                                                            Area of Interest 
                                                                    </label>
                                                                    <p style="text-align: justify;"> You may select as many area of interest that you want holding the Ctrl key.</p>
                                                                    <select ng-model="edit_group.category_name" class="form-control ng-dirty ng-valid-parse" multiple>
                                                                            <option ng-repeat="category in categories" ng-value="category.category_name">{{category.category_name}}</option>
                                                                    </select>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="pull-left">
                                                                            <button class="btn bevylife_cancel" style="margin-left: 50px;" type="button" onclick="history.go(-1);">
                                                                                    <i class="fa fa-arrow-circle-left"></i> Cancel 
                                                                            </button>
                                                                    </div>

                            <!--                                                <div class="col-md-4">
                                                                            <button class="btn btn-success btn-block" type="submit" ng-click="update(edit_group)">
                                                                                    Update <i class="fa fa-arrow-circle-right"></i>
                                                                            </button>
                                                                    </div>-->
                                                            </div>
                                                    </div>
            <!--                                                <div class="col-md-1">
                                                    </div>    -->
                                                    <div class="col-md-6">
                                                            <div  class="panel panel-primary">

                                                                    <div class="panel-body">
                                                                            <div class="col-md-12">
                                                                                    <label class="control-label">
                                                                                            <h4>Membership Details</h4> 
                                                                                    </label>
                                                                            </div></br>
                                                                            <div class="col-md-4 col-sm-4 text-left" >
                                                                                    <b>Plan Activate</b>
                                                                            </div>
                                                                            <div class="col-md-1 col-sm-1 text-center">
                                                                                    <b>:</b>
                                                                            </div>
                                                                            <div class="col-md-7 col-sm-7" style="text-align:justify; text-transform: capitalize;">
                                                                                    <b>{{edit_group.membership.name}}</b>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4 text-left">
                                                                                    <b>Plan Type</b>
                                                                            </div>
                                                                            <div class="col-md-1 col-sm-1 text-center">
                                                                                    <b>:</b>
                                                                            </div>
                                                                            <div class="col-md-7 col-sm-7" style="text-align:justify; text-transform: capitalize;">
                                                                                    <b>{{edit_group.membership.type}}</b>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4 text-left">
                                                                                    <b>Plan Status</b>
                                                                            </div>
                                                                            <div class="col-md-1 col-sm-1 text-center">
                                                                                    <b>:</b>
                                                                            </div>
                                                                            <div class="col-md-7 col-sm-7" style="text-align:justify; text-transform: capitalize;">
                                                                                    <b>{{edit_group.membership.membership_status}}</b>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4 text-left">
                                                                                    <b>Membership Start</b>
                                                                            </div>
                                                                            <div class="col-md-1 col-sm-1 text-center">
                                                                                    <b>:</b>
                                                                            </div>
                                                                            <div class="col-md-7 col-sm-7" style="text-align:justify">
                                                                                    <b>{{edit_group.membership.membership_start}}</b>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4 text-left">
                                                                                    <b>Membership End</b>
                                                                            </div>
                                                                            <div class="col-md-1 col-sm-1 text-center">
                                                                                    <b>:</b>
                                                                            </div>
                                                                            <div class="col-md-7 col-sm-7" style="text-align:justify">
                                                                                    <b>{{edit_group.membership.membership_end}}</b>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4 text-left">
                                                                                    <b>Amount Paid</b>
                                                                            </div>
                                                                            <div class="col-md-1 col-sm-1 text-center">
                                                                                    <b>:</b>
                                                                            </div>
                                                                            <div class="col-md-7 col-sm-7" style="text-align:justify">
                                                                               <b>$ {{edit_group.membership.amount}}</b>
                                                                            </div>
                                                                     </div>
                                                            </div>
                                                            <ul class="list-group">
                                                                    <li class="list-group-item" style="cursor:pointer; background-color:#A1B868; color: white; text-align: center;" type="submit" ng-click="update(edit_group)"><b>UPDATE GROUP DETAILS</b></li></br>
                                                                    <li class="list-group-item" style="cursor:pointer; background-color:#A1B868; color: white; text-align: center;" ng-click="get_events(edit_group.id)"><b>MANAGE EVENTS</b></li></br>
                                                                    <li class="list-group-item" style="cursor:pointer; background-color:#A1B868; color: white; text-align: center;" ng-click="get_members(edit_group.id)"><b>MANAGE MEMBERS</b></li></br>
                                                                    <li class="list-group-item" style="cursor:pointer; background-color:#A1B868; color: white; text-align: center;" ng-click="get_images(edit_group.id)"><b>MANAGE GROUP PHOTOS</b></li></br>
                                                                    <li class="list-group-item" id="inactive_group" style="cursor:pointer; background-color:#A1B868; color: white; text-align: center;" ng-click="status_inactive(edit_group.id,0)"><b>DEACTIVATE GROUP</b></li></br>
                                                                    <li ng-if="edit_group.stripe_id.length>0" class="list-group-item" style="cursor:pointer; background-color:#A1B868; color: white; text-align: center;" data-toggle="modal" data-target="#update_card_detail"><b>UPDATE BILLING METHOD</b></li></br>
                    <!--                                                        <form action="test.php" method="POST">
                                                                            <script
                                                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                                                            data-key="pk_test_4KQtH0P2igP9CgauPaRCv9rX"
                                                                            data-image="assets/img/favicon/bevy_favicon_16px.png"
                                                                            data-name="Bevylife"
                                                                            data-panel-label="Update Card Details"
                                                                            data-label="UPDATE BILLING METHOD"
                                                                            data-allow-remember-me=false
                                                                            data-locale="auto"
                                                                            data-email="{{user_email}}">
                                                                            </script>
                                                                    </form>-->
                                                            </ul>

            <!--                                                     <div class="text-center">
                                                                    <label  style="cursor:pointer; color: red; text-decoration: underline; margin-top: 40px;" ><h3><b>Inactive Group</b></h3></label>
                                                             </div>   -->
            <!--                                                    <div class="form-group">
                                                                    <label>
                                                                            Group Layout
                                                                    </label>
                                                                    <div ng-model="edit_group.layout" dropzone="dropzoneConfig2" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                            </div>        -->
            <!--                                                    <div class="col-md-1">
                                                            </div>-->
                                                            <div class="modal fade" id="update_card_detail" role="dialog">
                                                                    <div class="modal-dialog">

                                                                            <!-- Modal content-->
                                                                            <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                            <h4 class="modal-title text-center"><b>Update Card Detail</b</h4>
                                                                                    </div>
                                                                                    <div class="modal-body">
                                                                                            <div class="spacing"></div>
                                                                                            <div class="">
                                                                                                    <span>Credit Card </span>
                                                                                                    <div class="form-group">
                                                          <div class="input-group">
                                                                                                                    <input ng-model="card.number" name="cardNumber" type="text" class="form-control" data-mask="9999-9999-9999-9999" data-placeholder= "*" required>
                                                                                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                                                                            </div>
                                                                                                    </div>
                                                                                                    <span>Card Expiration Date</span>
                                                                                                    <div class="">
                                                                                                            <div class="col-md-6">
                                                                                                                    <select name="mm" id="mm" class="form-control" ng-model="card.exp_month" required style="margin-left:-15px;">
                                                                                                                            <option value="">MM</option>
                                                                                                                            <option value="01">01</option>
                                                                                                                            <option value="02">02</option>
                                                                                                                            <option value="03">03</option>
                                                                                                                            <option value="04">04</option>
                                                                                                                            <option value="05">05</option>
                                                                                                                            <option value="06">06</option>
                                                                                                                            <option value="07">07</option>
                                                                                                                            <option value="08">08</option>
                                                                                                                            <option value="09">09</option>
                                                                                                                            <option value="10">10</option>
                                                                                                                            <option value="11">11</option>
                                                                                                                            <option value="12">12</option>
                                                                                                                    </select>
                                                                                                            </div>
                                                                                                            <div class="col-md-6" >
                                                                                                                    <select name="yy" id="yy" class="form-control" ng-model="card.exp_year" required style="margin-left:17px;">
                                                                                                                            <option value="">YY</option>
                                                                                                                            <option value="17">17</option>
                                                                                                                            <option value="18">18</option>
                                                                                                                            <option value="19">19</option>
                                                                                                                            <option value="20">20</option>
                                                                                                                            <option value="21">21</option>
                                                                                                                            <option value="22">22</option>
                                                                                                                            <option value="23">23</option>
                                                                                                                            <option value="24">24</option>
                                                                                                                            <option value="25">25</option>
                                                                                                                            <option value="26">26</option>
                                                                                                                            <option value="27">27</option>
                                                                                                                    </select>
                                                                                                            </div>
                                                                                                    </div>
                                                                                                    <div class="spacing"></div>
                                                                                                    <div class="spacing"></div>
                                                                                                    <div class="spacing"></div>
                                                                                                    <div class="spacing"></div>
                                                                                                    <div class="" >
                                                                                                            <span>CVV</span>
                                                                                                            <div class="form-group">
                                                                                                                    <div class="col-md-6">
                                                                                                                            <input ng-model="card.cvc" type="text" name ="cvv" class="form-control" id="cvv" placeholder="CVV" maxlength="4" minlength="2" required style="margin-left:-15px;">
                                                                                                                    </div>    
                                                                                                            </div>
                                                                                                            <br>

                                                                                                            <!--<input ng-model="users.stripeToken" id="addtoken" name="stripeToken" type="hidden" class="form-control">-->

                                                                                                            <!--<input ng-model="users.GroupID" id="GroupID" name="Group_id" type="hidden" class="form-control">-->
                                                                                                            <div class="spacing"></div>
                                                                                                            <div class="spacing"></div>
                                                                                                            <button ng-click="update_account(card)" id="update_card_li" class="btn bevylife_next btn-block">Submit<i class="fa fa-arrow-circle-right"></i></button>
                                                                                                    </div>
                                                                                            </div>
                                                                                    </div>




                                                                            </div>
                                                                    </div>
                                                            </div>	
                                                            
                                                    </div>
                                            </div>	
                                    </fieldset>


                            </form>


            <!--    </div>
                            </div> end panel -->
                      </div>

            </div>
                <!--For Members tab-->        
                <div class="tab-pane" id="members" ng-if="members">
                    <div id="titr-content" style="padding-top:20px;">
                        <h4>Editing Group: <b style="color:#CCD7B3">{{groupname}}</b></h4>
                    </div>    
                    <h4 style="min-height: 88px;"><b>Manage Members</b></h4>  
                            <!--Group Details-->
                            
                                
                                <div class="container">

                                    <div  ng-repeat="member in members">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
                                                    <img src="laravel-backend/public/uploads/{{member.avatar_url|| 'no_avatar.jpg'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                                    <br>
                                                </div>

                                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                    <h3><b>{{member.first_name}}</b></h3>
                                                    <h5><b>Joined </b>{{member.created_at}}</h5>
                                                    <h5 ng-if="member.status==2" style="color:green;">New Member Request</h5>
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                    <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
                                                        <a ng-click="member_status(0,member.id)" style="cursor:pointer;"><b>Suspend Member</b></a>
                                                    </div>	

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div ng-if="members.length == 0" style="color: red; min-height: 192px;">
                                        <h5 class="text-center"><b>No Members Found!!!</b></h5>
                                    </div>

                                    <div class="text-center">
                                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total > 10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                                    </div>

                                </div>

                           

                        <div class="clearfix"></div>
                   
                </div>
                <!--For Pending Request-->
                <div class="tab-pane" id="pending_groups" ng-if="pending_groups">
                    <div id="titr-content" style="padding-top:20px;">
                        <h4>Editing Group: <b style="color:#CCD7B3">{{groupname}}</b></h4>
                    </div>
                    <h4><b>Pending Members</b></h4> 
                    <div class="container">

                        <div  ng-repeat="pending_member in pending_groups">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
                                        <img src="laravel-backend/public/uploads/{{pending_member.avatar_url|| 'no_avatar.jpg'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                        <br>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                        <h3><b>{{pending_member.name}}</b></h3>
                                        <h5><b>Joined </b>{{pending_member.created_at}}</h5>
                                        <h5 ng-if="pending_member.status==0" style="color:red"><b>** Blocked by You</b><h5>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                        <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
                                            <a ng-click="member_status(1,pending_member.id)" style="cursor:pointer;"><b>Approve Member</b></a>
                                        </div>	

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-if="findgroups.length == 0" style="color: red;">
                            <h5 class="text-center"><b>No Record Found!!!</b></h5>
                        </div>

                        <div class="text-center">
                            <uib-pagination  total-items="pagination.total" ng-show="pagination.total > 10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--For Images upload-->
                <div class="tab-pane" id="Images" ng-if="images">
                    <div id="titr-content" style="padding-top:20px;">
                        <h4>Editing Group: <b style="color:#CCD7B3">{{groupname}}</b></h4>
                    </div>
                        
                    <h4><b>Upload Images</b></h4> 
                    <!--Group Details-->
                    <div class="tab-pane" id="three">
                        <div class="modal-body">
                            <div class="col-md-12 ">
                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="bold"><i class="fa fa-cloud"></i>Upload Images for Groups</h4>
                                        <form action="../dummy.html" class="dropzone" id="dropzone" ui-jq="dropzone" ui-options="dropzoneOption1">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple="" />
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="bold"><i class="fa fa-image"></i>
                                            Image Gallery</h4>


                                        <div blueimpgallery>
                                            <form class="form-inline">

                                                <div class="form-group">
                                                    <button id="image-gallery-button" type="button" class="btn btn-primary" data-toggle="tooltip" title="Launch Image Gallery">
                                                        <i class="glyphicon glyphicon-picture"></i>
                                                    </button>

                                                </div>

                                            </form>
                                            <div ng-if="images.length == 0"><b>No Images</b></div>
                                            <br>
                                            <!-- The container for the list of example images -->
                                            <div id="links">

<!--                                                <a ng-repeat="getImages in images" href="laravel-backend/public/groupGallery/{{getImages.image}}" title="A1 Image" data-gallery>
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad img-thumbnail">
                                                        <img src="laravel-backend/public/groupGallery/{{getImages.image}}" class="img-flat" height="160" width="160">
                                                        <button href="" type="button" ng-click="removeimage(getImages.image)" class="btn btn-warning btn-block" style="border-radius: 2px;">Remove Image</button>
                                                    </div>
                                                </a>-->
                                                
                                                <div ng-repeat="getImages in images">
                                                    
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad img-thumbnail" >
                                                        <a href="laravel-backend/public/groupGallery/{{getImages.image}}" title="A1 Image" data-gallery>
                                                            <img src="laravel-backend/public/groupGallery/{{getImages.image}}" class="img-flat" height="160" width="160">
                                                        </a>
                                                        <button href="" type="button" ng-click="removeimage(getImages.image)" class="btn btn-warning btn-block" style="border-radius: 2px;">Remove Image</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <br>
                                            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls borderless" data-use-bootstrap-modal="false">
                                                <!-- The container for the modal slides -->
                                                <div class="slides"></div>
                                                <!-- Controls for the borderless lightbox -->
                                                <h3 class="title">Sample</h3>
                                                <a class="prev">‹</a>
                                                <a class="next">›</a>
                                                <a class="close">×</a>
                                                <a class="play-pause"></a>
                                                <ol class="indicator"></ol>
                                                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                                                <div class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title">Sample</h4>
                                                            </div>
                                                            <div class="modal-body next"></div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default pull-left prev">
                                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                                    Previous
                                                                </button>
                                                                <button type="button" class="btn btn-primary next">
                                                                    Next
                                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end blueimpgallery directive-->
                                    </div>        



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <!--For Events tab-->
                <div class="tab-pane" id="events" ng-if="events">
                <div id="titr-content" style="padding-top:20px;">
                    <h4>Editing Group: <b style="color:#CCD7B3">{{groupname}}</b></h4>
                </div>    
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title text-center"><b>Code to Embed Calendar</b></h4>
                        </div>
                        <div class="modal-body">
                           <textarea id='text_iframe' rows="4" cols="52">{{iframe_url}}</textarea> 
                          <div id='succ_msg'></div>
                          <button id='button_iframe' ng-click='copy()' class="btn bevylife_next">copy to clipboard</button>
                        </div>
                      </div>

                    </div>
                  </div>
                   

                    <div class="col-md-12">
                        <div class="upcoming-events text-center" style="min-height: 295px;">

                                <h4>Upcoming Events</h4>
                                <div class="text-right">


                        <span>         
                            <a  type="button"  class="btn btn-info" data-toggle="modal" data-target="#myModal" style="padding: 6px 12px;  margin-bottom: 10px;">Code to Embed Calendar</a>
                        </span>
                                    <button class="btn btn-primary text-right" style="background:#A1B868;" ui-sref="registered.groupCrtevent({id:grp_id.id})">Create Event</button>
                                </div>
                            <div class="col-md-4 col-sm-4">
                                 <h5><b>Event Name</b></h5>               
                            </div>
                            <div class="col-md-1 col-sm-1">
                                 <h5><b>Start</b></h5> 
                            </div>
                            <div class="col-md-1 col-sm-1">
                                 <h5><b>End</b></h5> 
                            </div>
                            <div class="col-md-1 col-sm-1">
                                <h5><b>Location</b></h5> 
                            </div>
                            <div class="col-md-1 col-sm-1">
                                <h5><b>RSVP</b></h5> 
                            </div>
                            <div class="col-md-1 col-sm-1">
                                <h5><b>Status</b></h5> 
                            </div>    
                            <div class="col-md-1 col-sm-1">
                                 <h5><b></b></h5> 
                            </div>
                            <div class="col-md-2  col-sm-2">
                                 
                            </div>
                            <div class="event-list col-md-12">
                                <ul>
                                    <div ng-repeat="event in events" ng-if="event.id" >	
                                        <li>
                                            <div class="col-sm-4 col-md-4">
                                                <div class="date-box col-md-2" >
                                                    <span class="month">{{event.event_date | date:'MMM'}}</span>
                                                    <span class="date">{{event.event_date | date:'dd'}}</span>
                                                </div>

                                                <div class="upcoming-event-text">
                                                    <a  ui-sref="registered.groupevent({id:event.id})"><h4>{{event.name}}</h4></a>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1">
                                                {{event.start_time}}
                                            </div>
                                            <div class="col-sm-1 col-md-1">
                                                {{event.end_time}}
                                            </div>
                                            <div class="col-sm-1 col-md-1">
                                                {{event.location}}
                                            </div>
                                            <div class="col-sm-1 col-md-1">
                                                <h5 ng-if="event.user_rsvp">{{event.user_rsvp.length}}</h5>
                                                <h5 ng-if="!event.user_rsvp">0</h5>        
                                            </div>
                                            <div class="col-sm-1 col-md-1">
                                                <h5 ng-if="event.status==1">Active</h5>
                                                <h5 ng-if="event.status==0">Inactive</h5>
                                            </div>
                                            <div class="col-sm-1 col-md-1">
<!--                                                <button class="btn btn-success" ng-if="event.event_con == 0" ng-click="event_con(1, event.id)">Send Confirmation</button>
                                                <button class="btn btn-success" ng-if="event.event_con != 0" ng-click="event_con(1, event.id)" disabled="disabled">Send Confirmation</button>
                                                <a class="pull-right fa fa-download" aria-hidden="true" ng-if="event.user_rsvp.length>0" style="cursor:pointer; margin-left: 10px; margin-top: 13px;" ng-click="export(event.user_rsvp,'pdf')" disabled="disabled"></a>
                                                <a class="pull-right fa fa-download" aria-hidden="true" ng-if="!event.user_rsvp" style="margin-left: 10px; margin-top: 13px;" ng-click="export(event.user_rsvp,'pdf')"></a>-->
                                                <a class="pull-right" ng-if='event.user_rsvp' ng-click="event_rsvp(event.id)" style="cursor:pointer;" data-toggle="modal" data-target="#rsvpmodal"><h5 style="font-size: 12px;"><b>View RSVP </b></h5></a>
                                                <a class="pull-right" ng-if='!event.user_rsvp' style="cursor:pointer;"><h5 style="font-size: 12px;"><b>View RSVP </b></h5></a>
                                               
                                            </div>
                                            <div class=" col-sm-2 col-md-2">
                                                <a class="fa fa-pencil" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" title="Edit" ui-sref="registered.groupevent({id:event.id})"></a>&nbsp;&nbsp;
                                                <a class="fa fa-files-o" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" ng-click="duplicate_event(event.id)" title="Duplicate"></a>&nbsp;&nbsp;
                                                <a class="fa fa-trash" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" title="Delete" ng-click="change_status(event.id,2)"></a>&nbsp;&nbsp;
                                                <a ng-if="event.status==1" class="fa fa-times-circle" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" title="Change to Inactive Status" ng-click="change_status(event.id,0)"></a>
                                                <a ng-if="event.status==0" class="fa fa-check-circle" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" title="Change to Active Status" ng-click="change_status(event.id,1)"></a>&nbsp;&nbsp;
                                                <a class="fa fa-envelope-o" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" title="Mail" data-toggle="modal" data-target="#mailmodal_{{event.id}}"></a>
                                                <a class="fa fa-share-alt" aria-hidden="true" style="cursor:pointer; font: larger/1 FontAwesome; padding-right: 3px;" title="Share" href="#/registered/single-event/{{event.id}}"></a>
                                            </div>
                                            
                                        </li>
                                        <div class="modal fade" id="rsvpmodal" role="dialog">
                                        <div class="modal-dialog">

                                          <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" ng-click="reload()" id="close_modal" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title text-center"><b>User Send Conformation</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table ng-if="event_rs.length>0" class="table table-striped table-bordered" >
                                                        <thead>        
                                                            <tr class="text-center" style="font-weight: bold">
                                                                <td style="width:50%">Name</td>
                                                                <td style="width:50%">Action</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="user_con in event_rs">
                                                                <td style="width:50%">{{user_con.name}}</td>
                                                                <td style="width:50%" class="text-center">
                                                                    <a id="{{user_con.id+'_'+event.id}}" ng-if="user_con.user_status==2" ng-click="user_event_status(1,user_con.id,event.id)" data-target="#" class="btn btn-xs btn-green tooltips" data-placement="top" title="Accept" style="background-color: green;"><i class="fa fa-check"></i></a>
                                                                    <a id="{{user_con.id+'__'+event.id}}" ng-if="user_con.user_status==2" ng-click="user_event_status(0,user_con.id,event.id)" data-target="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" title="Reject" style="background-color: red;"><i class="fa fa-times fa fa-white"></i></a>
                                                                    <span id="{{user_con.id}}"></span>
                                                                    <span ng-if="user_con.user_status==0" class="label label-table label-danger"><b>Rejected</b></span>
                                                                    <span ng-if="user_con.user_status==1" class="label label-table label-success"><b>Accepted</b></span>
                                                                </td> 
                                                            </tr>
                                                        </tbody>
                                                     </table>
                                                    <h3 style="color: red; text-align: center;" ng-if="event_rs.length==0"><b>No confirmation!!</b></h3>

                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" ng-click="reload()" id="close_modals" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
<!--                                        <div class="modal fade" id="sharemodal_{{event.id}}" role="dialog">
                                            <div class="modal-dialog modal-sm">

                                               <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Share Event</h4>
                                                </div>
                                                <div class="modal-body">
                                                        <div class="fb-share-button" data-href="http://www.bevylife.com/#/home/single-event/{{event.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bevylife.com%2F%23%2Fhome%2Fsingle-event%2F131&amp;src=sdkpreparse">Share</a></div>
                                                        <div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.bevylife.com/#/home/single-event/{{event.id}}"></div>
                                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.bevylife.com/#/home/single-event/{{event.id}}" data-hashtags="bevylife">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>        
                                                </div>
                                            </div>

                                        </div>
                                    </div>-->
                                    <div class="modal fade" id="mailmodal_{{event.id}}" role="dialog">
                                            <div class="modal-dialog">

                                               <!--Modal content-->
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title">Share this Event</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="form-horizontal">
                                                    <div class="form-group">
                                                     <label class="control-label col-sm-2" for="sub">Email</label>
                                                     <div class="col-sm-10">
                                                       <input type="text" class="form-control" ng-model="mail.email_id" id="email_id" placeholder="Enter Email Address">
                                                     </div>
                                                   </div>
                                                   <div class="form-group">
                                                     <label class="control-label col-sm-2" for="sub">Subject :</label>
                                                     <div class="col-sm-10">
                                                       <input type="text" class="form-control" ng-model="mail.sub" id="email" placeholder="Enter Subject">
                                                     </div>
                                                   </div>
                                                   <div class="form-group">
                                                     <label class="control-label col-sm-2" for="body">Message :</label>
                                                     <div class="col-sm-10">
                                                       <textarea class="form-control" rows="6" ng-model="mail.body" id="body" placeholder="Enter Message"></textarea>
                                                     </div>
                                                   </div>
                                                   
                                                   <div class="form-group">
                                                     <div class="col-sm-offset-2 col-sm-10">
                                                       
                                                       <button type="button" class="btn bevylife_cancel" data-dismiss="modal">Close</button>
                                                       <button type="submit" class="btn bevylife_next" id="button_mail" ng-click="send_mail_member(mail,event.id)">Submit</button>
                                                     </div>
                                                   </div>
                                                    
                                                 </form> 


                                                </div>
                                          </div>

                                        </div>
                                    </div>    
                                    </div>
                                    <div ng-if="events==0" style="color: red; min-height: 196px;">
                                        <h5 class="text-center"><b>No Event Found!!!</b></h5>
                                    </div>
                                    <div ng-if='e_count>events.length'  class="col-md-12 load-more" id='load_more' style="text-align:center;">
                                        <button type="submit" ng-click="get_events(grp_id.id)" class="btn btn-info btn-lg load-more-btn">Load More</button>
                                    </div>
                                    
<!--                                    <div ng-if="event_record>events.length && event_record>4">
                                        <h5 id="nomore" class="text-center"><b>No More Event Found !!!</b></h5>
                                    </div>-->
                                </ul>
                            </div>
                        </div>
                    </div>

            </div>

            
        </div>

    </div>

</div><!-- end #content -->
<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
