<style>
    .radio.radio-inline {
        margin-top: 0;
    }
    .block {
        display: block !important;
    }
    .text-small {
        font-size: 12px !important;
    }
    .has-error .error {
        color: #a94442;
    }
    .radio label {
        display: inline-block;
        padding-left: 5px;
        position: relative;
    }
    #update_email{
        float:right;
        margin-top: -26px;
    }
</style>
<!-- main content -->
<div id="content">


    <div ng-if="firstTime == 1">
        <br>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <a ui-sref="registered.category" class="btn join-group-btn btn-lg ng-scope pull-right">skip</a>
            <br><br><br>
        </div>
    </div>

    <div class="col-md-12 ">

        <div  class="panel panel-default">
            <div class="panel-body no-padding">
                <div class="tabbable ">
                    <ul class="nav nav-tabs nav-line ">
                        <li class="active">
                            <a href="" data-target="#edit-profile" data-toggle="tab">
                                Edit Profile
                            </a>
                        </li>
                        <li ng-if="profile.user_type_id == 2">
                            <a href="" data-target="#organizer-subscription" data-toggle="tab">
                                Group Leader Subscription
                            </a>
                        </li>    
                        <li ng-if="setPermissionUser">
                            <a href="" data-target="#send-email" data-toggle="tab">
                                Communicate with Group Leader 
                            </a>
                        </li>
                        <li>
                            <a href="" data-target="#reset-password" data-toggle="tab">
                                Reset Password 
                            </a>
                        </li>
                        <li ng-if="setPermissionUser && profile.user_type_id == 3">
                            <a href="" data-target="#editPreferences" data-toggle="tab">
                                Deactivate Your Account
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content padding-10">
                        <div class="tab-pane active" id="edit-profile">


                            <div id="sortable-panel" class="">

                                <div id="titr-content" class="col-md-12">
                                    <h2>General </h2>

                                </div>


                                <div class="col-md-12 ">
                                    <div  class="panel panel-default">

                                        <div class="panel-body">
                                            <form name="Form" id="form1" novalidate ng-submit="form.submit(Form)">
                                                <fieldset ng-disabled="isDisabled">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="hidden" name="id" ng-model="profile.id">

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    You Profile Image
                                                                </label>
                                                                <div ng-if="profile.avatar_url !== undefined" ng-model="profile.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                            </div>

                                                            <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                                                <label >First Name</label>
                                                                <input type="text" placeholder="Enter your  first Name" class="form-control" name="name" ng-model="profile.first_name" required />
                                                                <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">First Name is required</span>
                                                                <span class="success text-small" ng-if="Form.name.$valid"></span>
                                                            </div>
                                                            <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                                                <label >Last Name</label>
                                                                <input type="text" placeholder="Enter your last Name" class="form-control" name="name" ng-model="profile.last_name" required />
                                                                <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Last Name is required</span>
                                                                <span class="success text-small" ng-if="Form.name.$valid"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Email Address 
                                                                </label>
                                                                <input type="email" class="form-control" name="email" ng-model="profile.email" disabled="disabled" style="width:75%;"> &nbsp; &nbsp;
                                                                <label data-toggle="modal" data-target="#updateemail" id="update_email" style="cursor:pointer; color: #337ab7; width:25%; padding-left: 10px; text-decoration: underline; text-align: right;">Update Email</label>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">

                                                            <div class="form-group" ng-class="{'has-error':Form.gender.$dirty && Form.gender.$invalid, 'has-succes':Form.gender.$valid}">
                                                                <label class="control-label">
                                                                    Gender 
                                                                </label>
                                                                <div>
                                                                    <div class="radio radio-primary radio-inline">
                                                                        <input type="radio"  value="0" name="gender" id="gender_female" ng-model="profile.gender" required>
                                                                        <label for="gender_female">Female</label>
                                                                    </div>
                                                                    <div class="radio radio-primary radio-inline">
                                                                        <input type="radio"  value="1" name="gender" id="gender_male" ng-model="profile.gender" required>
                                                                        <label for="gender_male">Male</label>
                                                                    </div>
                                                                    <span class="error text-small block" ng-if="Form.gender.$dirty && Form.gender.$error.required">Gender is required.</span>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label class="control-label">
                                                                            Phone
                                                                        </label>
                                                                        <input class="form-control" type="text" name="phone" id="zipcodea" ng-model="profile.phone">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-group">
                                                                        <label class="control-label">
                                                                            Bio. 
                                                                        </label>
                                                                        <textarea class="form-control" name="aboutme" id="aboutme" ng-model="profile.aboutme"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="row">

                                                                <div class="col-md-8">
                                                                    <div class="form-group">
                                                                        <label class="control-label">
                                                                            Country 
                                                                        </label>
                                                                        <select class="form-control" ng-model="profile.country" name="country" ng-options="s for s in statuses" id="country" ng-change="updateState()">

                                                                        </select>

                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label class="control-label">
                                                                            State 
                                                                        </label>
                                                                        <select name="state" ng-model="profile.state" class="form-control" ng-options="v for v in state">
                                                                        </select>

                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group" ng-class="{'has-error':Form.postalcode.$dirty && Form.postalcode.$invalid, 'has-succes':Form.postalcode.$valid}">
                                                                        <label class="control-label">
                                                                            Postal Code 
                                                                        </label>
                                                                        <input class="form-control" type="text" name="postalcode" id="zipcode" ng-model="profile.postalcode" required>
                                                                        <span class="error text-small block" ng-if="Form.postalcode.$dirty && Form.postalcode.$invalid">Postal code is required</span>
                                                                        <span class="success text-small" ng-if="Form.postalcode.$valid"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-group" ng-class="{'has-error':Form.city.$dirty && Form.city.$invalid, 'has-succes':Form.city.$valid}">
                                                                        <label class="control-label">
                                                                            City 
                                                                        </label>
                                                                        <input class="form-control tooltips" type="text" data-original-title="We'll display it when you write reviews" data-rel="tooltip"  title="" data-placement="top" name="city" id="city" ng-model="profile.city" required>
                                                                        <span class="error text-small block" ng-if="Form.city.$dirty && Form.city.$invalid">City is required</span>
                                                                        <span class="success text-small" ng-if="Form.city.$valid"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-8">
                                                                    <div class="form-group" ng-class="{'has-error':Form.c_id.$dirty && Form.c_id.$invalid, 'has-succes':Form.c_id.$valid}">
                                                                        <label class="control-label">
                                                                            Paypal Client ID 
                                                                        </label>
                                                                        <input class="form-control tooltips" type="text" data-original-title="We'll display it when you write reviews" data-rel="tooltip"  title="" data-placement="top" name="c_id" id="c_id" ng-model="profile.paypal_client_id" required>
                                                                        <span class="error text-small block" ng-if="Form.c_id.$dirty && Form.c_id.$invalid">Client ID is required</span>
                                                                        <span class="success text-small" ng-if="Form.c_id.$valid"></span>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-2">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn bevylife_cancel" type="button" onclick="history.go(-1);">
                                                                <i class="fa fa-arrow-circle-left"></i> Cancel 
                                                            </button>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <button class="btn bevylife_next btn-block " type="submit">
                                                                Update <i class="fa fa-arrow-circle-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>


                                        </div>
                                    </div><!-- end panel -->
                                </div><!-- end .col-md-12 -->

                            </div><!-- end col-md-12 -->


                        </div>
                        <!-- Lets deactivate user account -->
                        <div class="tab-pane" id="editPreferences">

                            <div id="titr-content" class="col-md-12">
                                <h2>Delete Your Account</h2>

                            </div>
                            <div class="col-md-6">


                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <div style="min-height:300px;">
                                            <h3>You can deactive your account </h3>
                                            <p>After clicking on deactivate button you can not logged it again. and In case you need to active it again you have to contact to Administration.</p>

                                            <button class="btn bevylife_cancel pull-right" ng-model="status" ng-click="updateStatus(0)">
                                                Deactivate
                                            </button>  

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Communicate with organizer of group -->


                        <div class="tab-pane" id="send-email">
                            <div id="titr-content" class="col-md-12">
                                <h2>Send Mail to Organizer</h2>

                            </div>

                            <div class="col-md-6">
                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <form name="frmEmployees" class="form-horizontal" novalidate="">
                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-3 control-label">Email :</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" name="email" 
                                                            ng-model="users.email" required>
                                                        <option ng-repeat="c in setOrgEmail">{{c.email}}</option>
                                                    </select>


                                                    <span class="help-inline" 
                                                          ng-show="frmEmployees.email.$invalid && frmEmployees.email.$touched">Valid Email field is required</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="sub" class="col-sm-3 control-label">Subject :</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="sub" name="sub" placeholder="Subject" value="" 
                                                           ng-model="users.subject" ng-required="true">
                                                    <span class="help-inline" 
                                                          ng-show="frmEmployees.sub.$invalid && frmEmployees.contact_number.$touched">Subject is required</span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="inputEmail3" class="col-sm-3 control-label">Message :</label>
                                                <div class="col-sm-9">
                                                    <textarea type="text" class="form-control" id="message" name="position" placeholder="Message" value="" 
                                                              ng-model="users.message" ng-required="true" style="height: 200px;"></textarea>
                                                    <span class="help-inline" 
                                                          ng-show="frmEmployees.message.$invalid && frmEmployees.message.$touched">Message field is required</span>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="modal-footer" ng-app="ng-laravel" style="border: none">
                                        <button type="button" class="btn bevylife_next" ng-click="communicate_mail()">Send Mail</button>


                                    </div>

                                </div></div>
                        </div>



                        <!--organizer-subscription -->
                        <div class="tab-pane" id="organizer-subscription">
                            <div id="titr-content" class="col-md-12">
                                <h2>Organizer Subscription</h2>

                            </div>
                            <div class="col-md-6">


                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <div style="min-height:300px;">
                                            <!--                                     <h4>Membership Details</h4>
                                                                                 <p>Membership Type - {{}}<p>
                                                                                 <p>Amount - {{}}<p>    
                                                                                 <p>Membership Start - {{}}<p>   
                                                                                 <p>Membership End - {{}}<p>   -->
                                            <h3>You currently don’t have a subscription</h3>
                                            <p>We don’t want you to feel left out, but it looks like you’re not currently leading any Group. Lucky for you, it’s easy to start. Create your own group now to become an organizer and start building community.</p>

                                            <a class="btn bevylife_next pull-right" ui-sref="registered.browsegroup">
                                                find your group </a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--organizer-subscription -->


                        <!-- Reset Password -->
                        <div class="tab-pane" id="reset-password">

                            <div id="titr-content" class="col-md-12">
                                <h2>Reset Password</h2>

                            </div>
                            <div class="col-md-6">


                                <div  class="panel panel-default">

                                    <div class="panel-body">
                                        <form name="Forms" id="form2" novalidate ng-submit="passwords.submit(Forms)">


                                            <div class="form-group" ng-class="{'has-error':Forms.city.$dirty && Forms.city.$invalid, 'has-succes':Forms.city.$valid}">
                                                <label class="control-label">
                                                    Old Password 
                                                </label>
                                                <input class="form-control tooltips" type="password" data-original-title="We'll display it when you write reviews" data-rel="tooltip"  title="" data-placement="top" name="city" id="city" ng-model="users.oldpass" required>
                                                <span class="error text-small block" ng-if="Forms.city.$dirty && Forms.city.$invalid">Password is required</span>
                                                <span class="success text-small" ng-if="Forms.city.$valid"></span>
                                            </div>


                                            <div class="form-group">
                                                <label class="control-label">
                                                    Password
                                                </label>
                                                <input type="password" placeholder="Enter a Password" class="form-control" name="password" ng-model="users.password"/>

                                            </div>
                                            <div class="form-group" ng-class="{'has-error':Forms.password2.$dirty && Forms.password2.$error.compareTo, 'has-succes':Forms.password2.$valid}">
                                                <label class="control-label">
                                                    Confirm Password
                                                </label>
                                                <input type="password" placeholder="Repeat Password" class="form-control" name="password2" ng-model="users.password2" compare-to="users.password"/>
                                                <span class="error text-small block" ng-if="Forms.password2.$dirty && Forms.password2.$error.compareTo">Passwords do not match!</span>
                                                <span class="success text-small block" ng-if="Forms.password2.$valid"></span>
                                            </div>

                                            <button type="submit" class="btn bevylife_next pull-right" type="submit"> Reset Password</button>


                                        </form>

                                    </div>            
                                </div>    
                            </div>
                        </div>

                        <!-- end here -->



                    </div>
                </div>

                <div id="updateemail" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-center"><b>Enter New Email Id</b></h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group form-inline">
                                    <label class="control-label">
                                        New Email Address 
                                    </label>
                                    <input type="email" class="form-control" name="new_email" placeholder="New Email ID" ng-model="new_email" style="width:400px; margin-left: 15px;" required />

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn bevylife_next" ng-click="update_email(new_email, profile.id)">Save</button>
                                <button type="button" class="btn bevylife_cancel" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- end #content -->