
<!-- main content -->
<div id="content">


    <div class="col-md-12 ">
        <div id="sortable-panel" class="">

            <div id="titr-content" class="col-md-12">
                <h2 ng-if='event.id'>Edits Event</h2>
                <h2 ng-if='!event.id'>Create Event</h2>
            </div>


            <div class="col-md-12 ">
                <div  class="panel panel-default">

                    <div class="panel-body">
                        <form name="Form" id="form1" novalidate>
                            <fieldset ng-disabled="isDisabled">

                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" name="id" ng-model="event.id">
                                        <h5 ng-if="!event.id && !profile.paypal_client_id" style="color: red;">* Please Provide your Paypal Client ID in profile page</h5>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                            <label>Event Name</label>
                                            <input type="text" placeholder="Enter Event Name" class="form-control" name="name" ng-model="event.name" required />
                                            <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Event Name is required</span>
                                            <span class="success text-small" ng-if="Form.name.$valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Description 
                                            </label>
                                            <textarea type="text" class="form-control" placeholder="Enter Event Description" name="description" ng-model="event.description" rows="5" required> </textarea>
                                            <span class="error text-small block" ng-if="Form.description.$dirty && Form.description.$invalid">Description is required</span>
                                            <span class="success text-small" ng-if="Form.description.$valid"></span>

                                        </div>
                                        <div class="form-group">
                                            <label>
                                                Event Image
                                            </label></br>
                                            <p style="text-align: justify;"> Please feel free to upload photos descriptive of your group’s activities that are appropriate for all audiences. Graphic photos and/or those of inappropriate dress or activity will be removed immediately and at the sole discretion of Bevylife, may result in account termination.</p>
                                            <p>Suggested Image Dimensions - Landscape 300px by 300px.</p>
                                            <div ng-if="event.avatar_url!==undefined" ng-model="event.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                            <div ng-if="event.avatar_url==undefined" ng-model="event.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Area of Interest 
                                            </label>
                                            <p style="text-align: justify;"> You may select as many area of interest that you want holding the Ctrl key.</p>
                                            <select ng-model="event.category_name" class="form-control ng-dirty ng-valid-parse" multiple>
                                                <option ng-repeat="category in categories" ng-value="category.category_name">{{category.category_name}}</option>
                                            </select>
                                        </div>
<!--                                        <div class="form-group">
                                            <label class="control-label">
                                                Recurring &nbsp;
                                                <input class="switch-input m-switch" ng-model="event.recurring" ng-true-value="1" id="checkbox" type="checkbox" checked="" >
                                                <input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">
                                            </label>
                                        </div>-->
<!--                                        <div class="form-group switch">
                                            <label class="col-sm-3 control-label" translate>
                                                Recurring
                                            </label>
                                            <div class="col-sm-9">
                                                <div class="m-switch">
                                                    <input ng-model="event.recurring" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">
                                                    <label for="id-name--1" class="switch-label">
                                                    </label>
                                                </div>{{event.recurring}}
                                            </div>
                                        </div>-->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Event Start Date
                                            </label>
                                            
                                            <input type="text" placeholder="Enter Event Start Date" class="form-control datepicker" ng-change="temp_date()"  ng-model="event.event_date" required>
                                            

                                        </div>
                                        </br>
                                        <div class="form-group">
                                            <label class="control-label">
                                                Event End Date
                                            </label>

                                            <input type="text" placeholder="Enter Event End Date" class="form-control datepicker1" ng-model="event.end_date" required>


                                        </div>
                                        <div class="form-group">
                                            <label>Start Time</label>
                                            <div class="input-group">
<!--                                                <input class="form-control" ng-model="event.start_time" id="clockpicker" ui-jq="clockpicker" ui-options="{ placement: 'top', donetext: 'Done' }" type="text" placeholder="Select Start Time" data-autoclose="true">
                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>-->
                                                    <input class="form-control" ng-model="event.start_time" id="timepicker" ui-jq="timepicker" type="text" placeholder="Select time">
                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                        </br>
                                        <div class="form-group">
                                            <label>End Time</label>
                                            <div class="input-group">
<!--                                                <input class="form-control" ng-model="event.end_time" id="clockpicker" ui-jq="clockpicker" ui-options="{ placement: 'top', donetext: 'Done' }" type="text" placeholder="Select End Time" data-autoclose="true">
                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>-->
                                                    <input class="form-control" ng-model="event.end_time" id="timepicker" ui-jq="timepicker" type="text" placeholder="Select time">
                                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                            </div>
                                        </div>
                                        </br>
                                        <div class="form-group" ng-class="{'has-error':Form.location.$dirty && Form.location.$invalid, 'has-succes':Form.location.$valid}">
                                            <label>Event Location (optional)</label>
                                            <input type="text" placeholder="Enter Event Location" class="form-control" name="location" ng-model="event.location" required />
                                            <span class="error text-small block" ng-if="Form.location.$dirty && Form.location.$invalid">Event Location is required</span>
                                            <span class="success text-small" ng-if="Form.location.$valid"></span>
                                        </div>
                                        </br>
                                        <div class="form-group" ng-class="{'has-error':Form.address.$dirty && Form.address.$invalid, 'has-succes':Form.address.$valid}">
                                            <label>Event Address</label>
                                            <input type="text" placeholder="Enter Event Address" class="form-control" name="address" ng-model="event.address" required />
                                            <span class="error text-small block" ng-if="Form.address.$dirty && Form.address.$invalid">Event Address is required</span>
                                            <span class="success text-small" ng-if="Form.address.$valid"></span>
                                        </div>
                                        <div class="form-group">
                                            <label>Max Member can Attend</label>
                                            <input type="text" placeholder="Specify No of Member" class="form-control" ng-model="event.max_member" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Cost For the Event Per Attendee(leave blank if free)</label>
                                            <input type="text" placeholder="IE. $20.00" class="form-control" name="cost" ng-model="event.cost" required />
                                        </div>
                                        <div class="form-group"  style="display: ruby;">
                                            <label class="control-label">
                                                <input class="switch-input m-switch" ng-model="event.recurring_payment" ng-true-value="1" id="checkbox" type="checkbox" checked="" value="{{event.recurring_payment}}">&nbsp;
                                                Required payment upon RSVP
                                                
                                                <!--<input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">-->
                                            </label>
                                        </div>
                                        
                                        <div ng-if="!event.recurring_month && !event.id" class="form-group">
                                            <label class="control-label">
                                                <input class="switch-input m-switch" ng-model="event.recurring_week" ng-true-value="1" id="checkbox" type="checkbox" checked="" >&nbsp;
                                                This event occurs every week<span style='color:red;' ng-if='event.recurring_week && !event.recurring_month && !event.id'> on<b ng-if="week_day"> {{ week_day }} </b></span>
                                            </label></br>
                                            <input ng-if='event.recurring_week' type="text" placeholder="Number of Times to Recur" class="form-control" ng-model="event.recur__week_number" style='width: 35%; display: inline-block;' required /><span ng-if='event.recurring_week && !event.recurring_month && !event.id' style='color:red;'><b>* Max 99 Recur Allowed</b></span>
                                        </div>
                                        <div ng-if="!event.recurring_week &&!event.id " class="form-group">
                                            <label class="control-label">
                                                <input class="switch-input m-switch" ng-model="event.recurring_month" ng-true-value="1" id="checkbox" type="checkbox" checked="" >&nbsp;
                                                This event occurs every month<span style='color:red;' ng-if='event.recurring_month && !event.recurring_week && !event.id'> on [<b> {{ event.event_date.split('/')[1] }} </b>]</span>
                                            </label></br>
                                            <input ng-if='event.recurring_month' type="text" placeholder="Number of Times to Recur" class="form-control" ng-model="event.recur__mon_number" style='width: 35%; display: inline-block;' required /><span ng-if='event.recurring_month && !event.recurring_week && !event.id' style='color:red;'><b>* Max 99 Recur Allowed</b></span>
                                        </div>
                                        
                                        
                                        </br>
                                        <div class="col-md-4">
                                            <button class="btn btn-block bevylife_cancel" type="button" onclick="history.go(-1);">
                                                <i class="fa fa-arrow-circle-left"></i> Cancel 
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button ng-if='!event.id' class="btn bevylife_next btn-block" type="button" ng-click="createevent(event,0)">
                                               Save as Draft 
                                            </button>
                                        </div>

                                        <div class="col-md-4">
                                            <button ng-if='event.id' class="btn btn-block bevylife_next" type="submit" ng-click="updateevent(event)">Update<i class="fa fa-arrow-circle-right"></i></button>
                                            <button ng-if='!event.id' class="btn btn-block bevylife_next" type="submit" ng-click="createevent(event,1)">Create<i class="fa fa-arrow-circle-right"></i></button>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="row">
                                    
                                </div>
                            </fieldset>
                        </form>
                        


                    </div>
                </div><!-- end panel -->
            </div><!-- end .col-md-12 -->

        </div>
    </div>
</div> 

<script>
    $('#close_modal').click(function(){

    location.reload(); 
    });
    $('#close_modals').click(function(){

    location.reload(); 
    });
    
    
</script>