<style>
    .radio.radio-inline {
        margin-top: 0;
    }
    .block {
        display: block !important;
    }
    .text-small {
        font-size: 12px !important;
    }
    .has-error .error {
        color: #a94442;
    }
    .radio label {
        display: inline-block;
        padding-left: 5px;
        position: relative;
    }
</style>
<!-- main content -->
<div id="content">


    <div ng-if="firstTime == 1">
        <br>
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <a ui-sref="registered.category" class="btn join-group-btn btn-lg ng-scope pull-right">skip</a>
            <br><br><br>
        </div>
    </div>

    <div class="col-md-12 ">

        <div  class="panel panel-default">
            <div class="panel-body no-padding">
                <div class="tabbable ">
                    <ul class="nav nav-tabs nav-line ">
                        <li class="active">
                            <a href="" data-target="#edit-profile" data-toggle="tab">
                                Edit Group
                            </a>
                        </li>
                        <li ng-if="setPermissionUser">
                            <a href="" data-target="#member-detail" data-toggle="tab">
                                Member Details ({{group.members_count}})
                            </a>
                        </li>
                        <li class="active">
                            <a href="" data-target="#organizer-subscription" data-toggle="tab">
                                Photos
                            </a>
                        </li>    
                        <li>
                            <a href="" data-target="#pending_request" data-toggle="tab">
                                Events
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content padding-10">
                        <div class="tab-pane active" id="edit-profile">


                            <div id="sortable-panel" class="">

                                <div id="titr-content" class="col-md-12">
                                    <h2>General </h2>

                                </div>


                                <div class="col-md-12 ">
                                    <div  class="panel panel-default">

                                        <div class="panel-body">
                                            <form name="Form" id="form1" novalidate>
                                                <fieldset ng-disabled="isDisabled">

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="hidden" name="id" ng-model="profile.id">

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>
                                                                    Group Image
                                                                </label>
                                                                <div ng-if="group.avatar_url !== undefined" ng-model="group.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                            </div>

                                                            <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                                                <label>Group Name</label>
                                                                <input type="text" placeholder="Enter Group Name" class="form-control" name="name" ng-model="group.name" required />
                                                                <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">First Name is required</span>
                                                                <span class="success text-small" ng-if="Form.name.$valid"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Description 
                                                                </label>
                                                                <textarea type="text" class="form-control" name="description" ng-model="group.description" rows="4"> </textarea>

                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label class="control-label">
                                                                            Area of Interest 
                                                                        </label>
                                                                        <select ng-model="group.category_name" class="form-control ng-dirty ng-valid-parse" >
                                                                            <option ng-repeat="category in categories" ng-value="category.category_name">{{category.category_name}}</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group" ng-class="{'has-error':Form.postalcode.$dirty && Form.postalcode.$invalid, 'has-succes':Form.postalcode.$valid}">
                                                                        <label class="control-label">
                                                                            Header 
                                                                        </label>
                                                                        <input class="form-control" type="text" name="header" ng-model="group.header" required>
                                                                        <span class="error text-small block" ng-if="Form.postalcode.$dirty && Form.postalcode.$invalid">Postal code is required</span>
                                                                        <span class="success text-small" ng-if="Form.postalcode.$valid"></span>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                        </div>
                                                        <div class="col-md-2">
                                                        </div>
                                                        <div class="col-md-2">
                                                            <button class="btn btn-success btn-warning" type="button" onclick="history.go(-1);">
                                                                <i class="fa fa-arrow-circle-left"></i> Cancel 
                                                            </button>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <button class="btn btn-success btn-block" type="submit" ng-click="update(group)">
                                                                Update <i class="fa fa-arrow-circle-right"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>


                                        </div>
                                    </div><!-- end panel -->
                                </div><!-- end .col-md-12 -->

                            </div><!-- end col-md-12 -->


                        </div>
                        <!-- Lets deactivate user account -->
                        <div class="tab-pane" id="editPreferences">
                            <div class="row" style="min-height:300px;">
                                <div class="col-md-4 col-md-offset-4">
                                    <form>
                                        <div class="form-group" style="margin-top:100px;">                                                
                                            <h4>{{ profile.name}}</h4>
                                        </div>
                                        <div class="form-group" ng-app="ng-laravel">     

                                            <button class="btn btn-danger btn-block" ng-model="status" ng-click="updateStatus(0)">
                                                Deactivate Your Account  <i class="fa fa-arrow-circle-right"></i>
                                            </button>      

                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>
                        <!-- Communicate with organizer of group -->

                        <div class="tab-pane" id="member-detail">
                            <div class="row">

                                <div class="col-md-8 "></br>
                                    <div  class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="modal-header" style="border: none">

                                                <p class="modal-title text-center"><b id="success">   </b></p>
                                            </div> 
                                            <div class="modal-body">
                                                <form name="frmEmployees" class="form-horizontal" novalidate="">
                                                    <div class="res-table" >
                                                        <table class="table table-striped table-hover table-fixed ellipsis-table">
                                                            <thead>
                                                                <tr>
<!--                                                                    <th width="8%" class="center">
                                                                    </th>-->

                                                                    <th width="15%" translate> Name </th>
                                                                    <th width="15%" translate> Email </th>
                                                                    <th width="10%" translate> Status </th>
                                                                    <th width="10%" translate><i class="fa fa-bolt"></th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <tr ng-repeat="user in group.members">
<!--                                                                        <td class="center">
                                                                        <div class="checkbox checkbox-primary">
                                                                            <input id="{{group.id}}" type="checkbox" class="conchkNumber" value="{{group.name}}" ng-checked="selection.indexOf(group.id) > -1" ng-click="toggleSelection(group.id)">
                                                                            <label for="{{group.id}}">
                                                                            </label>
                                                                        </div>
                                                                    </td>-->
                                                                    <td data-title="Name">{{user.name}}</td>
                                                                    <td data-title="Email">{{user.email}}</td>
                                                                    <td>
                                                                        <span ng-if="group.status == 0" class="label label-table label-danger"><b>Inactive</b></span>
                                                                        <span ng-if="group.status == 1" class="label label-table label-success"><b>Active</b></span>
                                                                        <span ng-if="group.status == 2" class="label label-table label-info"><b>Pending</b></span>
                                                                    </td>
                                                                    <td>
                                                                        <a ng-click="member_accept(member.id)" data-target="#" role="button" class="btn btn-xs btn-green" data-placement="top" title="Accept"><i class="fa fa-check"></i></a>
                                                                        <a ng-click="member_reject(member.id)" data-target="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" title="Reject"><i class="fa fa-times fa fa-white"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div ng-if="group.members.length == 0" style="color: red;">
                                                            <h5 class="text-center"><b>No Record Found!!!</b><h5>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                            <!-- <div class="modal-footer" ng-app="ng-laravel" style="border: none">
                                                    <button type="button" class="btn btn-primary" ng-click="communicate_mail()">Send Mail</button>


                                                </div>
                                                <div  class="text-center preloader" ng-show="loader">
                                            <!-- <span>Sending...</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>




                                                                    <!--organizer-subscription -->
                        <div class="tab-pane" id="pending_request">
                            <div class="row">

                                <div class="col-md-8 "></br>
                                    <div  class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="modal-header" style="border: none">

                                                <p class="modal-title text-center"><b id="success">   </b></p>
                                            </div> 
                                            <div class="modal-body">
                                                <form name="frmEmployees" class="form-horizontal" novalidate="">
                                                    <div class="res-table" >
                                                        <table class="table table-striped table-hover table-fixed ellipsis-table">
                                                            <thead>
                                                                <tr>
<!--                                                                    <th width="8%" class="center">
                                                                    </th>-->

                                                                    <th width="15%" translate> Name </th>
                                                                    <th width="15%" translate> Email </th>
                                                                    <!--<th width="10%" translate> Status </th>-->
                                                                    <th width="10%" translate><i class="fa fa-bolt"></th>

                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                <tr ng-repeat="user in group.pending_member">
<!--                                                                        <td class="center">
                                                                        <div class="checkbox checkbox-primary">
                                                                            <input id="{{group.id}}" type="checkbox" class="conchkNumber" value="{{group.name}}" ng-checked="selection.indexOf(group.id) > -1" ng-click="toggleSelection(group.id)">
                                                                            <label for="{{group.id}}">
                                                                            </label>
                                                                        </div>
                                                                    </td>-->
                                                                    <td data-title="Name">{{user.name}}</td>
                                                                    <td data-title="Email">{{user.email}}</td>
<!--                                                                    <td>
                                                                        <span ng-if="group.status == 0" class="label label-table label-danger"><b>Inactive</b></span>
                                                                        <span ng-if="group.status == 1" class="label label-table label-success"><b>Active</b></span>
                                                                        <span ng-if="group.status == 2" class="label label-table label-info"><b>Pending</b></span>
                                                                    </td>-->
                                                                    <td>
                                                                        <a ng-click="member_accept(member.id)" data-target="#" class="btn btn-xs btn-green tooltips" data-placement="top" title="Accept"><i class="fa fa-check"></i></a>
                                                                        <a ng-click="member_reject(member.id)" data-target="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" title="Reject"><i class="fa fa-times fa fa-white"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div ng-if="group.members.length == 0" style="color: red;">
                                                            <h5 class="text-center"><b>No Record Found!!!</b><h5>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                            <!-- <div class="modal-footer" ng-app="ng-laravel" style="border: none">
                                                    <button type="button" class="btn btn-primary" ng-click="communicate_mail()">Send Mail</button>


                                                </div>
                                                <div  class="text-center preloader" ng-show="loader">
                                            <!-- <span>Sending...</span> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--organizer-subscription -->


                        <!-- Reset Password -->
                        <div class="tab-pane" id="reset-password">
                            <div class="row">

                                <div class="col-md-6 col-md-offset-3">

                                    <div id="titr-content" class="col-md-12">
                                        <h2>Reset Password</h2>

                                    </div>  
                                    <div  class="panel panel-default">

                                        <div class="panel-body">
                                            <form name="Forms" id="form2" novalidate ng-submit="passwords.submit(Forms)">


                                                <div class="form-group" ng-class="{'has-error':Forms.city.$dirty && Forms.city.$invalid, 'has-succes':Forms.city.$valid}">
                                                    <label class="control-label">
                                                        Old Password 
                                                    </label>
                                                    <input class="form-control tooltips" type="password" data-original-title="We'll display it when you write reviews" data-rel="tooltip"  title="" data-placement="top" name="city" id="city" ng-model="users.oldpass" required>
                                                    <span class="error text-small block" ng-if="Forms.city.$dirty && Forms.city.$invalid">Password is required</span>
                                                    <span class="success text-small" ng-if="Forms.city.$valid"></span>
                                                </div>


                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Password
                                                    </label>
                                                    <input type="password" placeholder="Enter a Password" class="form-control" name="password" ng-model="users.password"/>

                                                </div>
                                                <div class="form-group" ng-class="{'has-error':Forms.password2.$dirty && Forms.password2.$error.compareTo, 'has-succes':Forms.password2.$valid}">
                                                    <label class="control-label">
                                                        Confirm Password
                                                    </label>
                                                    <input type="password" placeholder="Repeat Password" class="form-control" name="password2" ng-model="users.password2" compare-to="users.password"/>
                                                    <span class="error text-small block" ng-if="Forms.password2.$dirty && Forms.password2.$error.compareTo">Passwords do not match!</span>
                                                    <span class="success text-small block" ng-if="Forms.password2.$valid"></span>
                                                </div>

                                                <button type="submit" class="btn btn-primary pull-right" type="submit"> Reset Password</button>


                                            </form>

                                        </div>            
                                    </div>    
                                </div>


                            </div>
                        </div>

                        <!-- end here -->



                    </div>
                </div>



            </div><!-- end #content -->