<style>
    .descrip{
        height: 62px;
        overflow: hidden;
    }
    .text-right {
        margin-bottom: 10px !important;
    }
    .upcoming-events {
        padding-top: 10px !important;
        //width: 100%;
    }
    .group-details {
        padding-top: 40px;
    }
</style>




<div id="content">

    <div class="col-md-12 ">
        <div  class="panel panel-default" >
            <div class="panel-body no-padding">
                
                <div class="tabbable ">
                    <ul class="nav nav-tabs nav-line ">
                        <li class="active">
                            <a href="" data-target="#groups" data-toggle="tab" class="tabu">
                                Groups 
                            </a>
                        </li>
                        <!-- <li ng-if="profile.user_type_id == 3" class="active" ng-click="clearall()">
                            <a href="" data-target="#managegroups" data-toggle="tab" class="tabu">
                                Active Groups 
                            </a>
                        </li>
                        <li ng-if="profile.user_type_id == 3" ng-click="clearall()">
                            <a href="" data-target="#inactivegroups" data-toggle="tab" class="tabu">
                                Inactive Groups 
                            </a>
                        </li> -->
                        <li ng-if="edit_group">
                            <a href="" data-target="#groups_details" data-toggle="tab" class="tabu" id="managetab">
                                Manage Group
                            </a>
                        </li>
                        <li ng-if="members">
                            <a href="" data-target="#members" data-toggle="tab" class="tabu" id="memberstab">
                                Members
                            </a>
                        </li>
                        <li ng-if="events">
                            <a href="" data-target="#events" data-toggle="tab" class="tabu" id="eventstab">
                                Events
                            </a>
                        </li>
                        <li ng-if="images">
                            <a href="" data-target="#Images" data-toggle="tab" class="tabu" id="imgstab">
                                Photos
                            </a>
                        </li>
                        <li ng-if="pending_groups">
                            <a href="" data-target="#pending_groups" data-toggle="tab" class="tabu" id="joiningtab">
                                Joining Request
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content padding-10">
                        
                    
                        <!--For Paid User--> 
                    <div class="tab-pane active" id="groups">

                        <section class="">

                            <!--Group Details-->
                            <section class="group-details">
                                <div class="container">
                                    <div id="loader" class="text-center">
                                        <img  src="assets/img/preloader/material.gif" alt="preloader">
                                    </div>

                                     <h2 ng-if="groups.length!=0" style="color: #b9eb7f;">{{'Groups member'}}</h2> 
                                    <div  ng-repeat="group in groups">
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top: 20px">
                                            <div class="col-md-1 col-sm-12 col-xs-12 col-lg-3">
                                                <img src="laravel-backend/public/uploads/{{group.avatar_url|| 'group_background.png'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                                <br>
                                            </div>

                                            <div class="col-md-10 col-lg-8 col-xs-12 col-sm-12">


                                                <div class="heading-title">
                                                    <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                        <h2>{{group.name}}</h2>
                                                        <h4>{{group.header|| "header"}}</h4>            
                                                    </div>
                                                    <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad" style="text-align: justify;">
                                                        <p>{{group.description}}</p>
                                                    </div>
                                                    
                                                </div>

                                                    

                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xs-12 col-sm-12">
                                                <div class="col-md-2 col-lg-5 col-sm-12 col-xs-12 no-pad text-right">
                                                        <a ui-sref="registered.viewgrps({id:group.id})" class="calender-btn btn btn-lg">Detail</a>          
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h2 ng-if="ownergroups.length!=0" style="color: #b9eb7f;">{{'Groups owner'}}</h2> 
                                    <div  ng-repeat="ownergroup in ownergroups">
                                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top: 20px">
                                            <div class="col-md-1 col-sm-12 col-xs-12 col-lg-3">
                                                <img src="laravel-backend/public/uploads/{{group.avatar_url|| 'group_background.png'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                                <br>
                                            </div>
 
                                            <div class="col-md-10 col-lg-8 col-xs-12 col-sm-12">


                                                <div class="heading-title">
                                                    <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                        <h2>{{ownergroup.name}}</h2>
                                                        <h4>{{ownergroup.header|| "header"}}</h4>            
                                                    </div>
                                                    <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad" style="text-align: justify;">
                                                        <p>{{ownergroup.description}}</p>
                                                    </div>
                                                    
                                                </div>

                                                    

                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xs-12 col-sm-12">
                                                <div class="col-md-2 col-lg-5 col-sm-12 col-xs-12 no-pad text-right">
                                                        <a ui-sref="registered.viewgrps({id:ownergroup.id})" class="calender-btn btn btn-lg">Detail</a>          
                                                    </div>
                                            </div>
                                        </div>
                                    </div>


                                   

                                     


                                    <div ng-if="groups.length == 0" style="color: red; min-height: 140px;">
                                        <h5 class="text-center"><b>You are not a member of any group!!!</b></h5>
                                    </div>

                                    <div ng-if='single_record<=groups.length'  class="col-md-12 load-more" id='load_more' style="text-align:center;">
                                        <!-- <button type="submit" ng-click="get_event()" class="btn btn-info btn-lg load-more-btn">Load More</button> -->
                                    </div>
                                    <div ng-if="single_record>groups.length && groups.length>4">
                                        <h5 class="text-center"><b>No More Group Found !!!</b></h5>
                                    </div>

                                </div>

                            </section>

                        <div class="clearfix"></div>
                    </section>
                </div>
                <!--For Edit Groups--> 
                <div class="tab-pane " id="groups_details" ng-if="edit_group">

                    
                      
                        <div id="titr-content">
                            <h4><b>Edit Group</b></h4>

                        </div>


                             
                            <div  class="panel panel-primary">

                                <div class="panel-body">
                                    <form name="Form" id="form1" novalidate>
                                        <fieldset ng-disabled="isDisabled">
                                             <input type="hidden" name="id" ng-model="profile.id">
                                            <div class="row">
                                                   

                                                <div class="col-md-6">
                                                    
                                                    <div class="form-group">
                                                        <label>
                                                            Group Image
                                                        </label>
                                                        <div ng-if="edit_group.avatar_url !== undefined" ng-model="edit_group.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                    </div>
                                                    
                                                    <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                                        <label>Group Name</label>
                                                        <input type="text" placeholder="Enter Group Name" class="form-control" name="name" ng-model="edit_group.name" required />
                                                        <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Group Name is required</span>
                                                        <span class="success text-small" ng-if="Form.name.$valid"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Description 
                                                        </label>
                                                        <textarea type="text" class="form-control" placeholder="Enter Group Description" name="description" ng-model="edit_group.description" rows="4"> </textarea>
                                                        <span class="error text-small block" ng-if="Form.description.$dirty && Form.description.$invalid">Description is required</span>
                                                        <span class="success text-small" ng-if="Form.description.$valid"></span>
                                                    </div>

                                                
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label class="control-label">
                                                                    Area of Interest 
                                                                </label>
                                                                <select ng-model="edit_group.category_name" class="form-control ng-dirty ng-valid-parse" >
                                                                    <option ng-repeat="category in categories" ng-value="category.category_name">{{category.category_name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group" ng-class="{'has-error':Form.postalcode.$dirty && Form.postalcode.$invalid, 'has-succes':Form.postalcode.$valid}">
                                                                <label class="control-label">
                                                                    Header 
                                                                </label>
                                                                <input class="form-control" type="text" name="header" ng-model="edit_group.header" required>
                                                                <span class="error text-small block" ng-if="Form.postalcode.$dirty && Form.postalcode.$invalid">Postal code is required</span>
                                                                <span class="success text-small" ng-if="Form.postalcode.$valid"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <label class="control-label">
                                                                Membership Details 
                                                            </label>
                                                        </div></br>
                                                        <div class="col-md-4 col-sm-4 text-left" >
                                                            <b>Plan Activate</b>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 text-center">
                                                            <b>:</b>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7" style="text-align:justify; text-transform: capitalize;">
                                                            <b>{{edit_group.membership.name}}</b>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-left">
                                                            <b>Plan Type</b>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 text-center">
                                                            <b>:</b>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7" style="text-align:justify; text-transform: capitalize;">
                                                            <b>{{edit_group.membership.type}}</b>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-left">
                                                            <b>Membership Start</b>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 text-center">
                                                            <b>:</b>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7" style="text-align:justify">
                                                            <b>{{edit_group.membership.membership_start}}</b>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-left">
                                                            <b>Membership End</b>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 text-center">
                                                            <b>:</b>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7" style="text-align:justify">
                                                            <b>{{edit_group.membership.membership_end}}</b>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4 text-left">
                                                            <b>Amount Paid</b>
                                                        </div>
                                                        <div class="col-md-1 col-sm-1 text-center">
                                                            <b>:</b>
                                                        </div>
                                                        <div class="col-md-7 col-sm-7" style="text-align:justify">
                                                           <b>$ {{edit_group.membership.amount}}</b>
                                                        </div>
                                                        
                                                     </div>   
                                                    
<!--                                                    <div class="form-group">
                                                        <label>
                                                            Group Layout
                                                        </label>
                                                        <div ng-model="edit_group.layout" dropzone="dropzoneConfig2" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                    </div>        -->

                                                    

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                </div>
                                                <div class="col-md-2">
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-success btn-warning" type="button" onclick="history.go(-1);">
                                                        <i class="fa fa-arrow-circle-left"></i> Cancel 
                                                    </button>
                                                </div>

                                                <div class="col-md-4">
                                                    <button class="btn btn-success btn-block" type="submit" ng-click="update(edit_group)">
                                                        Update <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>


                                </div>
                            </div><!-- end panel -->
                        
                    
                </div>
                <!--For Members tab-->        
                <div class="tab-pane" id="members" ng-if="members">
                        
                    <h4 style="min-height: 88px;"><b>Manage Members</b></h4>  
                            <!--Group Details-->
                            
                                
                                <div class="container">

                                    <div  ng-repeat="member in members">
                                        <div class="panel panel-primary">
                                            <div class="panel-body">
                                                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
                                                    <img src="laravel-backend/public/uploads/{{member.avatar_url|| 'no_avatar.jpg'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                                    <br>
                                                </div>

                                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                    <h3><b>{{member.name}}</b></h3>
                                                    <h5><b>Joined </b>{{member.created_at}}</h5>			
                                                </div>
                                                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                                    <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
                                                        <a ng-click="member_status(0,member.id)" style="cursor:pointer;"><b>Suspend Member</b></a>
                                                    </div>	

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div ng-if="members.length == 0" style="color: red; min-height: 192px;">
                                        <h5 class="text-center"><b>No Members Found!!!</b></h5>
                                    </div>

                                    <div class="text-center">
                                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total > 10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                                    </div>

                                </div>

                           

                        <div class="clearfix"></div>
                   
                </div>
                <!--For Pending Request-->
                <div class="tab-pane" id="pending_groups" ng-if="pending_groups">

                    <h4><b>Pending Members</b></h4> 
                    <div class="container">

                        <div  ng-repeat="pending_member in pending_groups">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12 ">
                                        <img src="laravel-backend/public/uploads/{{pending_member.avatar_url|| 'no_avatar.jpg'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                        <br>
                                    </div>

                                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                        <h3><b>{{pending_member.name}}</b></h3>
                                        <h5><b>Joined </b>{{pending_member.created_at}}</h5>
                                        <h5 ng-if="pending_member.status==0" style="color:red"><b>** Blocked by You</b><h5>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                                        <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
                                            <a ng-click="member_status(1,pending_member.id)" style="cursor:pointer;"><b>Approve Member</b></a>
                                        </div>	

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-if="findgroups.length == 0" style="color: red;">
                            <h5 class="text-center"><b>No Record Found!!!</b></h5>
                        </div>

                        <div class="text-center">
                            <uib-pagination  total-items="pagination.total" ng-show="pagination.total > 10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--For Images upload-->
                <div class="tab-pane" id="Images" ng-if="images">

                        
                    <h4><b>Upload Images</b></h4> 
                    <!--Group Details-->
                    <div class="tab-pane" id="three">
                        <div class="modal-body">
                            <div class="col-md-12 ">
                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="bold"><i class="fa fa-cloud"></i>Upload Images for Groups</h4>
                                        <form action="../dummy.html" class="dropzone" id="dropzone" ui-jq="dropzone" ui-options="dropzoneOption1">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple="" />
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div  class="panel panel-default">
                                    <div class="panel-body">
                                        <h4 class="bold"><i class="fa fa-image"></i>
                                            Image Gallery</h4>


                                        <div blueimpgallery>
                                            <form class="form-inline">

                                                <div class="form-group">
                                                    <button id="image-gallery-button" type="button" class="btn btn-primary" data-toggle="tooltip" title="Launch Image Gallery">
                                                        <i class="glyphicon glyphicon-picture"></i>
                                                    </button>

                                                </div>

                                            </form>
                                            <div ng-if="images.length == 0"><b>No Images</b></div>
                                            <br>
                                            <!-- The container for the list of example images -->
                                            <div id="links">

<!--                                                <a ng-repeat="getImages in images" href="laravel-backend/public/groupGallery/{{getImages.image}}" title="A1 Image" data-gallery>
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad img-thumbnail">
                                                        <img src="laravel-backend/public/groupGallery/{{getImages.image}}" class="img-flat" height="160" width="160">
                                                        <button href="" type="button" ng-click="removeimage(getImages.image)" class="btn btn-warning btn-block" style="border-radius: 2px;">Remove Image</button>
                                                    </div>
                                                </a>-->
                                                
                                                <div ng-repeat="getImages in images">
                                                    
                                                    <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad img-thumbnail" >
                                                        <a href="laravel-backend/public/groupGallery/{{getImages.image}}" title="A1 Image" data-gallery>
                                                            <img src="laravel-backend/public/groupGallery/{{getImages.image}}" class="img-flat" height="160" width="160">
                                                        </a>
                                                        <button href="" type="button" ng-click="removeimage(getImages.image)" class="btn btn-warning btn-block" style="border-radius: 2px;">Remove Image</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <br>
                                            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls borderless" data-use-bootstrap-modal="false">
                                                <!-- The container for the modal slides -->
                                                <div class="slides"></div>
                                                <!-- Controls for the borderless lightbox -->
                                                <h3 class="title">Sample</h3>
                                                <a class="prev">‹</a>
                                                <a class="next">›</a>
                                                <a class="close">×</a>
                                                <a class="play-pause"></a>
                                                <ol class="indicator"></ol>
                                                <!-- The modal dialog, which will be used to wrap the lightbox content -->
                                                <div class="modal fade">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" aria-hidden="true">&times;</button>
                                                                <h4 class="modal-title">Sample</h4>
                                                            </div>
                                                            <div class="modal-body next"></div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default pull-left prev">
                                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                                    Previous
                                                                </button>
                                                                <button type="button" class="btn btn-primary next">
                                                                    Next
                                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end blueimpgallery directive-->
                                    </div>        



                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <!--For Events tab-->
                <div class="tab-pane" id="events" ng-if="events">

                   

                    <div class="col-md-12">
                        <div class="upcoming-events">

                                <h4>Upcoming Events</h4>
                                <div class="text-right">
                                    <button class="btn btn-primary text-right" ui-sref="registered.groupCrtevent({id:grp_id})">Create Event</button>
                                </div>
                                
                            <div class="event-list">
                                <ul>
                                    <div ng-repeat="event in events" ng-if="event.id">	
                                        <li>
                                            <div class="col-md-8">
                                                <div class="date-box col-md-2">
                                                    <span class="month">{{event.event_date | date:'MMM'}}</span>
                                                    <span class="date">{{event.event_date | date:'dd'}}</span>
                                                </div>

                                                <div class="upcoming-event-text">
                                                    <a  ui-sref="registered.groupevent({id:event.id})"><h4>{{event.name}}</h4></a>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-success" ng-if="event.event_con == 0" ng-click="event_con(1, event.id)">Send Confirmation</button>
                                                <a class="pull-right fa fa-download" aria-hidden="true" ng-if="event.user_rsvp.length>0" style="cursor:pointer; margin-left: 10px; margin-top: 13px;" ng-click="export(rsvp_list,'pdf')"></a>
                                                <a class="pull-right" ng-if='event.id' ng-click="event_rsvp(event.id)" style="cursor:pointer;" data-toggle="modal" data-target="#rsvpmodal"><h4><b>View RSVP </b></h4></a>
                                            </div>
                                        </li>
                                        <div class="modal fade" id="rsvpmodal" role="dialog">
                                        <div class="modal-dialog">

                                          <div class="modal-content">
                                                <div class="modal-header">
                                                  <button type="button" class="close" ng-click="reload()" id="close_modal" data-dismiss="modal">&times;</button>
                                                  <h4 class="modal-title text-center"><b>User Send Conformation</b></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <table ng-if="event_rs.length>0" class="table table-striped table-bordered" >
                                                        <thead>        
                                                            <tr class="text-center" style="font-weight: bold">
                                                                <td style="width:50%">Name</td>
                                                                <td style="width:50%">Action</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="user_con in event_rs">
                                                                <td style="width:50%">{{user_con.name}}</td>
                                                                <td style="width:50%" class="text-center">
                                                                    <a id="{{user_con.id+'_'+event.id}}" ng-if="user_con.user_status==2" ng-click="user_event_status(1,user_con.id,event.id)" data-target="#" class="btn btn-xs btn-green tooltips" data-placement="top" title="Accept" style="background-color: green;"><i class="fa fa-check"></i></a>
                                                                    <a id="{{user_con.id+'__'+event.id}}" ng-if="user_con.user_status==2" ng-click="user_event_status(0,user_con.id,event.id)" data-target="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" title="Reject" style="background-color: red;"><i class="fa fa-times fa fa-white"></i></a>
                                                                    <span id="{{user_con.id}}"></span>
                                                                    <span ng-if="user_con.user_status==0" class="label label-table label-danger"><b>Rejected</b></span>
                                                                    <span ng-if="user_con.user_status==1" class="label label-table label-success"><b>Accepted</b></span>
                                                                </td> 
                                                            </tr>
                                                        </tbody>
                                                     </table>
                                                    <h3 style="color: red; text-align: center;" ng-if="event_rs.length==0"><b>No confirmation!!</b></h3>

                                                </div>
                                                <div class="modal-footer">

                                                    <button type="button" ng-click="reload()" id="close_modals" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                    <div ng-if="events.length==1" style="color: red; min-height: 196px;">
                                        <h5 class="text-center"><b>No Event Found!!!</b></h5>
                                    </div>
                                    <div ng-if='event_record<=events.length'  class="col-md-12 load-more" id='load_more' style="text-align:center;">
                                        <button type="submit" ng-click="get_events(grp_id)" class="btn btn-info btn-lg load-more-btn">Load More</button>
                                    </div>
                                    <div ng-if="event_record>events.length && events.length>4">
                                        <h5 class="text-center"><b>No More Event Found !!!</b></h5>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>

            </div>


        </div>

    </div>

</div><!-- end #content -->

