<style>
.spacing {
  padding-bottom: 7px;
  padding-top: 7px;
}

</style>
<div ng-controller="Preloader" class="">
    <div style="margin: 5% auto; position: relative; width: 400px;">
        
        <!-- error alert panel -->
        <div class="alert alert-danger" ng-if="signinError.data.error">
            <strong>There was an error: </strong>
            <br>Please try again
        </div>
        <div id="sign-form" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2 translate>Payment Gateway</h2>
                            <!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
                            <br>
                        </div>
                        <!--  ng-submit should be signin() -->
                        <form name="Form" id="formpayment" novalidate ng-submit="form.submit(Form)">
                            
                                
                                <div  ng-show="loader" class="text-center">
                                    <img src="assets/img/preloader/material.gif" alt="preloader">
                                </div>
                                <div class="spacing"></div>
<!--                                <div class="">
                                    <span>Email address</span>
                                    <div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">

                                    <input ng-model="users.email" type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                                     <span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$invalid">Email is required</span>
                                    
                                    <span class="success text-small" ng-if="Form.email.$valid"></span>
                                </div>-->
                                

                                <div class="">
                                    <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">

                                    <span>Card Holder Name</span>
                                    <input ng-model="users.card_name" name="name" type="text" class="form-control" id="email" placeholder="Name" required>
                                     <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Card holder is required</span>
                                    
                                    <span class="success text-small" ng-if="Form.name.$valid"></span>
                                </div>
                                <div class="spacing"></div>
                                 <div class="">
                                    <span>Credit card </span>
                                    <div class="form-group" ng-class="{'has-error':Form.cardNumber.$dirty && Form.cardNumber.$invalid, 'has-success':Form.cardNumber.$valid}">

                                    <div class="input-group">
                                        <input ng-model="users.number" name="cardNumber" type="text" class="form-control" data-mask="9999-9999-9999-9999" data-placeholder= "*" required>
                                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                    </div>
                                     <span class="error text-small block" ng-if="Form.cardNumber.$dirty && Form.cardNumber.$invalid">Card Number is required</span>
                                    
                                    <span class="success text-small" ng-if="Form.cardNumber.$valid"></span>
                                </div>
                                
                                <div class="spacing"></div>
                                
                                    <span>Card Expiry Date</span>
                                     <div class="">
                                    <div class="col-md-6" ng-class="{'has-error':Form.mm.$dirty && Form.mm.$invalid, 'has-success':Form.mm.$valid}">
                                            <select name="mm" id="mm" class="form-control" ng-model="users.exp_month" required>
                                                <option value="">MM</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <span class="error text-small block" ng-if="Form.mm.$dirty && Form.mm.$error.required">month is required.</span>

                                        
                                </div>
                                <div class="col-md-6" ng-class="{'has-error':Form.yy.$dirty && Form.yy.$invalid, 'has-success':Form.yy.$valid}">
                                            <select name="yy" id="yy" class="form-control" ng-model="users.exp_year" required>
                                                <option value="">yy</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                            </select>
                                            <span class="error text-small block" ng-if="Form.yy.$dirty && Form.yy.$error.required">Year is required.</span>

                                        
                                </div>
                            </div>

                                <div class="spacing"></div>
                                 <div class="">
                                    <span>Cvv</span>
                                    <div class="form-group" ng-class="{'has-error':Form.cvv.$dirty && Form.cvv.$invalid, 'has-success':Form.cvv.$valid}">
                                <div class="col-md-6">
                                    <input ng-model="users.cvc" type="number" name ="cvv" class="form-control" id="cvv" placeholder="Cvv" maxlength="4" minlength="2" required>
                                     <span class="error text-small block" ng-if="Form.cvv.$dirty && Form.cvv.$invalid">Cvv is invalid</span>
                                    
                                    <span class="success text-small" ng-if="Form.cvv.$valid"></span>
                                </div>    
                                </div>
                                <br>
                                
                             <input ng-model="users.stripeToken" id="addtoken" name="stripeToken" type="hidden" class="form-control">

                             <input ng-model="users.GroupID" id="GroupID" name="Group_id" type="hidden" class="form-control">
                                
                            <button type="submit" class="btn btn-success btn-block">Pay {{total_price}}<i class="fa fa-arrow-circle-right"></i></button>

                            </fieldset>
                        </form>
                        
                </div>

                </div>

            </div>
        </div>

    </div>

</div>
