<style>
    .spacing {
        padding-bottom: 7px;
        padding-top: 7px;
    }
   
    .price-container{background:#dbdbdb; width:100%; height:auto; padding-bottom:55px;}
    .inner-price-box{height:auto; width:100%; background:#ffffff;}
    .gold-title{background:#cb8222; height:50px; color:#ffffff; font-size:30px; text-align:center; line-height:50px;}
    .silver-title{background:#8c8c8b; height:50px; color:#ffffff; font-size:30px; text-align:center; line-height:50px;}
    .brone-title{background:#884f06; height:50px; color:#ffffff; font-size:30px; text-align:center; line-height:50px;}
    .price-main-title{font-size:28px; color:#000000; text-align:center; margin-top:22px; line-height:22px; margin-bottom:15px;}
    .price-main-title-sub{font-size:17px; color:#000000; text-align:center; font-weight:bold; margin-bottom:25px; line-height:20px;}
    .inner-box-inside{padding:20px; height:100%;}
    .inner-box-inside h3{padding:0px; margin:0px;text-align:center; font-size:19px; color:#000000; line-height:20px; margin-bottom:10px;}
    .inner-box-inside h4{padding:0px; margin:0px;text-align:center; font-size:14px; color:#000000; line-height:16px;}
    .inner-box-inside h5.price{padding:0px; margin:0px;text-align:center; font-size:14px; color:#494646; vertical-align:top; display:table; width:100%; margin-top:20px; margin-bottom:20px;}
    .inner-box-inside h5.price .doller-sign{padding:0px; margin:0px;text-align:center; font-size:30px; color:#494646; vertical-align:top; }
    .inner-box-inside h5.price .amount{padding:0px; margin:0px;text-align:center; font-size:76px; font-weight:bold; line-height:65px; color:#494646; vertical-align:top; }
    .inner-box-inside h5.price .per-month-price{padding:0px; margin:0px;text-align:center; font-size:30px; font-weight:bold; color:#494646; vertical-align:top; }
    .inner-box-inside h5.price .per-month{padding:0px; margin:0px; margin-left:5px;text-align:center; font-size:19px; font-weight:bold; color:#494646; vertical-align:top; }

    .inner-box-inside .discount{ width: 100%; color: #000000; display: block; text-align: center; font-weight: bold;font-size: 14px;}
    .inner-box-inside .buy-now{width: 80px; color: #000000; display: block; text-align: center; height: 30px;  border: 1px solid #000000;    font-weight: bold;
                               font-size: 14px;    margin: 25px auto 45px auto;    line-height: 28px;}

</style>
<div ng-controller="Preloader" class="">



    <!-- error alert panel -->
    <div class="alert alert-danger" ng-if="signinError.data.error">
        <strong>There was an error: </strong>
        <br>Please try again
    </div>

    <div id="sign-form" class="panel panel-default">
        <form name="Form" id="formpayment" novalidate ng-submit="form.submit(Form)">
            <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-success':Form.name.$valid}">

                <div class="panel-body">
                    <!--                    <div class="panel-body text-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2><b>Choose Your Plan</b></h2>
                                                    <h2><b>YOUR FIRST 90 DAYS ARE FREE</b></h2>
                                                    <h4>90 days starts after our official launch date</h4>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="container form-group">
                                                        <div ng-repeat="plan in membership">
                                                            <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-heading" style="text-transform: uppercase;"><h4><b>{{plan.name}}</b></h4></div>
                                                                    <div class="panel-body">
                                                                        <h4 class="text-center" style="text-transform: uppercase;">{{plan.sub_title}}</h4>
                                                                        <h5 class="text-center" style="text-transform: capitalize;">{{plan.members}}</h5>
                                                                        <h4><b>$</b><b style="text-transform: capitalize; font-size: 50px;">{{plan.monthly_plan}}</b><b>/month</b></h4>
                                                                    <div ng-repeat="pay in plan.payments" class="radio pull-left">
                                                                            <label><input type="radio" ng-model="users.pay" name="optradio">hi</label>
                                                                        </div>
                                                                        <div ng-repeat="pay in plan.payments" style="text-align:justify">
                                                                            <div class="radio radio-info radio-inline">
                                                                                <input ng-model="users.pay" type="radio" id="Male" value="{{pay}}" name="gender" >
                                                                                <label style="margin-top:-15px; text-transform: capitalize;"><h5><b> Pay {{pay.type}} $ {{pay.amount}} ({{pay.discount}}% discount)</b></h5></label>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </div>    
                                            </div>
                                        </div>-->


                    <div class="price-container">	
                        <div class="container">
                            <h2 class="text-center"><b>Choose Your Plan</b></h2>
                            <div class="price-main-title">YOUR FIRST 90 DAYS ARE FREE</div>
                            <div class="price-main-title-sub">90 days starts after our official launch date</div>
                            <!--Box 1-->
                            <div ng-repeat="plan in membership">    
                                <div class="col-md-4">
                                    <div class="inner-price-box">
                                        <div ng-if="plan.name == 'gold'" class="gold-title" style="text-transform: uppercase;">{{plan.name}}</div>
                                        <div ng-if="plan.name == 'Silver'" class="silver-title" style="text-transform: uppercase;">{{plan.name}}</div>
                                        <div ng-if="plan.name == 'bronze'" class="brone-title" style="text-transform: uppercase;">{{plan.name}}</div>
                                        <div class="inner-box-inside">
                                            <h3 style="text-transform: uppercase;">{{plan.sub_title}}</h3>
                                            <h4 style="text-transform: capitalize;">{{plan.members}}</h4>
                                            <div ng-repeat="pay in plan.payments" style="text-align:justify">
                                                <div class="radio radio-info radio-inline">

                                                    <h5 class="price" ng-if="pay.type == 'monthly'">
                                                        <input ng-model="users.pay" type="radio" id="Male" value="{{pay}}" name="gender" style="margin-top:30px;">
                                                        <span class="doller-sign">$</span>
                                                        <span class="amount">{{pay.amount}}</span>
                                                        <!--<span class="per-month-price">99</span>-->
                                                        <span class="per-month">/month</span>					
                                                    </h5>
                                                    <div ng-if="pay.type != 'monthly'">
                                                        <input ng-model="users.pay" type="radio" id="Male" value="{{pay}}" name="gender" >
                                                        <span class="discount" style="text-transform: capitalize;">Pay {{pay.type}} ${{pay.amount}} ({{pay.discount}}% discount)</span>
                                                    </div>
                                                    <!--<a href="#" class="buy-now">BUY NOW</a>-->
                                                </div>
                                            </div>    
                                        </div>			
                                    </div>		
                                </div>
                            </div>   
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="margin: 5% auto; position: relative; width: 400px;">
                                <div class="text-center">
                                    <h2 translate>Payment Details</h2>
                                    <!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
                                    <br>
                                </div>
                                <!--  ng-submit should be signin() -->



                                <div  ng-show="loader" class="text-center">
                                    <img src="assets/img/preloader/material.gif" alt="preloader">
                                </div>
                                <div class="spacing"></div>
                                <!--                                <div class="">
                                                                    <span>Email address</span>
                                                                    <div class="form-group" ng-class="{'has-error':Form.email.$dirty && Form.email.$invalid, 'has-success':Form.email.$valid}">
                                
                                                                    <input ng-model="users.email" type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                                                                     <span class="error text-small block" ng-if="Form.email.$dirty && Form.email.$invalid">Email is required</span>
                                                                    
                                                                    <span class="success text-small" ng-if="Form.email.$valid"></span>
                                                                </div>-->


                                <div class="">


                                    <span>Card Holder Name</span>
                                    <input ng-model="users.card_name" name="name" type="text" class="form-control" id="email" placeholder="Name" required>
                                    <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Card holder is required</span>

                                    <span class="success text-small" ng-if="Form.name.$valid"></span>
                                </div>
                                <div class="spacing"></div>
                                <div class="">
                                    <span>Credit Card Number</span>
                                    <div class="form-group" ng-class="{'has-error':Form.cardNumber.$dirty && Form.cardNumber.$invalid, 'has-success':Form.cardNumber.$valid}">

                                        <div class="input-group">
                                            <input ng-model="users.number" name="cardNumber" type="text" class="form-control" data-mask="9999-9999-9999-9999" data-placeholder= "*" required>
                                            <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                        </div>
                                        <span class="error text-small block" ng-if="Form.cardNumber.$dirty && Form.cardNumber.$invalid">Card Number is required</span>

                                        <span class="success text-small" ng-if="Form.cardNumber.$valid"></span>
                                    </div>


                                    <span>Card Expiration Date</span>
                                    <div class="">
                                        <div class="col-md-6" ng-class="{'has-error':Form.mm.$dirty && Form.mm.$invalid, 'has-success':Form.mm.$valid}">
                                            <select name="mm" id="mm" class="form-control" ng-model="users.exp_month" required style="margin-left:-15px;">
                                                <option value="">MM</option>
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <span class="error text-small block" ng-if="Form.mm.$dirty && Form.mm.$error.required">month is required.</span>


                                        </div>
                                        <div class="col-md-6" ng-class="{'has-error':Form.yy.$dirty && Form.yy.$invalid, 'has-success':Form.yy.$valid}">
                                            <select name="yy" id="yy" class="form-control" ng-model="users.exp_year" required style="margin-left:17px;">
                                                <option value="">YY</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                                <option value="25">25</option>
                                                <option value="26">26</option>
                                                <option value="27">27</option>
                                            </select>
                                            <span class="error text-small block" ng-if="Form.yy.$dirty && Form.yy.$error.required">Year is required.</span>


                                        </div>
                                    </div>
                                    <div class="spacing"></div>
                                    <div class="spacing"></div>
                                    <div class="spacing"></div>
                                    <div class="spacing"></div>
                                    <div class="" >
                                        <span>CVV</span>
                                        <div class="form-group" ng-class="{'has-error':Form.cvv.$dirty && Form.cvv.$invalid, 'has-success':Form.cvv.$valid}">
                                            <div class="col-md-6">
                                                <input ng-model="users.cvc" type="text" name ="cvv" class="form-control" id="cvv" placeholder="CVV" maxlength="4" minlength="2" required style="margin-left:-15px;">
                                                <span class="error text-small block" ng-if="Form.cvv.$dirty && Form.cvv.$invalid">Cvv is invalid</span>

                                                <span class="success text-small" ng-if="Form.cvv.$valid"></span>
                                            </div>    
                                        </div>
                                        <br>

                                        <input ng-model="users.stripeToken" id="addtoken" name="stripeToken" type="hidden" class="form-control">

                                        <input ng-model="users.GroupID" id="GroupID" name="Group_id" type="hidden" class="form-control">
                                        <div class="spacing"></div>
                                        <div class="spacing"></div>
                                        <button type="submit" class="btn bevylife_next btn-block">Submit<i class="fa fa-arrow-circle-right"></i></button>

                                        </fieldset>


                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>    
        </form>
    </div>
</div>    