<style>
    .descrip{
        height: 62px;
        overflow: hidden;
    }
    .text-right {
        margin-bottom: 10px !important;
    }
    .upcoming-events {
        padding-top: 10px !important;
        //width: 100%;
    }
    .group-details {
        padding-top: 40px;
    }
    .event_details{
        font-size: 18px; 
        font-weight: 900;
    }
    
</style>


<div id="content">
    <div class="col-md-12 ">
        <div  class="panel panel-default" >
            <div class="panel-body no-padding">
                <div class="tabbable ">
                    <ul class="nav nav-tabs nav-line ">
                        <!-- <li ng-if="profile.user_type_id == 2" class="active">
                            <a href="" data-target="#groups" data-toggle="tab" class="tabu">
                                Groups 
                            </a>
                        </li> -->
                        <li class="active" ng-click="clearall()">
                            <a data-target="#managegroups" data-toggle="tab" class="tabu">
                                Events
                            </a>

                        </li>


                    </ul>

                    <div class="tab-content padding-10">
                        <div class="tab-pane active" id="groups">

                            <section class="">

                                <!--Group Details-->
                                <section class="group-details">
                                    <div class="container">
                                        <div id="loader" class="text-center">
                                            <img  src="assets/img/preloader/material.gif" alt="preloader">
                                        </div>

                                        <h2 style="color: #b9eb7f;">{{'Upcoming Events'}}</h2> 
                                        <div  ng-repeat="frsvps in rsvps.future">
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top: 20px">
                                                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                                                    <img src="laravel-backend/public/uploads/{{frsvps.avatar_url|| 'group_background.png'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                                    <br>
                                                </div>
                                                <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">


                                                    <div class="heading-title">
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Name: <span style="color:#a6bb78;">{{frsvps.name}}</span></label>
                                                        </div>
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Date: <span style="color:#a6bb78;">{{frsvps.event_date}}</span></label>
                                                        </div>
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Time: <span style="color:#a6bb78;">{{frsvps.start_time}}</span></label>
                                                        </div>
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Address: <span style="color:#a6bb78;">{{frsvps.address}}</span></label>
                                                        </div>
                                                        <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad" style="text-align: justify;">
                                                            <label class="event_details">Event Description </label>
                                                            <p>{{frsvps.description}}</p>
                                                        </div>

                                                    </div>



                                                </div>
                                                <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                    <div class="col-md-2 col-lg-5 col-sm-12 col-xs-12 no-pad text-center">
                                                        <a ui-sref="registered.viewsingleevnt({id:frsvps.id})" class="calender-btn btn btn-lg">Detail</a></br></br>
                                                        <a ng-click="cancel_rsvp(frsvps.id)" class="calender-btn btn btn-lg">Cancel RSVP</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-if="rsvps.future.length == 0" style="color: red; min-height: 140px;">
                                            <h5 class="text-center"><b>No Future RSVP Found!!!</b></h5>
                                        </div>
                                        <h2 style="color: #b9eb7f;">{{'Past Events'}}</h2> 
                                        <div  ng-repeat="frsvps in rsvps.past">
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" style="padding-top: 20px">
                                                <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
                                                    <img src="laravel-backend/public/uploads/{{frsvps.avatar_url|| 'group_background.png'}}" class="img-responsive" style="width:200px; height:130px;"/>
                                                    <br>
                                                </div>
                                                <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">


                                                    <div class="heading-title">
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Name: <span style="color:#a6bb78;">{{frsvps.name}}</span></label>
                                                        </div>
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Date: <span style="color:#a6bb78;">{{frsvps.event_date}}</span></label>
                                                        </div>
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Time: <span style="color:#a6bb78;">{{frsvps.start_time}}</span></label>
                                                        </div>
                                                        <div class="col-md-10 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                                            <label class="event_details">Event Address: <span style="color:#a6bb78;">{{frsvps.address}}</span></label>
                                                        </div>
                                                        <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad" style="text-align: justify;">
                                                            <label class="event_details">Event Description </label>
                                                            <p>{{frsvps.description}}</p>
                                                        </div>

                                                    </div>



                                                </div>
                                                <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12">
                                                    <div class="col-md-2 col-lg-5 col-sm-12 col-xs-12 no-pad text-center">
                                                        <a ui-sref="registered.viewsingleevnt({id:frsvps.id})" class="calender-btn btn btn-lg">Detail</a></br></br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="rsvps.past.length == 0" style="color: red; min-height: 140px;">
                                            <h5 class="text-center"><b>No Past RSVP Found!!!</b></h5>
                                        </div>
                                    </div>

                                </section>

                                <div class="clearfix"></div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>            