<!-- main content -->
<div id="content" >
    <div class="col-md-12" ng-init="getlist()">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                 </div>
            </div>
            <div class="panel-body" translate-namespace="cms.list">
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="5%" translate></th>
                            <th width="5%" translate>#</th>
                            <th width="30%" translate> .heading </th>
                            <th width="30%" translate> .subheading </th>
                            <!--<th width="20%" translate> .description </th>-->
                            <th width="5%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="cms in cms_detail">
                                <td></td>
                                <td data-title="Name">{{cms.id}}</td>
                                <td data-title="heading">{{cms.page_heading}}</td>
                                <td data-title="Sub Heading">{{cms.sub_heading}}</td>
                                <!--<td data-title="Description">{{cms.description}}</td>-->
                                <td><a  class="fa fa-pencil-square-o" ui-sref="admin.editCms({id:cms.id})" title="Edit"></a></td>
<!--                                <td><a class="fa fa-envelope" ng-if="selection.length==0" title="Send Mail" data-email="{cms.email}" ng-click="toggle(user.email,user.id)" style="cursor:pointer"></a></td>-->

                            </tr>
                        </tbody>
                    </table>
<!--                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
   