<!-- main content -->
<style>
    /* Because Summernote and CKEditor overlap with each other,
     * we are using this style for disable hover top toolbar CKEditor.
     * We don't recommend using these editors together unless use this style
     */
    #cke_2_toolbox{
        display: none;
    }
</style>
<div id="content">
    <div class="col-md-12" ng-init="show()">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.csm" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body text-left" translate-namespace="cms.form">
                <hr>
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" translate>
                                    {{".heading" | translate}}
                                </label>
                                <div class="col-sm-10">
                                    <input ng-model="cms.page_heading" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div ng-if="cms.sub_heading" class="form-group">
                                <label class="col-sm-2 control-label" translate>
                                    {{".subheading" | translate}}
                                </label>
                                <div class="col-sm-10">
                                    <input ng-model="cms.sub_heading" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" translate>
                                    {{".description" | translate}}
                                </label>
<!--                                <div class="col-sm-6">
                                    <textarea ng-model="cms.description" type="text" placeholder="" class="form-control" style="height: 300px;"></textarea>
                                </div>-->
                                <div class="panel panel-default col-sm-10">
                                    <textarea ui-tinymce="tinymceOptions" ng-model="cms.description" cols="80" id="editor2" name="editor2" rows="10"></textarea>
                                </div>
                            </div>
                            <div ng-if="cms.id==1" class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" translate>
                                    {{".image" | translate}}
                                </label>
                                <!--<div ng-repeat="cms in cms.cms_template_image">-->
                                    <div class="col-sm-10">
                                        <div  ng-model="cms.image" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single">
                                        </div>
                                    </div>
                                <!--</div>-->
                            </div>
                            <br></br>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-info" ng-click="update(cms)" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.update" | translate }}</button>
                                    <button class="btn btn-warning" ui-sref="admin.cms"> {{"app.shared.common.cancel"| translate }}</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- main content -->