<!-- main content -->
<style>
    /* Because Summernote and CKEditor overlap with each other,
     * we are using this style for disable hover top toolbar CKEditor.
     * We don't recommend using these editors together unless use this style
     */
    #cke_2_toolbox{
        display: none;
    }
</style>
<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.misc" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body text-left" translate-namespace="misc.form">
                <hr>
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-12">
<!--                            <div class="form-group">
                                <label class="col-sm-2 control-label" translate>
                                    {{".emailtype" | translate}}
                                </label>
                                <div class="col-sm-6">
                                    <input ng-model="email.email_type" type="text" placeholder="" class="form-control">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label" translate>
                                    {{".emailsubject" | translate}}
                                </label>
                                <div class="col-sm-8">
                                    <input ng-model="email.email_subject" type="text" placeholder="" class="form-control" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" translate>
                                    {{".emailbody" | translate}}
                                </label>
<!--                                <div class="col-sm-6">
                                    <textarea ng-model="cms.description" type="text" placeholder="" class="form-control" style="height: 300px;"></textarea>
                                </div>-->
<!--                                <div class="panel panel-default col-sm-10">
                                    
                                    <textarea ui-tinymce="tinymceOptions" ng-model="email.email_body" cols="80" id="editor2" name="editor2" rows="10"></textarea>
                                </div>-->
                                <div class='col-sm-6'>
                                    <textarea ng-model="email.email_body" cols="76" id="editor2" name="editor2" rows="10"></textarea>
                                </div>    
                            </div><br></br>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success" ng-click="create(email)" ng-if="!email.id" ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i> {{"app.shared.common.save" | translate }}</button>
                                    <button class="btn btn-info" ng-click="update(email)" ng-if="email.id" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.update" | translate }}</button>&nbsp;&nbsp;
                                    <button class="btn btn-warning" ui-sref="admin.miscellaneous"> {{"app.shared.common.cancel"| translate }}</button>
                                </div>    
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- main content -->