<!-- main content -->
<div id="content" >
    <div class="col-md-12" ng-init="getlist()">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
<!--                    <div class="bars pull-right">
                        <button class="btn btn-success" ui-sref="admin.createEmail">
                            Add new template
                        </button>
                    </div>-->
                 </div>
            </div>
            <div class="panel-body" translate-namespace="misc.list">
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="2%" translate></th>
                            <th width="5%" translate>#</th>
                            <th width="10%" translate> .emailtype </th>
                            <th width="20%" translate> .emailsubject </th>
                            <!--<th width="25%" translate> .emailbody </th>-->
                            <th width="5%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="misc in email_details">
                                
                                <td></td>
                                <td data-title="Name">{{misc.id}}</td>
                                <td data-title="heading">{{misc.email_type}}</td>
                                <td data-title="Sub Heading">{{misc.email_subject}}</td>
                                <!--<td data-title="Description">{{misc.email_body}}</td>-->
                                <td><a class="fa fa-pencil-square-o" ui-sref="admin.editEmail({id:misc.id})" title="Edit"></a>
                                    <!--<a ng-click="delete(misc.id)" show-if-has-permit="view_user" style="cursor:pointer"><i class="fa fa-trash red"></i></a> -->
                                </td>
<!--                                <td><a class="fa fa-envelope" ng-if="selection.length==0" title="Send Mail" data-email="{cms.email}" ng-click="toggle(user.email,user.id)" style="cursor:pointer"></a></td>-->

                            </tr>
                        </tbody>
                    </table>
<!--                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content 
