<!-- main content -->

<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.groups" class="btn btn-link has-ripple">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <hr>
            <div class="panel-body" translate-namespace="group.event">
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-12"><br>
                            <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">
                               <span class="glyphicon glyphicon-plus"> Add</span>
                            </button><br>
                            
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title text-center"><b>Add Event</b></h4>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="modal-body" ng-init="event.base_id=group.id">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" translate>
                                                        {{"group.event.event_name" | translate}}
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <input ng-model="event.name" type="text" placeholder="" class="form-control">
                                                        <input ng-model="group.id" type="hidden" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" translate>
                                                        {{"group.event.event_date" | translate}}
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <div class="dropdown-toggle">
                                                            <!--<a class="dropdown-toggle" data-toggle="dropdown">-->
                                                                <div class="input-group">
                                                                    <input ng-model="event.event_date" type="text" class="form-control" jqdatepicker><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                </div>
                                                            <!--</a>-->
                                                        </div>
                                                         <!--<input class="datepicker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="date">-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" translate>
                                                        {{"group.event.event_description" | translate}}
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <textarea ng-model="event.description" type="text" placeholder="" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" translate>
                                                      {{"group.event.event_recurring" | translate}}
                                                    </label>
                                                    <div class="col-md-3 text-center">
                                                        <lable>Yes</label>
                                                        <input type="radio" ng-model="event.recurring" value="1">
                                                    </div>    
                                                    <div class="col-md-3 text-center">
                                                        <lable>No</label>
                                                        <input type="radio" ng-model="event.recurring" value="0">
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="Submit" class="btn btn-success text-center" ng-click="create_event(event)" data-dismiss="modal">Submit</button>
                                              <button type="button" class="btn btn-warning text-center" data-dismiss="modal">Close</button>
                                            </div>    
                                         </form>
                                     </div>
                                </div>
                            </div>
                            <!--Edit Modal-->
                            
                            <div class="modal fade" id="edit_modal" role="dialog">
                                <div class="modal-dialog">

                                  <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                                          <h4 class="modal-title text-center"><b>Add Event</b></h4>
                                        </div>
                                        <form class="form-horizontal">
                                            <div class="modal-body" ng-init="event.base_id=group.id">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" translate>
                                                        {{"group.event.event_name" | translate}}
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <input ng-model="event.name" type="text" placeholder="" class="form-control">
                                                        <input ng-model="group.id" type="hidden" placeholder="" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" translate>
                                                        {{"group.event.event_date" | translate}}
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <div class="dropdown-toggle">
                                                            <!--<a class="dropdown-toggle" data-toggle="dropdown">-->
                                                                <div class="input-group">
                                                                    <input ng-model="event.event_date" type="text" class="form-control" jqdatepicker><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                </div>
                                                            <!--</a>-->
                                                        </div>
                                                         <!--<input class="datepicker" type="text" data-ng-datepicker data-ng-options="datepickerOptions" data-ng-model="date">-->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label" translate>
                                                        {{"group.event.event_description" | translate}}
                                                    </label>
                                                    <div class="col-sm-9">
                                                        <textarea ng-model="event.description" type="text" placeholder="" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" translate>
                                                      {{"group.event.event_recurring" | translate}}
                                                    </label>
                                                    <div class="col-md-3 text-center">
                                                        <lable>Yes</label>
                                                        <input type="radio" ng-model="event.recurring" value="1">
                                                    </div>    
                                                    <div class="col-md-3 text-center">
                                                        <lable>No</label>
                                                        <input type="radio" ng-model="event.recurring" value="0">
                                                    </div>    
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="Submit" class="btn btn-success text-center" ng-click="create_event(event)" data-dismiss="modal">Submit</button>
                                              <button type="button" class="btn btn-warning text-center" data-dismiss="modal">Close</button>
                                            </div>    
                                         </form>
                                     </div>
                                </div>
                            </div>
                            
                            <div class="panel-body">
                                <div class="res-table" >
                                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                                        <thead>
                                        <tr>
                                            <th width="20%" translate> {{"group.event.event_name" | translate}} </th>
                                            <th width="20%" translate> {{"group.event.event_date" | translate}} </th>
                                            <th width="40%" translate> {{"group.event.event_description" | translate}} </th>
                                            <th width="10%" class="text-center">
                                                <i class="fa fa-bolt"></i>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="event in group.events">
                                            <td data-title="Name">{{event.name}}</td>
                                            <td data-title="Date">{{event.event_date}}</td>
                                            <td data-title="Description">{{event.description}}</td>
                                            <td><a class="fa fa-pencil-square-o" data-toggle="modal" ng-click="show_event(event.id)" title="Edit Event" data-target="#edit_modal"></a>
                                                <a class="fa fa-trash-o fa-fw" ng-click="delete_event(event.id)" title="Delete Event"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                                    </div>
                                </div>
                            </div>
                            
                        </div>    
                        <hr>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- main content -->


<script>
    Dropzone.autoDiscover = false;
</script>