
<!-- main content -->

<div id="content">
    <div class="col-md-12" ng-init="getuser()">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.groups" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label| translate}}</span>
                </div>
            </div>
            <div class="panel-body" translate-namespace="group.form">
                <hr>
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-6"><br>
                            <!--                            <div ng-if="!group.id" class="form-group switch">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .active
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <div class="m-switch">
                                                                    <input ng-model="group.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">
                                                                    <label for="id-name--1" class="switch-label">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .avatar
                                </label>
                                <div class="col-sm-9">
                                    <div ng-if="group.avatar_url !== undefined" ng-model="group.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single" multiple></div>
                                    <div ng-if="deleteMessage" class="red">File removed successfully!</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    {{"group.list.name"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="group.name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    {{"group.list.header"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="group.header" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"group.list.groupowner"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <select ng-model="group.group_owner_name" class="form-control ng-dirty ng-valid-parse" >

                                        <option ng-repeat="c in grPwner.data" ng-value="c.name">{{c.name}}</option>   
                                    </select>
                                </div> 
                            </div>
                            <!--                            <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                {{"group.list.user_id" | translate}}
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="group.user_id" type="text" placeholder="" class="form-control">
                                                            </div>
                                                        </div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"group.list.description"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <textarea ng-model="group.description" type="text" placeholder="" class="form-control"></textarea>
                                </div>
                            </div>
                            <!--                            <div class="form-group">
                                                            <label class="col-sm-3 control-label">
                                                                {{"group.list.terms_and_condition" | translate}}
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <textarea ng-model="group.terms_and_condition" type="text" placeholder="" class="form-control"></textarea>
                                                            </div>
                                                        </div>-->
                            <hr>
                            <div class="form-group">

                                <div class="col-sm-9">
                                    <label class="pull-left col-sm-8 control-label" translate style="text-align: left;">
                                        .locationofgroup
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .country
                                </label>
                                <div class="col-sm-9">
                                    <!--                                    <input ng-model="group.country" type="text" placeholder="" class="form-control" id="getCountryCode">
                                                                        
                                    -->
                                    <select ng-model="group.country" ng-options="x for x in countriesmn " class="form-control" ng-change="updateState()">
                                        <option value=""> Select Country</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .state
                                </label>
                                <div class="col-sm-9">
                                    <select name="state" ng-model="group.state" required class="form-control ng-dirty ng-valid-parse">
                                        <!--<option value="" >{{states[0]}}</option>-->
                                        <!--<option value="">Select State</option>-->
                                        <option  ng-repeat="optStates in states" ng-value="optStates">{{optStates|| states[0]}}</option>

                                    </select>
                                    <!--<country-state-select country="myCountryModel" state="myStateModel" country-label="  " country-select-label="Select your country" state-label=" "  ></country-state-select>-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .city
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="group.city" type="text" placeholder="" class="form-control" id="getCityCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .postalcode
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="group.postalcode" type="text" placeholder="" class="form-control">
                                    <!--<input ng-model="group.postalcode" type="text" placeholder="" class="form-control" ng-blur="getzip($event)" ng-pattern="/^[0-9]*$/" ng-minlength="4" maxlength="6">-->
                                </div>
                            </div>

                            <!--                            <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .state
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="group.state" type="text" placeholder="" class="form-control" id="getStateCode">
                                                            </div>
                                                        </div>-->


                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"group.list.groupinterest"| translate}}
                                </label>
                                <!--                                <div class="col-sm-9">
                                                                    <select ng-model="group.category_name" ng-options='category.category_name for category in categories' class="form-control ng-dirty ng-valid-parse" ></select>
                                                                    <select ng-model="group.category_name" class="form-control ng-dirty ng-valid-parse" >
                                                                        <option ng-repeat="category in categories" ng-value="category.category_name">{{category.category_name}}</option>
                                                                    </select>
                                                                </div>-->
                                <div class="col-sm-9">
                                    <select ng-model="group.category_name" multiple class="form-control">
                                        <option ng-repeat="category in categories" ng-values="category.category_name">{{category.category_name}}</option>    
                                    </select>
                                </div>
                                <div class="note">
                                    <strong>Note:</strong> Hold down the ctrl/cmd button to select multiple options.
                                </div>

                            </div>

                        </div>   


                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                            </label>
                            <div class="col-sm-12">
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success" ng-click="create(group)" ng-if="!group.id" ng-class="{'working':isDisabled === true}"><i class="fa fa-save"></i> {{"app.shared.common.save"| translate }}</button>
                                    <button class="btn btn-info" ng-click="update(group)" ng-if="group.id" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.update"| translate }}</button>&nbsp;&nbsp;
                                    <!--                                    <button class="btn btn-success" ng-click="status(1, group.id)" ng-if="(group.id && group.status == 2) || group.status == 0" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.active"| translate }}</button>
                                                                        <button class="btn btn-danger" ng-click="status(0, group.id)" ng-if="(group.id && group.status == 2) || group.status == 1" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.deactivate"| translate }}</button>&nbsp;&nbsp;-->
                                    <button class="btn btn-warning" ui-sref="admin.groups"> {{"app.shared.common.cancel"| translate }}</button>
                                </div>    
                                <div class="col-sm-4">

                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close"  data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-center"><b>Add Event</b></h4>
                            </div>
                            <form class="form-horizontal">
                                <div class="modal-footer">
                                    <button type="Submit" class="btn btn-success text-center" ng-click="create_event(event)" data-dismiss="modal">Submit</button>
                                    <button type="button" class="btn btn-warning text-center" data-dismiss="modal">Close</button>
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  ng-if="pageTemp == 'EditPage'" class="panel panel-default ">
            <div class="panel-body no-padding">
                <div class="tabbable tabs-above ">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="" data-target="#one" data-toggle="tab">
                                <i class="fa fa-calendar success"></i>&nbsp; Event
                            </a>
                        </li>
                        <li>
                            <a href="" data-target="#two" data-toggle="tab">
                                <i class="fa fa-users primary"></i>&nbsp; Group Member
                            </a>
                        </li>
                        <li>
                            <a href="" data-target="#three" data-toggle="tab">
                                <i class="fa fa-picture-o warning"></i>&nbsp; Photos
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content padding-10 ">
                        <div class="tab-pane active" id="one">
                            <h4>Event List</h4>
                            <div class="panel-body">
                                <button class="btn btn-primary pull-right" id="add_event_button" ng-click="show_modal()">Add Event</button>
                                <div ng-if="getEvent.length > 0">                 
                                    <table class="table table-striped table-hover table-fixed ellipsis-table" >
                                        <thead>        
                                            <tr style="font-weight: bold">
                                                <td style="width:10%">Name</td>
                                                <td style="width:10%">Date</td>
                                                <td style="width:30%">Description</td>
                                                <td style="width:10%">Action</td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="events in getEvent">
                                                <td>
                                                    {{ events.name || 'empty' }}
                                                </td>
                                                <td>
                                                    {{ (events.event_date | date:"yyyy-MM-dd") || 'empty'}}   
                                                </td>
                                                <td>
                                                    {{ events.description || 'empty' }}
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary" ng-click="show_event(events.id)" data-toggle="modal" data-target="#eventmodal"><i class="fa fa-pencil" title="Edit"></i></button>
                                                    <button class="btn btn-success" ng-click="event_rsvp(events.id)" data-toggle="modal" data-target="#rsvpmodal"><i class="fa fa-download" title="Downlaod RSVP"></i></button>
                                                    <button class="btn btn-danger" id="mkeve_{{events.id}}" ng-click="removeUser(events.id)"><i class="fa fa-trash" title="Remove"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <!--<button class="btn btn-primary pull-right" ng-click="addNewEvent()">Add Event</button>-->
                            </div>

                        </div>
                        <!--Modal for event-->
                        <div class="modal fade" id="eventmodal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 ng-if="!single_event.id" class="modal-title text-center"><b>Create Event</b></h4>
                                    <h4 ng-if="single_event.id" class="modal-title text-center"><b>Edit Event</b></h4>
                                </div>
                                    <div class="modal-body">
                                        <div  class="panel panel-default">
                                            <div class="panel-body">
                                                <form name="Form" id="form1" novalidate>
                                                    <fieldset ng-disabled="isDisabled">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="hidden" name="id" ng-model="profile.id">

                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>
                                                                        Event Image
                                                                    </label>
                                                                    <div ng-if="single_event.avatar_url!==undefined" ng-model="single_event.avatar_url" dropzone="dropzoneConfig2" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                                    <div ng-if="single_event.avatar_url==undefined" ng-model="single_event.avatar_url" dropzone="dropzoneConfig2" mode="single" class="dropzone dz-clickable dz-single"></div>
                                                                </div>
                                                                <div class="form-group" ng-class="{'has-error':Form.name.$dirty && Form.name.$invalid, 'has-succes':Form.name.$valid}">
                                                                    <label>Event Name</label>
                                                                    <input type="text" placeholder="Enter Event Name" class="form-control" name="name" ng-model="single_event.name" required />
                                                                    <span class="error text-small block" ng-if="Form.name.$dirty && Form.name.$invalid">Event Name is required</span>
                                                                    <span class="success text-small" ng-if="Form.name.$valid"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        Description 
                                                                    </label>
                                                                    <textarea type="text" class="form-control" placeholder="Enter Event Description" name="description" ng-model="single_event.description" rows="4" required> </textarea>
                                                                    <span class="error text-small block" ng-if="Form.description.$dirty && Form.description.$invalid">Description is required</span>
                                                                    <span class="success text-small" ng-if="Form.description.$valid"></span>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        Area of Interest
                                                                    </label>
                                                                        <select ng-model="single_event.category_name" multiple class="form-control">
                                                                            <option ng-repeat="category in categories" ng-values="category.category_name">{{category.category_name}}</option>    
                                                                        </select>
                                                                    <div class="note">
                                                                        <strong>Note:</strong> Hold down the ctrl/cmd button to select multiple options.
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Event Status</label>
                                                                    <select class="form-control" name="status" ng-model="single_event.status" placeholder="Enter Event Status">
                                                                        <option value="1">Active</option>
                                                                        <option value="0">Inactive</option>
                                                                        <option value="2">Drop By User</option>
                                                                    </select>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        Event Date 
                                                                    </label>
                                                                    

                                                                    <input type="text" placeholder="Enter Event Date" ng-change="temp_date()" id="datepicker" class="form-control"  ng-model="single_event.event_date" required>


                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        Event End Date 
                                                                    </label>
                                                                    

                                                                    <input type="text" placeholder="Enter End Event Date"  id="datepicker1" class="form-control"  ng-model="single_event.end_date" required>


                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Start Time</label>
                                                                    <div class="input-group">
<!--                                                                        <input class="form-control" ng-model="single_event.start_time" id="clockpicker" ui-jq="clockpicker" ui-options="{ placement: 'top', donetext: 'Done' }" type="text" placeholder="Select Start Time" data-autoclose="true">
                                                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>-->
                                                                            <input class="form-control" ng-model="single_event.start_time" id="startDate" type="text" placeholder="Select time">
                                                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>End Time</label>
                                                                    <div class="input-group">
<!--                                                                        <input class="form-control" ng-model="single_event.end_time" id="clockpicker" ui-jq="clockpicker" ui-options="{ placement: 'top', donetext: 'Done' }" type="text" placeholder="Select End Time" data-autoclose="true">
                                                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>-->
                                                                            <input class="form-control" ng-model="single_event.end_time" id="endDate" type="text" placeholder="Select time">
                                                                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" ng-class="{'has-error':Form.location.$dirty && Form.location.$invalid, 'has-succes':Form.location.$valid}">
                                                                    <label>Event Location (optional)</label>
                                                                    <input type="text" placeholder="Enter Event Location" class="form-control" name="location" ng-model="single_event.location" required />
                                                                    <span class="error text-small block" ng-if="Form.location.$dirty && Form.location.$invalid">Event Location is required</span>
                                                                    <span class="success text-small" ng-if="Form.location.$valid"></span>
                                                                </div>
                                                                <div class="form-group" ng-class="{'has-error':Form.address.$dirty && Form.address.$invalid, 'has-succes':Form.address.$valid}">
                                                                    <label>Event Address</label>
                                                                    <input type="text" placeholder="Enter Event Address" class="form-control" name="address" ng-model="single_event.address" required />
                                                                    <span class="error text-small block" ng-if="Form.address.$dirty && Form.address.$invalid">Event Address is required</span>
                                                                    <span class="success text-small" ng-if="Form.address.$valid"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Max Member can Attend</label>
                                                                    <input type="text" placeholder="Specify No of Member" class="form-control" ng-model="single_event.max_member" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label>Cost For the Event Per Attendee(leave blank if free)</label>
                                                                    <input type="text" placeholder="IE. $20.00" class="form-control" name="cost" ng-model="single_event.cost" required />
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">
                                                                        <input class="switch-input m-switch" ng-model="single_event.recurring_payment" ng-true-value="1" id="checkbox" type="checkbox" checked="" value="{{single_event.recurring_payment}}">&nbsp;
                                                                        Required payment upon RSVP

                                                                        <!--<input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">-->
                                                                    </label>
                                                                </div>
                                                                <div class="form-group" ng-if="!single_event.recurring_month && !single_event.id">
                                                                    <label class="control-label">
                                                                        <input class="switch-input m-switch" ng-model="single_event.recurring_week" ng-true-value="1" id="checkbox" type="checkbox" checked="" >&nbsp;
                                                                        This event occurs every week<span style='color:red;' ng-if='single_event.recurring_week && !single_event.recurring_month && !single_event.id'> on<b ng-if="week_day"> {{ week_day }} </b></span>       
                                                                    </label>    
                                                                    <input ng-if='single_event.recurring_week' type="text" placeholder="Number of Times of Recur" class="form-control" ng-model="single_event.recur__week_number" required /><span ng-if='single_event.recurring_week && !single_event.recurring_month && !single_event.id' style='color:red;'><b>* Max 99 Recur Allowed</b></span>
                                                                        <!--<input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">-->
                                                                   
                                                                    
                                                                    
                                                                </div>
                                                                <div class="form-group" ng-if="!single_event.recurring_week && !single_event.id">
                                                                    <label class="control-label">
                                                                        <input class="switch-input m-switch" ng-model="single_event.recurring_month" ng-true-value="1" id="checkbox" type="checkbox" checked="" >&nbsp;
                                                                        This event occurs every month<span style='color:red;' ng-if='single_event.recurring_month && !single_event.recurring_week && !single_event.id'> on [<b>{{ single_event.event_date.split('/')[1] }}</b>]</span>

                                                                        <!--<input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">-->
                                                                    </label>
                                                                    <input ng-if='single_event.recurring_month' type="text" placeholder="Number of Times Recur" class="form-control" ng-model="single_event.recur__mon_number"  required /><span ng-if='single_event.recurring_month && !single_event.recurring_week && !single_event.id' style='color:red;'><b>* Max 99 Recur Allowed</b></br></span>
                                                                </div>
                                                             
                                                                
                                                                
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                            </div>
                                                            <div class="col-md-2">
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button class="btn btn-success btn-warning" type="button" data-dismiss="modal">
                                                                    Cancel 
                                                                </button>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <button ng-if='single_event.id' class="btn btn-success btn-block" type="submit" id="event_button" ng-click="saveEvent(single_event)">Update</button>
                                                                <button ng-if='!single_event.id' class="btn btn-success btn-block" type="submit" id="event_buttons" ng-click="saveEvent(single_event)">Create</button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                        <!--Modal for RSVP-->
                        <div class="modal fade" id="rsvpmodal" role="dialog">
                            <div class="modal-dialog">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title text-center"><b>User Send Conformation</b></h4>
                                    </div>
                                    <div class="modal-body">
                                        <table ng-if="event_rs.length > 0" class="table table-striped table-bordered" >
                                            <thead>        
                                                <tr style="font-weight: bold">
                                                    <td style="width:20%">Name</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="user_con in event_rs">
                                                    <td style="width:20%">{{user_con.name}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h3 style="color: red; text-align: center;" ng-if="event_rs.length == 0"><b>No confirmation!!</b></h3>

                                    </div>
                                    <div class="modal-footer">
                                        <button ng-if="event_rs.length > 0" type="button" class="btn btn-default" ng-click="export(event_rs, 'pdf')">Download List</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--List member-->
                        <div class="tab-pane" id="two">
                            <div class="panel-body" translate-namespace="group.member">
                                <hr>
                                <div class="res-table" >
                                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                                        <thead>
                                            <tr>
                                                <th width="25%" translate> .membername </th>
                                                <th width="25%" translate> .memberemail </th>
                                                <th width="10%" translate> .action </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="member in group.members">
                                                <td data-title="Name">{{member.name}}</td>
                                                <td data-title="Email">{{member.email}}</td>
                                                <td><button class="btn btn-danger" id="chk_{{member.id}}" ng-click="delete_member(member.id, group.id)"><i class="fa fa-trash"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h4>Total No of member : {{group.members_count}}<h4>
                                            <div class="text-center">
                                                <uib-pagination  total-items="pagination.total" ng-show="pagination.total > 10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                                            </div>
                                            </div>
                                            </div>
                                            </div>


                                            <!--Upload images-->
                                            <div class="tab-pane" id="three">
                                                <div class="modal-body" ng-init="event.id = group.id">
                                                    <div class="col-md-12 ">
                                                        <div  class="panel panel-default">
                                                            <div class="panel-body">
                                                                <h4 class="bold"><i class="fa fa-cloud"></i>Upload Images for Groups</h4>
                                                                <form action="../dummy.html" class="dropzone" id="dropzone" ui-jq="dropzone" ui-options="dropzoneOption1">
                                                                    <div class="fallback">
                                                                        <input name="file" type="file" multiple="" />
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div  class="panel panel-default">
                                                            <div class="panel-body">
                                                                <h4 class="bold"><i class="fa fa-image"></i>
                                                                    Image Gallery</h4>


                                                                <div blueimpgallery>
                                                                    <form class="form-inline">

                                                                        <div class="form-group">
                                                                            <button id="image-gallery-button" type="button" class="btn btn-primary" data-toggle="tooltip" title="Launch Image Gallery">
                                                                                <i class="glyphicon glyphicon-picture"></i>
                                                                            </button>

                                                                        </div>

                                                                    </form>
                                                                    <div ng-if="group.ImageGallery.length == 0"><b>No Images</b></div>
                                                                    <br>
                                                                    <!-- The container for the list of example images -->
                                                                    <div id="links">

                                                                        <div ng-repeat="getImages in group.ImageGallery">

                                                                            <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad img-thumbnail" >
                                                                                <a href="laravel-backend/public/groupGallery/{{getImages.image}}" title="A1 Image" data-gallery>
                                                                                    <img src="laravel-backend/public/groupGallery/{{getImages.image}}" class="img-flat" style='height: 120px; width: 143px;'>
                                                                                </a>
                                                                                <button href="" type="button" ng-click="removeimage(getImages.image)" class="btn btn-warning btn-block" style="border-radius: 2px;">Remove Image</button>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                    <br>
                                                                    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls borderless" data-use-bootstrap-modal="false">
                                                                        <!-- The container for the modal slides -->
                                                                        <div class="slides"></div>
                                                                        <!-- Controls for the borderless lightbox -->
                                                                        <h3 class="title">Sample</h3>
                                                                        <a class="prev">‹</a>
                                                                        <a class="next">›</a>
                                                                        <a class="close">×</a>
                                                                        <a class="play-pause"></a>
                                                                        <ol class="indicator"></ol>
                                                                        <!-- The modal dialog, which will be used to wrap the lightbox content -->
                                                                        <div class="modal fade">
                                                                            <div class="modal-dialog">
                                                                                <div class="modal-content">
                                                                                    <div class="modal-header">
                                                                                        <button type="button" class="close" aria-hidden="true">&times;</button>
                                                                                        <h4 class="modal-title">Sample</h4>
                                                                                    </div>
                                                                                    <div class="modal-body next"></div>
                                                                                    <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-default pull-left prev">
                                                                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                                                                            Previous
                                                                                        </button>
                                                                                        <button type="button" class="btn btn-primary next">
                                                                                            Next
                                                                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div><!--end blueimpgallery directive-->
                                                            </div>        



                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>

                                            </div>
                                            </div>
                                            </div>
                                            </div><!-- end panel -->
                                            </div><!-- end .col-md-12 -->


                                            </div>
                                            <!-- main content -->


                                            <script>
                                                Dropzone.autoDiscover = false;
                                                        function getAddressInfoByZip(zip, myCallback)

                                                        {

                                                        if (zip.length >= 5 && typeof google != 'undefined') {

                                                        var addr = {};
                                                                var geocoder = new google.maps.Geocoder();
                                                                geocoder.geocode({'address': zip}, function (results, status) {

                                                                if (status == google.maps.GeocoderStatus.OK) {
                                                                if (results.length >= 1) {
                                                                for (var ii = 0; ii < results[0].address_components.length; ii++) {
                                                                var street_number = route = street = city = state = zipcode = country = formatted_address = '';
                                                                        var types = results[0].address_components[ii].types.join(",");
                                                                        if (types == "street_number") {
                                                                addr.street_number = results[0].address_components[ii].long_name;
                                                                }
                                                                if (types == "route" || types == "point_of_interest,establishment") {
                                                                addr.route = results[0].address_components[ii].long_name;
                                                                }
                                                                if (types == "sublocality,political" || types == "locality,political" || types == "neighborhood,political" || types == "administrative_area_level_3,political") {
                                                                addr.city = (city == '' || types == "locality,political") ? results[0].address_components[ii].long_name : city;
                                                                        //console.log(addr.city);
                                                                        // $('#getCityCode').val(addr.city);
                                                                }
                                                                if (types == "administrative_area_level_1,political") {
                                                                addr.state = results[0].address_components[ii].long_name;
                                                                        //console.log(addr.state);
                                                                        // $('#getStateCode').val(addr.state);                                
                                                                }
                                                                if (types == "postal_code" || types == "postal_code_prefix,postal_code") {

                                                                addr.zipcode = results[0].address_components[ii].long_name;
                                                                        // console.log(addr.zipcode);                                  
                                                                }
                                                                if (types == "country,political") {
                                                                addr.country = results[0].address_components[ii].long_name;
                                                                        //       console.log(addr.country); 
                                                                        // $('#getCountryCode').val(addr.country); 

                                                                }

                                                                if (types == "administrative_area_level_2,political") {
                                                                addr.sd = results[0].address_components[ii].long_name;
                                                                        ///          console.log(addr.sd);   

                                                                }
                                                                }
                                                                addr.success = true;
                                                                        for (name in addr) {
                                                                // console.log('### google maps api ### ' + name + ': ' + addr[name]);
                                                                }
                                                                myCallback(addr);
                                                                } else {
                                                                return {success: false};
                                                                        response({success: false});
                                                                }
                                                                } else {
                                                                return {success: false};
                                                                        response({success: false});
                                                                }
                                                                });
                                                        } else {
                                                        response({success: false});
                                                        }
                                                        }



                                            </script>