

<!-- main content -->
<div id="content" >
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                    <div class="bars pull-right">
                        <div class="display-flex ">
                            <select ng-init="perPageShow=!perPageShow" ng-model="perPage" ng-change="pageChanged(perPage)" ng-options="opt as opt.label for opt in units" class=" form-control inline col-md-2" ng-show="perPageShow"></select>
                        </div>

                        <!--======================old code=======================-->

                        <!--button class="btn btn-link has-ripple" ng-click="perPageShow=!perPageShow"><i class="fa fa-list-ol"></i></button-->

                        <!--====================new code========================-->
<!--                        <button class="btn btn-warning" ng-click="perPageShow=!perPageShow">
                            No of group per page
                        </button>-->

                        <!--======================old code===================-->

                        <!--button class="btn btn-link has-ripple" ng-click="searchShow=!searchShow"><i class="fa fa-search "></i></button-->
                        <!--====================new code====================-->

                        <button class="btn btn-info" ng-click="searchShow=!searchShow">
                            Search Group
                        </button>

                        <!--======================old code===================-->

                        <!--button class="btn btn-link has-ripple" ui-sref="admin.createUser"><i class="fa fa-plus "></i></button-->

                        <!--====================new code====================-->
                        <button class="btn btn-success" ui-sref="admin.createGroup">
                            Add new group
                        </button>



                        <div class="dropdown" show-if-has-any-permit="delete_group,export_csv,export_xls,export_pdf,import_user">
                            <a href="" data-target="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu yep-panel-menu">
                                <li>
                                    <a ng-click="delete(selection)" show-if-has-permit="delete_group"><i class="fa fa-trash red"></i> {{'app.shared.common.delete' | translate}}<span class="badge pull-right"></span></a>
                                </li>
<!--                                <li class="divider" show-if-has-permit="import_user"></li>
                                <li>
                                    <a ui-sref="admin.importUser" show-if-has-permit="import_user"><i class="fa fa-exchange "></i> {{'app.shared.common.import' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-click="export(selection,'csv')" download show-if-has-permit="export_csv"><i class="fa fa-file-text-o"></i> {{'app.shared.common.exportToCSV' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'xls')" download show-if-has-permit="export_xls"><i class="fa fa-file-excel-o green"></i> {{"app.shared.common.exportToExcel" | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'pdf')" download show-if-has-permit="export_pdf"><i class="fa fa-file-pdf-o red"></i> {{"app.shared.common.exportToPDF" | translate}}<span class="badge pull-right"></span></a>
                                </li>-->

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body" translate-namespace="group.list">
                <hr>
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="5%" class="center">
                            </th>
                            <!--<th width="10%"></th>-->
                            <th width="15%" translate> .name </th>
                            <th width="15%" translate> .owner </th>
                            <th width="10%" translate> .noofmember </th>
                            <th width="10%" translate> No of Events </th>
                            <th width="15%" translate> .groupinterest </th>
                            <th width="15%" translate> .createdTime </th>
                            <th width="8%" translate> .status </th>
                            <th width="8%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="search-tr">
                                <td colspan="9">
                                    <div class="col-md-12" ng-show="searchShow">
                                        <form class="input-group">
                                            <input ng-model="query" id="search_text" name="search_text" type="text" class="form-control" placeholder="{{'app.shared.common.search' | translate}}">
                                        <span class="input-group-btn">
                                            <button ng-click="search(query,perPage)" class="btn btn-default search-btn"><i class="fa fa-search"></i></button>
                                            <button ng-init="text=''" ng-click="search(text,perPage)" class="btn btn-primary">Reset</button>
                                        </span>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="group in groups">
                                <td class="center">
                                    <div class="checkbox checkbox-primary">
                                        <input id="{{group.id}}" type="checkbox" class="conchkNumber" value="{{group.name}}" ng-checked="selection.indexOf(group.id) > -1" ng-click="toggleSelection(group.id)">
                                        <label for="{{group.id}}">
                                        </label>
                                    </div>
                                </td>
<!--                                <td data-title="Avatar">
                                    <img ng-src="{{group.avatar_url !=='' && '../laravel-backend/public/uploads/'+group.avatar_url || '../laravel-backend/public/uploads/no_avatar.jpg'}}" alt="" class="img-circle img-responsive">
                                </td>-->
                                <td data-title="Name">{{group.name}}</td>
                                <td data-title="Email">{{group.owner_name}}</td>
                                <td data-title="No of Member">{{group.count_group_member}}</td>
                                <td data-title="No of Events">{{group.counts_event}}</td>
                                <td data-title="Group Interest">{{group.group_int}}</td>
                                <td data-title="Created Time">{{group.created_at}}</td>
                                <!--<td data-title="Status">{{group.status ? 'Active':'Disable'}}</td>-->
                                <td>
                                    <span ng-if="group.status==0" class="label label-table label-danger"><b>Inactive</b></span>
                                    <span ng-if="group.status==1" class="label label-table label-success"><b>Active</b></span>
                                    <span ng-if="group.status==2" class="label label-table label-warning"><b>Pending</b></span>
                                    <div class="m-switch">
                                        <input type="checkbox" id="id-{{group.id}}" ng-true-value="1"  ng-change="status(group.status,group.id)" ng-model="group.status" class="switch-input">
                                        <label for="id-{{group.id}}" class="switch-label">
                                   </div>
<!--                                   <div class="m-switch">
                                        <input ng-model="group.status" ng-change="status(group.status,group.id)" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">
                                        <label for="id-name--1" class="switch-label">
                                        </label>
                                    </div>-->
                                </td>
                                <td><a title="Edit" class="fa fa-pencil-square-o" ui-sref="admin.editGroup({id:group.id})"></a>&nbsp;
                                    <a title="Pending Request" ng-if="group.pending_request>0" class="fa fa-list" style="color: red;" ui-sref="admin.groupMember({id:group.id})"><span class="badge" style="background-color: orange;">{{group.pending_request}}</span></a>
                                    <a title="No Request Pending" ng-if="group.pending_request==0" class="fa fa-list" style="color: green;" ui-sref="javascript:void(0)"></a>&nbsp
                                    <!--<a title="Manage Event" class="fa fa-plus-square-o" ui-sref="admin.manageEvent({id:group.id})"></a></td>-->
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if="groups.length==0" style="color: red;">
                            <h5 class="text-center"><b>No Record Found!!!</b><h5>
                    </div>
                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content -->