<!-- main content -->
<div id="content" >
    <div class="col-md-12" ng-init="member_list()">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}} for {{member_list.groupname}}</span>
                </div>
                 <button ng-click="multi_mail(selection)" ng-if="selection.length>0" class="btn btn-warning" ng-click="toggle=!toggle">
                    Approve Selected
                </button>
                <button ng-click="multi_mail(selection)" ng-if="selection.length>0" class="btn btn-warning" ng-click="toggle=!toggle">
                    Rejected Selected
                </button>
            </div>
            <div class="panel-body" translate-namespace="group.member">
                <hr>
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr class="text-center">
                            <th width="2%" class="center"></th>
                            <th width="25%" translate> .membername </th>
                            <th width="25%" translate> .membercity </th>
                            <th width="25%" translate> .status </th>
                            <th width="8%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="member in member_list.members" >
                                <td></td>
                                <td data-title="Name">{{member.name}}</td>
                                <td data-title="City">{{member.city}}</td>
                                <td data-title="Status">
                                    <span ng-if="member.status==2">Pending</span>
                                </td>
                                <td>
                                    <a ng-click="member_accept(member.id)" data-target="#" class="btn btn-xs btn-green tooltips" data-placement="top" title="Accept"><i class="fa fa-check"></i></a>
                                    <a ng-click="member_reject(member.id)" data-target="#" class="btn btn-xs btn-bricky tooltips" data-placement="top" title="Reject"><i class="fa fa-times fa fa-white"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" ng-if="!member_list.members" style="color: green;"><b>No Request Pending!!</b></div>
                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content -->