<!-- main content -->
<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body ">
                <hr>
                <!-- form -->
                <div class="col-md-6" show-if-has-any-permit="add_category, edit_category">
                    <form role="form">
                        <fieldset ng-disabled="isDisabled"a>
                            <div class="form-group">
                                <label class="col-md-4" for="categoryname">
                                    {{"category.form.categoryName" | translate}}
                                </label>
                                <div class="col-sm-8">
                                    <input ng-model="category.category_name" type="text" class="form-control" id="categoryname" />
                                </div>
                            </div><br></br>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" translate>
                                    category.form.upimage
                                </label>
                                
<!--                                <div class="col-sm-7">
                                    <div ng-model="category.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <div ng-if="deleteMessage" class="red">Category removed successfully!</div>
                                </div>-->
                                <div class="col-sm-8">
                                    
                                    <div ng-if="category.avatar_url!==undefined" ng-model="category.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <div ng-if="!category.id"  ng-model="category.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <!--<div ng-if="deleteMessage" class="red">File removed successfully!</div>-->
                                    <div class="note">
                                        <h6 style="color: orangered;"> <strong style="color: black">Note:</strong>Image size should be not less than 400x400 pixels.</h6>
                                    </div>
                                </div>
                            </div><br></br>
                            <div class="col-md-12 text-center" style="margin-top: 20px;">
                                <button ng-click="update(category)" ng-if="category.id" show-if-has-permit="edit_category" class="btn btn-info" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.update" | translate }}</button>
                                <button class="btn btn-warning" ui-sref="admin.categories"> {{"app.shared.common.cancel"| translate }}</button>
                            </div>    
                        </fieldset>
                    </form>
                </div>
                <!-- form -->

            </div>
        </div>
    </div>
</div>
<!-- ./end content  -->
