<!-- main content -->
<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                </div>
            </div>
            <div class="panel-body ">
                <hr>
                <!-- category list -->
                <div class="col-md-6 layout no-padding">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th width="15%">{{"category.form.image" | translate}}</th>
                                <th>{{"category.form.categoryName" | translate}}</th>
                                <!--<th>{{"category.form.description" | translate}}</th>-->
                                <th><i class="fa fa-bolt"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="category in cat.data">
                                <td scope="row">{{$index + 1}}</td>
                                <td data-title="Avatar">
                                    <img ng-src="{{category.avatar_url !=='' && 'laravel-backend/public/uploads/'+category.avatar_url || 'laravel-backend/public/uploads/no_avatar.jpg'}}" alt="" class="img-circle img-responsive">
                                </td>
                                <td>{{category.category_name}}</td>
                                <!--<td>{{category.description}}</td>-->
                                <td>
                                    <a href="" data-target="#" ui-sref="admin.editCategory({id:category.id})" show-if-has-permit="edit_category"><i class="fa fa-pencil primary"></i></a>&nbsp;&nbsp;
                                    <a href="" data-target="#" ng-click="delete(category.id)" show-if-has-permit="delete_category"><i class="fa fa-trash red"></i></a> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div ng-if='single_record<=cat.data.length'  class="col-md-12 load-more" id='load_more' style="text-align:center;">
                        <button type="submit" ng-click="get_cat()" class="btn btn-info load-more-btn">Load More</button>
                    </div>
                </div>
                <!-- category list -->

                <!-- form -->
                <div class="col-md-6" show-if-has-any-permit="add_category, edit_category">
                    <form role="form">
                        <fieldset ng-disabled="isDisabled"a>
                            <div class="form-group">
                                <label for="categoryname">
                                    {{"category.form.categoryName" | translate}}
                                </label>
                                <input ng-model="category.category_name" type="text" class="form-control" id="categoryname" />
                            </div>
                            <div class="form-group">
                                <label class="control-label" translate>
                                    category.form.upimage
                                </label>
                                
<!--                                <div class="col-sm-7">
                                    <div ng-model="category.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <div ng-if="deleteMessage" class="red">Category removed successfully!</div>
                                </div>-->
                                <!--<div class="col-sm-8">-->
                                    
                                    <!--<div ng-if="category.avatar_url!==undefined" ng-model="category.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>-->
                                    <div ng-if="!category.id"  ng-model="category.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <!--<div ng-if="deleteMessage" class="red">File removed successfully!</div>-->
                                    <div class="note">
                                        <h6 style="color: orangered;"> <strong style="color: black">Note:</strong>Image size should be not less than 400x400 pixels.</h6>
                                    </div>
                                <!--</div>-->
                            </div>
                            <div style="text-align:center;">
                            <button ng-click="create(category)" ng-if="!category.id" show-if-has-permit="add_category" class="btn btn-success" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.save" | translate }}</button>
                                <!--<button ng-click="update(category)" ng-if="category.id" show-if-has-permit="edit_category" class="btn btn-info" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.update" | translate }}</button>-->
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- form -->
                
            </div>
            <div class="text-center">
                <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
            </div>
        </div>
    </div>
</div>
<!-- ./end content  -->
