<!-- main content -->
<div id="content" >
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <span class="bold head-title" ng-focus="head-title"> {{$state.current.ncyBreadcrumb.label | translate}}</span>
                    <div class="bars pull-right">
                        
                        <div class="display-flex ">
                            <select class="form-control inline col-md-2" ng-change="search_usertype(search.user_type)" name="user_type_id" ng-model="search.user_type" required>
                                  <option value=""> Select User Type</option>
                                  <!--<option value="Free_Member">Free Member</option>-->
                                  <option value="Group_Member">Group Member</option>
                                  <option value="Group_Owner">Group Owner</option>
                                  <option value="All_Member">All Member</option>
                            </select>
                        </div>
                        
                        <div class="display-flex ">
                            <select ng-init="perPageShow=!perPageShow"  ng-model="perPage" ng-change="pageChanged(perPage)" ng-options="opt as opt.label for opt in units" class=" form-control inline col-md-2" ng-show="perPageShow"></select>
                        </div>

                        <!--======================old code=======================-->

                        <!--button class="btn btn-link has-ripple" ng-click="perPageShow=!perPageShow"><i class="fa fa-list-ol"></i></button-->

<!--                        <button class="btn btn-warning" ng-click="perPageShow=!perPageShow">
                            No of user per page
                        </button>-->
                        <!--======================old code===================-->

                        <!--button class="btn btn-link has-ripple" ng-click="searchShow=!searchShow"><i class="fa fa-search "></i></button-->
                        <!--====================new code====================-->

                        <button class="btn btn-info" ng-click="searchShow=!searchShow">
                            Search User
                        </button>

                        <!--======================old code===================-->

                        <!--button class="btn btn-link has-ripple" ui-sref="admin.createUser"><i class="fa fa-plus "></i></button-->

                        <!--====================new code====================-->
                        <button class="btn btn-success" ui-sref="admin.createUser">
                            Add new user
                        </button>



                        <div class="dropdown" show-if-has-any-permit="delete_user,export_csv,export_xls,export_pdf,import_user">
                            <a href="" data-target="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </a>
                            <ul class="dropdown-menu yep-panel-menu">
                                <li>
                                    <a ng-click="delete(selection)" show-if-has-permit="delete_user"><i class="fa fa-trash red"></i> {{'app.shared.common.delete' | translate}}<span class="badge pull-right"></span></a>
                                </li>
<!--                                li class="divider" show-if-has-permit="import_user"></li>
                                <li>
                                    <a ui-sref="admin.importUser" show-if-has-permit="import_user"><i class="fa fa-exchange "></i> {{'app.shared.common.import' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a ng-click="export(selection,'csv')" download show-if-has-permit="export_csv"><i class="fa fa-file-text-o"></i> {{'app.shared.common.exportToCSV' | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'xls')" download show-if-has-permit="export_xls"><i class="fa fa-file-excel-o green"></i> {{"app.shared.common.exportToExcel" | translate}}<span class="badge pull-right"></span></a>
                                </li>
                                <li>
                                    <a ng-click="export(selection,'pdf')" download show-if-has-permit="export_pdf"><i class="fa fa-file-pdf-o red"></i> {{"app.shared.common.exportToPDF" | translate}}<span class="badge pull-right"></span></a>
                                </li-->

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-body" translate-namespace="user.list">
                <hr>
                <div class="res-table" >
                    <table class="table table-striped table-hover table-fixed ellipsis-table">
                        <thead>
                        <tr>
                            <th width="5%" class="center">
                            </th>
                            <!--<th width="10%"></th>-->
                            <th width="15%" translate> .name </th>
                            <th width="15%" translate> .email </th>
                            <!--<th width="20%" translate> .address </th>-->
                            <th width="15%" translate> .user_type_id </th>
                            <th width="20%" translate> .userinterest </th>
                            <th width="15%" translate> .createdTime </th>
                            <th class="text-center" width="7%" translate> .status </th>
                            <th width="5%">
                                <i class="fa fa-bolt"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="search-tr">
                            <td colspan="9">
                                <div class="col-md-12" ng-show="searchShow">
                                    <form class="input-group">
                                        <input ng-model="query" ng-enter="search(query,perPage)" id="search_text" name="search_text" type="text" class="form-control" placeholder="{{'app.shared.common.search' | translate}}">
                                        <span class="input-group-btn">
                                            <button ng-click="search(query,perPage)" class="btn btn-default search-btn"><i class="fa fa-search"></i></button>&nbsp;&nbsp;
                                            <button ng-init="text=''" ng-click="search(text,perPage)" class="btn btn-primary">Reset</button>
                                        </span>
                                        
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="user in users">
                            <td class="center">
                                <div class="checkbox checkbox-primary">
                                    <input id="{{user.id}}" type="checkbox" class="conchkNumber" value="{{user.name}}" ng-checked="selection.indexOf(user.id) > -1" ng-click="toggleSelection(user.id)">
                                    <label for="{{user.id}}">
                                    </label>
                                </div>
                            </td>
<!--                            <td data-title="Avatar">
                                <img ng-src="{{user.avatar_url !=='' && '../laravel-backend/public/uploads/'+user.avatar_url || '../laravel-backend/public/uploads/no_avatar.jpg'}}" alt="" class="img-circle img-responsive" style="height: 70px !important; width: 70px !important;">
                            </td>-->
                            <td data-title="Name">{{user.first_name}} {{user.last_name}}</td>
                            <td data-title="Email">{{user.email}}</td>
                            <!--<td data-title="City">{{user.city +" "+ user.state+" "+ user.country +" - "+user.postalcode}}</td>-->
                            <td data-title="Email">{{user.member_type}}</td>
                            <td data-title="Email">{{user.user_int}}</td>
                            <td data-title="Created Time">{{user.created_at}}</td>
                           <td class="text-center">
                               <span ng-if="user.status==2" class="label label-table label-warning text-center"><b>Pending</b></span>
                               <span ng-if="user.status==0" class="label label-table label-danger"><b>Inactive</b></span>
                               <span ng-if="user.status==1" class="label label-table label-success"><b>Active</b></span>
                               <div class="m-switch">
                                    <input type="checkbox" id="id-{{user.id}}" ng-true-value="1" ng-change="status(user.status,user.id)" ng-model="user.status" class="switch-input">
                                    <label for="id-{{user.id}}" class="switch-label">
                               </div>
<!--                               <div class="m-switch">
                                    <input ng-model="user.status" ng-true-value="1" type="checkbox" ng-change="status(user.status,user.id)" ng-model="user.status" id="id-name--1" class="switch-input">
                                    <label for="id-name--1" class="switch-label">
                                    </label>
                                </div>-->
                                    <!--<span ng-if="user.status==0" class="label label-table label-danger"><b>Inactive</b></span>
<!--                                    <span ng-if="user.status==1" class="label label-table label-success"><b>Active</b></span>
                                    <span ng-if="user.status==2" class="label label-table label-info"><b>Pending</b></span>-->
                            </td>
                            <td><a class="fa fa-pencil-square-o" ui-sref="admin.editUser({id:user.id})"></a></td>
                        </tr>
                        
                        </tbody>
                    </table>
                    <div ng-if="users.length==0" style="color: red;">
                            <h5 class="text-center"><b>No Record Found!!!</b><h5>
                    </div>
                    <div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content -->