<!-- main content -->

<div id="content">
    <div class="col-md-12">
        <div class="panel panel-default yep-card">
            <div class="panel-heading card-head">
                <div class="panel-title">
                    <a ui-sref="admin.users" class="btn btn-link has-ripple" >
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <span class="bold head-title"> {{$state.current.ncyBreadcrumb.label| translate}}</span>
                </div>
            </div>
            <div class="panel-body" translate-namespace="user.form">
                <hr>
                <form class="form-horizontal">
                    <fieldset ng-disabled="isDisabled">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"user.list.user_type_id"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" name="user_type_id"
                                            ng-model="user.user_type_id" required>
                                        <!--<option value="4">Free Member</option>-->
                                        <option value="2">Free / Group Member</option>
                                        <option value="3">Group Owner</option>
                                    </select>
                                </div> 
                            </div>

                            <!--                            <div class="form-group switch" ng-if='!user.id'>
                                                            <label class="col-sm-3 control-label" translate>
                                                                .active
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <div class="m-switch">
                                                                    <input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input">
                                                                    <input ng-model="user.status" ng-true-value="1" type="checkbox" id="id-name--1" class="switch-input" ng-checked="checkbox == 1">
                                                                    <label for="id-name--1" class="switch-label">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .avatar
                                </label>
                                <div class="col-sm-9">
                                    <div ng-if="user.avatar_url !== undefined" ng-model="user.avatar_url" dropzone="dropzoneConfig" mode="single" class="dropzone dz-clickable dz-single"></div>
                                    <!--<div ng-if="deleteMessage" class="red">File removed successfully!</div>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    First Name
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.first_name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    Last Name 
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.last_name" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"user.list.email"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-if='!user.id' ng-model="user.email" type="email" placeholder="" class="form-control">
                                    <input ng-if='user.id' ng-model="user.email" type="email" placeholder="" class="form-control">
                                </div>
                            </div>
                            <!--                            <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .password
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="user.password" type="password" placeholder="" class="form-control" autocomplete="off">
                                                            </div>
                                                        </div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{'app.shared.profile.changePassword'| translate}}
                                </label>
                                <div class="m-switch col-sm-9">
                                    <input type="checkbox" id="id-name--1" ng-model="tmpProfile.changePasswordStatus" class="switch-input">
                                    <label for="id-name--1" class="switch-label">
                                        <span class="toggle--on bold">{{'app.shared.profile.enabled'| translate}}</span>
                                        <span class="toggle--off bold">{{'app.shared.profile.disabled'| translate}}</span>
                                    </label>
                                    <!--                                    <div ng-show="tmpProfile.changePasswordStatus">
                                                                            <label class="col-sm-3 control-label">Password</label>
                                                                            <span class="input-icon md col-sm-9">
                                                                                <input type="password" ng-model="user.password" class="form-control">
                                                                            </span>
                                                                            <span class="input-icon md">
                                                                                <input type="password" ng-model="tmpProfile.newPassword" placeholder="{{'app.shared.profile.newPassword' | translate}}" class="form-control">
                                                                                <i class="fa fa-key"></i>
                                                                            </span>
                                                                            <span class="input-icon md">
                                                                                <input type="password" ng-model="tmpProfile.newPassword_confirmation" placeholder="{{'app.shared.profile.confirmNewPassword' | translate}}" class="form-control">
                                                                                <i class="fa fa-key"></i>
                                                                            </span>
                                                                        </div>-->
                                </div>

                            </div>
                            <div class="form-group" ng-show="tmpProfile.changePasswordStatus">
                                <label class="col-sm-3 control-label" translate>
                                    .password
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.password" type="password" placeholder="" class="form-control" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"user.list.phone"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.phone" type="text" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    {{"user.list.bio"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <textarea ng-model="user.aboutme" type="text" placeholder="" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" >
                                    {{"user.list.gender"| translate}}
                                </label>
                                <div class="col-sm-9">
                                    <div class="radio radio-info radio-inline">
                                        <input ng-model="user.gender" type="radio" id="Male" value="0" name="gender">
                                        <label for="Male" translate>
                                            .male
                                        </label>
                                    </div>
                                    <div class="radio radio-info radio-inline">
                                        <input ng-model="user.gender" type="radio" id="Female" value="1" name="gender" >
                                        <label for="Female" translate>
                                            .female
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .country
                                </label>
                                <div class="col-sm-9">
                                    <!--                                    <input ng-model="group.country" type="text" placeholder="" class="form-control" id="getCountryCode">
                                                                        
                                    -->
                                    <select ng-model="user.country" ng-options="x for x in countriesmn " class="form-control" ng-change="updateState()">
                                        <option value=""> Select Country</option>
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .state
                                </label>
                                <div class="col-sm-9">
                                    <select name="state" ng-model="user.state" required class="form-control">
                                        <option value="">Select State</option>
                                        <option ng-repeat="optStates in states track by $index" >{{optStates}}</option>
                                    </select>
                                    <!--<country-state-select country="myCountryModel" state="myStateModel" country-label="  " country-select-label="Select your country" state-label=" "  ></country-state-select>-->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .city
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.city" type="text" placeholder="" class="form-control" id="getCityCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" translate>
                                    .postalcode
                                </label>
                                <div class="col-sm-9">
                                    <input ng-model="user.postalcode" type="text" placeholder="" class="form-control">
                                    <!--<input ng-model="group.postalcode" type="text" placeholder="" class="form-control" ng-blur="getzip($event)" ng-pattern="/^[0-9]*$/" ng-minlength="4" maxlength="6">-->
                                </div>
                            </div>

                            <!--                            <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .city
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="user.city" type="text" placeholder="" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .state
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="user.state" type="text" placeholder="" class="form-control">
                                                            </div>
                                                        </div>
                                                       <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .country
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="user.country" type="text" placeholder="" class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-3 control-label" translate>
                                                                .postalcode
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="user.postalcode" type="text" placeholder="" class="form-control">
                                                            </div>
                                                        </div>-->

                            <div ng-if="user.user_type_id != 4">
                                <hr>
                                <h4 class="text-left"><b>Area of Interest</b></h4>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{"user.list.userinterest"| translate}}
                                    </label>
                                    <div class="col-sm-9">
                                        <select ng-model="user.userinterest" multiple class="form-control">
                                            <option ng-repeat="e in categories" ng-values="e.category_name">{{e.category_name}}</option>    
                                        </select>
                                    </div>
                                    <div class="note">
                                        <strong>Note:</strong> Hold down the ctrl/cmd button to select multiple options.
                                    </div>
                                </div>
                            </div>

                            <div ng-if="user.user_type_id != 4">
                                <hr>
                                <h4 class="text-left"><b>Group to join</b></h4>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        {{"user.list.grouptojoin"| translate}}
                                    </label>
                                    <div class="col-sm-9">
                                        <select ng-model="user.groupname" class="form-control" multiple>
                                            <option ng-repeat="c in groupnames" ng-values="c.name">{{c.name}}</option>
                                        </select>
                                    </div>
                                    <div class="note">
                                        <strong>Note:</strong> Hold down the ctrl/cmd button to select multiple options.
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <!--                           <div class="form-group">
                                                           <h4 class="text-left"><b>Bank Details</b></h4>
                                                            <label class="col-sm-3 control-label" translate>
                                                                .bankdetails
                                                            </label>
                                                            <div class="col-sm-9">
                                                                <input ng-model="user.postalcode" type="text" placeholder="" class="form-control">
                                                                <input ng-model="group.postalcode" type="text" placeholder="" class="form-control" ng-blur="getzip($event)" ng-pattern="/^[0-9]*$/" ng-minlength="4" maxlength="6">
                                                            </div>
                                                        </div>
                                                       <hr>-->
                        </div>     

                        <div class="form-group">
                            <label class="col-sm-3 control-label" >
                            </label>
                            <div class="col-sm-12">
                                <!--                                    <button class="btn btn-success" ng-click="create(user)" ng-if="!user.id" ng-class="{'working':isDisabled===true}"><i class="fa fa-save"></i> {{"app.shared.common.save" | translate }}</button>
                                                                    <button class="btn btn-info" ng-click="update(user)" ng-if="user.id && user.status==1" ng-class="{'working':isDisabled===true}"> {{"app.shared.common.update" | translate }}</button>
                                                                    <button class="btn btn-success" ng-click="status(1,user.id)" ng-if="(user.id && user.status==2) || user.status==0" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.active"| translate }}</button>
                                                                    <button class="btn btn-danger" ng-click="status(0,user.id)" ng-if="(user.id && user.status==2) || user.status==1" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.deactivate"| translate }}</button>-->
                                <div class="col-sm-4">

                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success" ng-click="create(user)" ng-if="!user.id" ng-class="{'working':isDisabled === true}"><i class="fa fa-save"></i> {{"app.shared.common.save"| translate }}</button>
                                    <button class="btn btn-info" ng-click="update(user)" ng-if="user.id" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.update"| translate }}</button>&nbsp;&nbsp;
                                    <!--                                        <button class="btn btn-success" ng-click="status(1,user.id)" ng-if="(user.id && user.status==2) || user.status==0" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.active"| translate }}</button>
                                                                            <button class="btn btn-danger" ng-click="status(0,user.id)" ng-if="(user.id && user.status==2) || user.status==1" ng-class="{'working':isDisabled === true}"> {{"app.shared.common.deactivate"| translate }}</button>&nbsp;&nbsp;-->
                                    <button class="btn btn-warning" ui-sref="admin.users"> {{"app.shared.common.cancel"| translate }}</button>
                                </div>
                                <div class="col-sm-4">

                                </div>        
                            </div>
                        </div>
                        </div>
                    </fieldset>
                </form>
                <div  class="panel panel-default ">
                    <div class="panel-body no-padding">
                        <div class="tabbable tabs-above ">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="" data-target="#one" data-toggle="tab">
                                        <i class="fa fa-calendar success"></i>&nbsp; Active Group
                                    </a>
                                </li>
                                <li>
                                    <a href="" data-target="#two" data-toggle="tab">
                                        <i class="fa fa-users primary"></i>&nbsp; Inactive Group
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content padding-10 ">
                                <div class="tab-pane active" id="one">
                                    <h4>Active Group List</h4>
                                    <div class="panel-body" ng-if="user.membership_active">
                                        <table class="table table-striped table-hover table-fixed ellipsis-table">
                                            <thead>        
                                                <tr style="font-weight: bold">
                                                    <td style="width:5%"></td>
                                                    <td style="width:25%">Group Name</td>
                                                    <td style="width:25%">Membership Plan</td>
                                                    <td style="width:25%">Membership Start</td>
                                                    <td style="width:25%">Membership End</td>
                                                    <td style="width:25%">Amount</td>
                                                    <td style="width:5%"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="active in user.membership_active">
                                                    <td></td>
                                                    <td data-title="Name" style="text-transform: capitalize;">{{active.name}}</td>
                                                    <td data-title="Name" style="text-transform: capitalize;">{{active.mem_name}}</td>
                                                    <td data-title="Email">{{active.membership_start}}</td>
                                                    <td data-title="No of Member">{{active.membership_end}}</td>
                                                    <td data-title="Group Interest">$ {{active.amount/100}}</td>
                                                    <td></td>
                                                </tr> 
                                            </tbody>

                                        </table>
                                          
                                    </div>
                                    <div ng-if="!user.membership_active" style="color: red; min-height: 50px;">
                                        <h5 class="text-center"><b>No Group Found !!!</b></h5>
                                    </div>  

                                </div>
                                <!--List member-->
                                <div class="tab-pane" id="two">
                                    <h4>Active Group List</h4>
                                    <div class="panel-body" ng-if="inactive_list">
                                        <table class="table table-striped table-hover table-fixed ellipsis-table">
                                            <thead>        
                                                <tr style="font-weight: bold">
                                                    <td style="width:5%"></td>
                                                    <td style="width:25%">Group Name</td>
                                                    <td style="width:25%">Membership Plan</td>
                                                    <td style="width:25%">Membership Start</td>
                                                    <td style="width:25%">Membership End</td>
                                                    <td style="width:25%">Amount</td>
                                                    <td style="width:5%"></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="active in inactive_list">
                                                    <td></td>
                                                    <td data-title="Name" style="text-transform: capitalize;">{{active.name}}</td>
                                                    <td data-title="Name" style="text-transform: capitalize;">{{active.mem_name}}</td>
                                                    <td data-title="Email">{{active.membership_start}}</td>
                                                    <td data-title="No of Member">{{active.membership_end}}</td>
                                                    <td data-title="Group Interest">$ {{active.amount/100}}</td>
                                                    <td></td>
                                                </tr> 
                                            </tbody>

                                        </table>
                                          
                                    </div>
                                    <div ng-if="!inactive_list" style="color: red; min-height: 50px;">
                                        <h5 class="text-center"><b>No Group Found !!!</b></h5>
                                    </div>  

                                </div>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- main content -->