<div ng-controller="Preloader" class="">

<section class="">

	<!--Your Lacation bar-->
	<div class="location-bar">
		<div class="container">
			<div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 location-name">
				<span>Your Location is <strong>{{current_location || "Wait..."}}</strong></span>
			</div>
			
			<div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 text-right location-form">
			<!--a href="#" class="change-location-btn btn">Change Location</a-->

			<a  href="#" id="current_location" data-type="text" data-original-title="Enter Zip or city" editable-text="user.C_location" class="change-location-btn btn" onbeforesave="checkEmpty($data)" onaftersave="checkName()">Change Location</a>

				<form class="form-inline search-form">
				  <div class="form-group">
					<input type="text" id="tags" ng-model="grpinst.interest" class="form-control" placeholder="Type In Your Interest">
				  </div>
				  <button type="submit" ng-click="getGroupByInterest(grpinst)" class="btn btn-search">Send invitation</button>
				</form>	
			</div>
		</div>
	</div>
	<section class="group-details">
	<div class="container">
	<div  ng-repeat="group in events">
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
	<div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
	<img src="laravel-backend/public/uploads/{{group.avatar_url || 'no-group.png'}}" class="img-responsive" style="width:100%; height:300px"/>
	<br>
	</div>
	
	<div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
		
		
		<div class="heading-title">
			<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
			<h1>{{group.name}}</h1>
			<h2>{{group.event_date |date:"MMMM dd, yyyy" || "..."}}</h2>			
			</div>
			
			<div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 no-pad text-right">
			
			<a ng-if="getloggindfirst==1" onclick="history.go(-1);" class="calender-btn btn btn-lg">Calendar</a>
			
			<a ng-if="getloggindfirst==0" onclick="history.go(-1);" class="calender-btn btn btn-lg">Calendar</a>

			<a ng-if="getloggindfirst==1" ui-sref="home.login" class="btn join-group-btn btn-lg">Join This Group</a>	
			<a ng-if="getloggindfirst==0 && profile.id!=group.user_id" ui-sref="registered.payment({id:group.group_id})" class="btn join-group-btn btn-lg">Join This Group</a>			
			

			</div>
		</div>
		
		<div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
			<p>{{group.description}}</p>
		</div>	
		
	</div>
	</div>
	</div>

	
	<div style="min-height:300px;color: red;" ng-if="events.length==0">
                            <h5 class="text-center"><b>No Record Found!!!</b><h5>
                    </div>
                    

		
	<!--right Section-->
	
	
					<div class="text-center">
                        <uib-pagination  total-items="pagination.total" ng-show="pagination.total>10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(10)" items-per-page="pagination.per_page" ></uib-pagination>
                    </div>
	
	</div>
	
	</section>
	
	</section>
	
</div>
