<style>
    .fc-widget-header{
        background-color:#DCEAF5;
        color:#055694;
    }
    .fc-toolbar{
        background-color:#A1C5E5;
        margin-bottom:0em;
    }
    .sel{
        background-repeat: no-repeat;
        width:100% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div ng-controller="Preloader" class="">
       
    <!--<section class="sel" ng-style="{'background-image': 'url(laravel-backend/public/uploads/'+ Onegroups.avatar_url + ')'}">-->
    
        <!--Your Lacation bar-->
     
        <!--Your Lacation bar-->

        <!--Group Details-->
     
                <!--Left sidebar-->
             
                <!--Left sidebar-->


                <!--right Section-->
           
                    

                  

                  

                    <div class="calender-box text-right col-md-12 col-lg-12 col-sm-12 col-xs-12 no-pad">
                        <!-- <div class="panel-heading">
                   <div class="panel-title pull-left">
                       <i class="fa fa-calendar"></i>
                       My Events
                   </div>
               </div> -->
                        <div class="panel-body" style='background-color: white;'>

                            <div full-calendar ></div>
                            <div style="clear:both"></div>

                        </div>
                    </div>


              
                <!--right Section-->





        <!--Group Details-->


   
</div>
<script>
$(document).ready(function(){

$('#text_iframe').click(function(){

  $('#text_iframe').copyme();
});

//$('#button_iframe').click(function(){
//    copyme();
//});

});

function copyme(){
//    $('span[id^="success-alert"]').remove();
//    //this.select();
//    $('#text_iframe').focus();
//    document.execCommand("copy");
//    document.getSelection().removeAllRanges();
//    $('#text_iframe').after('<span id="success-alert"><br>Copied to clipboard</span>');
//    $('#success-alert').css( "color", "green" );
};
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>