<style>
    .hovereffect {
        width:100%;
        height:100%;
        float:left;
        overflow:hidden;
        position:relative;
        text-align:center;
        cursor:default;
    }

    .hovereffect .overlay {
        width:100%;
        height:100%;
        position:absolute;
        overflow:hidden;
        top:0;
        left:0;
        opacity:0;
        background-color:rgba(0,0,0,0.5);
        -webkit-transition:all .4s ease-in-out;
        transition:all .4s ease-in-out
    }

    .hovereffect img {
        display:block;
        position:relative;
        -webkit-transition:all .4s linear;
        transition:all .4s linear;
    }

    .hovereffect h2 {
        text-transform:uppercase;
        color:#fff;
        text-align:center;
        position:relative;
        font-size:17px;
        background:rgba(0,0,0,0.6);
        -webkit-transform:translatey(-100px);
        -ms-transform:translatey(-100px);
        transform:translatey(-100px);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        padding:0px;
    }

    .hovereffect a.info {
        text-decoration:none;
        display:inline-block;
        text-transform:uppercase;
        color:#fff;
        border:1px solid #fff;
        background-color:transparent;
        opacity:0;
        filter:alpha(opacity=0);
        -webkit-transition:all .2s ease-in-out;
        transition:all .2s ease-in-out;
        margin:50px 0 0;
        padding:7px 14px;
    }

    .hovereffect a.info:hover {
        box-shadow:0 0 5px #fff;
    }

    .hovereffect:hover img {
        -ms-transform:scale(1.2);
        -webkit-transform:scale(1.2);
        transform:scale(1.2);
    }

    .hovereffect:hover .overlay {
        opacity:1;
        filter:alpha(opacity=100);
    }

    .hovereffect:hover h2,.hovereffect:hover a.info {
        opacity:1;
        filter:alpha(opacity=100);
        -ms-transform:translatey(0);
        -webkit-transform:translatey(0);
        transform:translatey(0);
    }

    .hovereffect:hover a.info {
        -webkit-transition-delay:.2s;
        transition-delay:.2s;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 6px;
        padding-left: 6px;
    }
</style>
 <style>
                        
                        .forie{
                            width:120px;
                            margin-left:-55px;
                        }
                    </style>

<div ng-controller="Preloader" class="">

    <!--<section class="">-->

    <!--Your Lacation bar-->
    <div class="location-bar">
        <div class="container">
            <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 location-name">
                <span>Your Location is <strong>{{current_location|| "Wait..."}}</strong></span>
            </div>

            <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 text-right location-form">

            </div>
        </div>
    </div>
    <!--Your Lacation bar-->

    <!--Group Details-->
    <section class="group-details">
        <!--<div class="container">-->

        <!--<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">-->
        <!--<div class="content">-->
        <div ng-repeat="(key,value) in categoryImg" class="col-md-3 col-sm-12 col-xs-12 col-lg-3 grid-box-1" >

            <div class="hovereffect" style="height:300px; margin-bottom: 5px;">
                <img ng-src="{{value !== '' && 'laravel-backend/public/uploads/' + value|| 'assets/home/img/img-2.jpg'}}" style="height:350px;width:100%;"/>
                <div class="overlay">
                    <!--[if IE]>
                         <style>
                            .forie{
                                width:120px;
                                margin-left:220px;
                            }
                        </style>
                     <![endif]-->
                   
                    <button ng-click="findSetCat(key)" class="btn btn-search-all-category leftsign forie">Explore</button>
                </div>

            </div>
            <h4 style="text-transform:capitalize;"><b>{{key}}</b></h4>
        </div>

        <!--</div>-->
        <!--</div>-->
        <div ng-if="findgroups.length == 0" style="color: red;">
            <h5 class="text-center"><b>No Record Found!!!</b></h5>
        </div>



        <!--right Section-->


        <div class="text-center">
            <uib-pagination  total-items="pagination.total" ng-show="pagination.total > 10" ng-model="pagination.current_page" max-size="maxSize" class="pagination" boundary-links="true" rotate="false" ng-change="pageChanged(perPage)" items-per-page="pagination.per_page" ></uib-pagination>
        </div>

        <!--</div>-->

    </section>


    <!--Group Details-->


    <!--gallery-->
    <div class="clearfix"></div>


    <!--gallery-->

    <!--</section>-->
</div>