<style>
    .group-details{
        overflow: visible;
    }
</style>
<div ng-controller="Preloader" class="">

    <section class="">

        <!--Your Lacation bar-->
        <div class="location-bar">
            <div class="container">
                <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 location-name">
                    <span>Your Location is <strong>{{current_location|| "Wait..."}}</strong></span>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 text-right location-form">
                    <!--a href="#" class="change-location-btn btn">Change Location</a-->

                    <a  href="#" id="current_location" data-type="text" data-original-title="Enter Zip or city" editable-text="user.C_location" class="change-location-btn btn" onbeforesave="checkEmpty($data)" onaftersave="checkName()">Change Location</a>
                    <span id='errormsg' style="color:red;"></span>
                    <span ng-show="loader" class="text-center">
                        <img src="assets/img/preloader/loading5.gif" alt="preloader" width="25px">
                    </span>

                    <form class="form-inline search-form">
                        <div class="form-group">
                            <input type="text" id="tags" ng-model="grpinst.interest" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" ng-click="getGroupByInterest(grpinst,0,1)" class="btn btn-search">Send invitation</button>
                    </form>	
                </div>
            </div>
        </div>
        <!--Your Lacation bar-->

        <!--Group Details-->
        <section class="group-details">
            <div class="container">




                <div  ng-repeat="group in findgroups">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="col-md-4 col-sm-12 col-xs-12 col-lg-4">
                            <img src="laravel-backend/public/uploads/{{group.avatar_url|| 'group_background.png'}}" class="img-responsive" style="width:100%; height:230px"/>
                            <br>
                        </div>

                        <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">


                            <div class="heading-title">
                                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                                    <h1>{{group.name}}</h1>
                                    <h2>{{group.header|| "header"}}</h2>			
                                </div>

                                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 no-pad text-right">

                                    <a ng-if="getloggindfirst == 1" ng-click="loadersload()" ui-sref="home.viewgrps({id:group.id})" class="calender-btn btn btn-lg">Detail</a>

                                    <a ng-if="getloggindfirst == 0" ui-sref="registered.viewgrps({id:group.id})" class="calender-btn btn btn-lg">Detail</a>

                                    <a ng-if="getloggindfirst == 1" ui-sref="home.login" class="btn join-group-btn btn-lg">Join This Group</a>	
                                    <!--<a ng-if="getloggindfirst==0" ui-sref="registered.payment({id:group.id})" class="btn join-group-btn btn-lg">Join This Group</a>-->

                                    <a ng-if="getloggindfirst == 0 && makeItPossi(group.user_id, group.combine_user_id) == 0" ng-click="group_assign(group.id)" id="join_{{group.id}}" class="btn join-group-btn btn-lg">Join This Group</a>


                                </div>
                            </div>

                            <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
                                <p>{{group.description}}</p>
                            </div>	

                        </div>
                    </div>
                </div>
<!--                <div ng-if="findgroups.length >10 && noMore == 0" class="col-md-12" style="text-align:center;">
                    <button type="submit" ng-click="getGroupByInterest(grpinst, perpage);" class="load-more btn join-group-btn btn-lg">Load More</button>
                </div>-->


                <div style="min-height:300px; color: #a6bb78; " ng-if="noMore == 1">
                    <h3 class="text-center" style="font-size: 18px;"><b>New groups coming to this area soon, please check back again.</b></h3>

                </div>

        </section>

        <div class="clearfix"></div>
    </section>
</div>
