<div class="">
    <div style="margin: 5% auto; position: relative; width: 400px;">
        <!-- this is demo - you can remove it -->
        <!--div class="alert alert-warning">
            <label>User : yep@gmail.com</label><br>
            <label>Password : 123456</label>
        </div-->

        <div id="forget-form" class="panel panel-default animated ">
            <div class="panel-body">
                <button class="btn btn-link has-ripple" ui-sref="login"><i class="fa fa-arrow-left"></i></button>
                <div class="text-center">
                    <h3>To recover your password, enter your email address.Then check your email and follow the instructions.</h3>
                    <!--h5 class="grey">Reset password your account</h5-->
                    <br>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <fieldset ng-disabled="isDisabled">
                                <form>
                                    <div class="spacing hidden-md"></div>
                                    <div  class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input ng-model="resetemail" type="email" class="form-control" required  placeholder="Enter Your Email">
                                    </div>
                                    <div class="spacing"><br></div>
                                    <div class="col-md-6">
                                        <button onclick="history.go(-1);" class="btn btn-block bevylife_cancel pull-right">Back</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button ng-click="forget(resetemail)" class="btn btn-block bevylife_next pull-right">{{send_text}}</button>
                                    </div>    
                                </form>
                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
