
<div ng-controller="confirmMailCtrl" class="">
	<div style="margin: 5% auto; position: relative; width: 400px;height: 300px;">
		
		
		<div id="sign-form" class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<div class="text-center">
							<h4>You're almost there!<br>

A confirmation email has been sent to {{email}}. <br>Click on the confirmation link in the email to activate your account. </h4>
							<!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
							<br>
						</div>
						<!--  ng-submit should be signin() -->
						
						
					</div>

				</div>

			</div>
		</div>

		

	</div>

</div>