<style>
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        filter: alpha(opacity=0);
        transition: all 0.2s 0.4s ease-in-out;
    }
    h5, .h5 {
        font-size: 17px;
    }
    

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

    .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        position: relative;
        font-size: 17px;
        padding: 10px;
    }

    .hovereffect a.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        margin: 50px 0 0 0;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }

    .hovereffect a.info:hover {
        box-shadow: 0 0 5px #fff;
    }

    .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }

    .hovereffect:hover h2 {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }

    .hovereffect:hover a.info {
        transition-delay: 0.3s;
    }

    .what-interest-section h4 {
        font-size: 15px;
    }
    
    #category_search {
        width: 175px !important;
    }
    
    
    
</style>



<!--[if IE]>
<style>
    
</style>
<![endif]-->


<div id="backtop">&#9650;</div>
<section class="page-wrappers">
    <div class="container">
        <!-- Let's Start Section-->
        <div class="col-md-4 col-sm-12 no-pad">
            <div class="lets-started-form">
                <div class="box-1">
                    <h1>LET'S GET STARTED!</h1>
                    <a ui-sref="home.orgniserSignup" class="btn btn-start">Start a Group</a>
                    <!-- <a href="#" class="btn btn-signup">SIGN UP</a> -->
                    <a ui-sref="home.signup" class="btn btn-signup"><span class="menu-text" translate> SIGN UP</span></a>
                </div>
                <div class="box-2">
                    <h1>Find a Group</h1>
                    <form class="form-inline search-form">
                        <div class="form-group">
                            <input type="text" id="tags" ng-model="grpinst.interest" class="form-control" placeholder="Type In Your Interest">
                        </div>

                        <button type="submit" ng-click="get_interest(grpinst)" class="btn btn-search">Send invitation</button>
                    </form>					
                </div>
            </div>
        </div>

        <!-- Let's Start Section-->


        <!-- LIVE THE Section-->
        <div class="col-md-8 col-sm-12 no-pad">
            <div class="live-the-bevylife">
                <div class="caption">
                    <h2>Live The Bevylife</h2>
                    <h3>Connecting Groups of Singles</h3>
                </div>
                <img src="assets/home/img/top-right-banner.jpg"/>
            </div>
        </div>

    </div> <!-- /container -->
</section>

<!-- What Intertest you Section-->
<section class="what-interest-section">

    <div class="container">

        <h2><span class="line"></span>
            <span class="text">WHAT INTERESTS YOU?</span></h2>
        <h4>Showing Top Categories in <b>{{current_location|| "Wait..."}}</b> - <a  href="#" id="current_location" data-type="text" data-original-title="Enter Zip or city" editable-text="user.C_location"  onbeforesave="checkEmpty($data)" onaftersave="checkName()">Change Location</a></h4>
        <span id='errormsg' style="color:red;"></span>    
        <div ng-show="loader" class="text-center">
<!--            <img src="assets/img/preloader/material.gif" alt="preloader">-->
        </div>


        <div class="content">
            <div ng-repeat="(key,value) in categoryImg" class="col-md-3 col-sm-12 col-xs-12 col-lg-3 no-pad grid-box-1">

                <div class="hovereffect">
                    <img ng-src="{{value !== '' && 'laravel-backend/public/uploads/' + value|| 'assets/home/img/img-2.jpg'}}" style="height:300px;width:100%;"/>
                    <img src="assets/img/preloader/magnifying.png" class="magnifyglass pull-right"/>
                    <div class="overlay hover-caption">
                        <h3>{{key}}</h3>
                        <button ng-click="findSetCat(key)" id="category_search" class="btn btn-search-all-category leftsign" style="width: 175px;">view</button>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-lg-3 col-xs-12 no-pad grid-box-5">

                <img src="assets/home/img/img-5.jpg" style="height:300px;width:100%;"/>
                <div class="hover-caption-2">
                    <h3>Don't see your area of interest?</h3>
                    <button ui-sref="home.category" class="btn btn-search-all-categorys">SEARCH ALL CATEGORIES</button>
                </div>
            </div>


        </div>


    </div>
</section>

<!-- What Intertest you Section-->


<!-- how its work Section-->
<section class="how-it-work">
    <h2>
        <span class="line"></span>
        <span class="text">HOW IT WORKS</span>
    </h2>

    <div class="full-container">

        <div class="container">

            <div class="col-md-4 col-sm-4 no-pad box-1">
                <img src="assets/home/img/step-icon.png" class="step-icon-1"/>					
                <span class="step">Step 1</span>
                <p>Find groups of singles in your area that do fun and exciting things. Things you like to do.</p>					
            </div>

            <div class="col-md-4 col-sm-4 no-pad box-2">
                <img src="assets/home/img/step-icon.png" class="step-icon-2"/>					
                <span class="step">Step 2</span>
                <p>Attend gatherings or social functions and meet wonderful people that have similar passions.</p>					
            </div>

            <div class="col-md-4 col-sm-4 no-pad box-3">
                <img src="assets/home/img/step-icon.png" class="step-icon-3"/>					
                <span class="step">Step 3</span>
                <p>Enjoy yourself. Make a friend. Improve your social life. Find another group. Repeat...</p>					
            </div>


        </div>
    </div>
</section>
<!-- Let's Social Section-->
<section class="let-social-section">
    <div class="container">

        <h2>
            <span class="line"></span>
            <span class="text">Let's GEt SOCIAL!</span>
        </h2>


        <!--Fb Box-->	
        <div class="col-md-6 col-sm-6 col-lg-6 no-pad fb-box">
            <div class="fb-inner-box">

                <h3 style="margin-top: -30px;"><a style="color: #74cdce !important; text-transform: capitalize; text-decoration: none;" href="https://www.facebook.com/Bevylife-1663461277280424">Follow Us</a></h3>

                <div class="fb-content-outer" id="owl-demo-1">

                    <!--ITEM-01-->
                    <div class="fb-content">
                        <div ng-repeat="feed in fb_feeds ">
                            <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="assets/home/img/fb-icon.png" alt="...">
                                </a>
                            </div>
                            
                                <div class="media-body" >
                                    <h4 class="media-heading">{{feed.name}}</h4>
                                    <img ng-if="feed.picture" class="post-object" style="width:220px;" src="{{feed.picture}}" alt="...">
                                </div>
                            </div>    
                        </div>
                    </div>
                    <!--ITEM-01-->

                </div>


            </div>
        </div>
        <!--Fb Box-->	



        <!--Twitter Box-->	
        <div class="col-md-6 col-sm-6 col-lg-6 no-pad in-box" style="background-image: url('assets/home/img/instagram-bg-icon.png'); background-repeat: no-repeat;">
            <div class="tw-inner-box" style="height:405px;">

                <h3><a style="color: #74cdce !important; text-transform: capitalize; text-decoration: none;" href="https://www.instagram.com/bevylife/">Follow Us</a></h3>

                <div class="tw-content-outer" id="owl-demo-2">

                    <!--Item 01-->	
                    <div class="twitter-content">
                        <div ng-repeat="in_feed in insta_feeds | limitTo:10">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="assets/home/img/instagram-icon.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4  class="media-heading">{{in_feed.caption.text}}</h4>
                                    <img ng-if="in_feed.images.standard_resolution.url" class="post-object" style="width:220px;" src="{{in_feed.images.standard_resolution.url}}" alt="...">
                                </div>
                            </div>
                        </div>
                        	
                    </div>
                    <!--Item 01-->	






                </div>


            </div>
        </div>
        <!--Twitter Box-->	





    </div>


</section>



<!-- Let's Social Section-->



<!-- What is Section-->
<section class="what-is-section" style="text-align:justify">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-6 left-box">
                <h1 style="font-size: 45px;">{{cmsTemplate.page_heading|| 'Page Heading'}}</h1>
                <h2 style="font-size: 25px;">{{cmsTemplate.sub_heading|| 'Page Heading'}}</h2>
                <span id="description"></span>
            </div>
            <div class="col-md-1">
            </div>

            <div class="col-md-5 right-box">
                <img class="img-circle" src="laravel-backend/public/uploads/{{cmsTemplate.image|| 'about-us.png'}}" style="width:450px; height: 450px;"/>
            </div>
        </div>
    </div>


</section>

