<style>
    .spacing {
        padding-bottom: 7px;
        padding-top: 7px;
    }
</style>

<div ng-controller="Preloader" class="">
    <div style="margin: 5% auto; position: relative; width: 400px;">

        <!-- error alert panel -->
        
        <div class="alert alert-danger" id='signinError'>
            <!-- <strong>Theres was an error: </strong> {{signinError.data.error}}
            <br>Please try again -->
            <h5 id="signinErrormsg"></h5>
        </div>
        <div id="sign-form" class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Log in </h2>
                            <!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
                            <br>
                        </div>
                        <!--  ng-submit should be signin() -->
                        <form ng-submit="signin(user)" role="form" autocomplete="off" class="form-horizontal">
                            <fieldset ng-disabled="loader">
                                <!--div ng-hide="loader" class="text-center">
                                        <img src="../assets/img/avatars/default.png" width="75" height="75" alt="avatar">
                                </div-->
<!--                                <div  ng-show="loader" class="text-center">
                                    <img src="assets/img/preloader/material.gif" alt="preloader">
                                </div>-->
                                <div class="spacing hidden-md"></div>
                                <div  class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input ng-model="user.email" type="text" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="spacing"></div>
                                <div  class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                    <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <div class="spacing"></div>

                                <div  class="input-group">
                                    <div class="">
                                        <input ng-model="user.rememberme" data-ng-click="rememberMe()" id="remember-me" type="checkbox" >
                                        <label for="remember-me">
                                            Keep me signed in   
                                        </label>
                                    </div>
                                </div>
                                <div class="spacing"></div>

                                <button type="submit" class="btn btn-block bevylife_next  pull-right">Sign In</button>
                                <!--<div id="fb-root"></div>-->
                                
                                <!--<div id="fb-root"></div>-->
                                    <script>
//                                        (function(d, s, id) {
//									
//                                      var js, fjs = d.getElementsByTagName(s)[0];
//                                      if (d.getElementById(id)) return;
//                                      js = d.createElement(s); js.id = id;
//                                      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1334811473265828";
//                                      fjs.parentNode.insertBefore(js, fjs);
//                                    }(document, 'script', 'facebook-jssdk'));
//                                                                    </script>
									
									 

                                    <!--<div class="fb-login-button" data-width="12" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true"></div>-->
                                    
                                    <!-- <button id="loginbutton">facebook login </button> -->
                                
                            </fieldset>
                        </form>
                        <div class="spacing"></div>
                        <a ui-sref="home.forget" class="grey">Forgot your password?</a>
                    </div>

                </div>

            </div>
        </div>

        <div id="q-register" class="panel panel-default" style="display: block;">
            <div class="panel-body text-center">
                Not registered with us yet?
                <a ui-sref="home.signup"> <b>Sign up now!</b></a>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
//
//$(document).ready(function() {
//
//  $.ajaxSetup({ cache: true });
//  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
//        FB.init({
//              appId: '1334811473265828',
//              version: 'v2.7' // or v2.1, v2.2, v2.3, ...
//            });     
//        $('#loginbutton,#feedbutton').removeAttr('disabled');
//        FB.getLoginStatus(updateStatusCallback);
//
//        FB.getLoginStatus(function(response) {
//          console.log(response);
//          if (response.status === 'connected') {
//                alert('in');
//          }
//          else {
//                FB.login();
//          }
//    }); 
//	
//	 
//	
//  });
//  
//});
//
//
//function updateStatusCallback(){
//	//console.log('response');
// alert('Status updated!!');
//}


</script>