<style>
    .fc-widget-header{
        background-color:#DCEAF5;
        color:#055694;
    }
    .fc-toolbar{
        background-color:#A1C5E5;
        margin-bottom:0em;
    }
    .sel{
        background-repeat: no-repeat;
        width:100% !important;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div ng-controller="Preloader" class="">
       
    <!--<section class="sel" ng-style="{'background-image': 'url(laravel-backend/public/uploads/'+ Onegroups.avatar_url + ')'}">-->
     <section class="">
        <!--Your Lacation bar-->
        <div class="location-bar">
            <div class="container">
                <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 location-name">
                    <span>Your Location is <strong>{{current_location|| "Wait..."}}</strong></span>
                </div>

                <!-- div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 text-right location-form">
                <a href="#" class="change-location-btn btn">Change Location</a>

                <a  href="#" id="current_location" data-type="text" data-original-title="Enter Zip or city" editable-text="user.C_location" class="change-location-btn btn" onbeforesave="checkEmpty($data)" onaftersave="checkName()">Change Location</a>

                        <form class="form-inline search-form">
                          <div class="form-group">
                                <input type="text" id="tags" ng-model="grpinst.interest" class="form-control" placeholder="Type In Your Interest">
                          </div>
                          <button type="submit" ng-click="getGroupByInterest(grpinst)" class="btn btn-search">Send invitation</button>
                        </form>	
                </div -->
            </div>
        </div>
        <!--Your Lacation bar-->

        <!--Group Details-->
        <section class="group-details">
            <div class="container">
                <!--Left sidebar-->
                <div class="col-md-3 col-sm-12 col-xs-12 col-lg-3 left-side-bar">
                    <div class="thumb-img">
                        <img src="laravel-backend/public/uploads/{{Onegroups.avatar_url|| 'group_background.png'}}" style="width:100%; height:200px"/>
                    </div>
                    <!--<iframe width="500" height="400" ng-src="http://dev.bevylife.com/#/home/index"></iframe>-->
                    <div class="upcoming-events">
                        <h3>Upcoming Events</h3>
                        <div class="event-list">
                            <ul>	
                                <li ng-repeat="evnt in Onegroups.events">
                                    <div class="date-box col-md-6">
                                        <span class="month">{{evnt.event_date|date:"MMM"}}</span>
                                        <span class="date">{{evnt.event_date|date:"dd"}}</span>
                                    </div>		
                                    <div class="upcoming-event-text col-md-6">
                                        <a ng-if="getloggindfirst == 1" href="#/home/single-event/{{evnt.id}}"><h4>{{evnt.name}}</h4></a>
                                        <a ng-if="getloggindfirst == 0" href="#/registered/single-event/{{evnt.id}}"><h4>{{evnt.name}}</h4></a>
                                    </div>
                                </li>

                                
                            </ul>
                            <div ng-if="Onegroups.events.length == 0" class="text-center" style="color:red;">No events available!!!</div>
                            <div class="event-footer text-center">	
                                <a ng-if="getloggindfirst == 1 && Onegroups.events.length > 4" ui-sref="home.viewallevnt({id:'{{$stateParams.id}}',date:'all'})" class="btn view-all-events-btn">View All Events</a>
                                <a ng-if="getloggindfirst == 0 && Onegroups.events.length > 4" ui-sref="registered.viewallevnt({id:'{{$stateParams.id}}',date:'all'})" class="btn view-all-events-btn">View All Events</a>
                            </div>

                        </div>


                    </div>

                </div>
                <!--Left sidebar-->


                <!--right Section-->
                <div class="right-content col-md-9 col-lg-9 col-xs-12 col-sm-12">
                    <div class="heading-title">
                        <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 no-pad text-left">
                            <h1>{{Onegroups.name}}</h1>
                            <h2>{{Onegroups.header|| "header"}}</h2>
                            
                            <h2 style="color: #333354;">Group Established: {{Onegroups.create_date}}</h2>
                            <h2 ng-if="Onegroups.count_member=='0'" style="color: #333354;">* Be the First to Join the Group</h2>
                            <h2 ng-if="Onegroups.count_member!='0'"style="color: #333354;">{{Onegroups.count_member}} Members and Growing!</h2>
                        </div>

                        <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 no-pad text-right">

<!--                            <a ng-if="getloggindfirst == 1" ui-sref="home.viewallevnt({id:Onegroups.id,date:'all'})" class="calender-btn btn btn-lg">Calendar</a>

                            <a ng-if="getloggindfirst == 0" ui-sref="registered.viewallevnt({id:Onegroups.id,date:'all'})" class="calender-btn btn btn-lg">Calendar</a>-->

                            <a ng-if="getloggindfirst == 1" ui-sref="home.login" class="btn join-group-btn btn-lg">Join This Group</a>	
                            <!--<a ng-if="getloggindfirst == 0" ui-sref="registered.payment({id:Onegroups.id})" class="btn join-group-btn btn-lg">Join This Group</a>-->
                            <a ng-if="getloggindfirst == 0 && !is_member && Onegroups.user_id!=profile.id" ng-click="group_assign(Onegroups.id)" class="btn join-group-btn btn-lg">Join This Group</a>
                            
                        </div>
                    </div>

                    <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12 no-pad">
                        <p>{{Onegroups.description}}</p>
                    </div>

                    <div class="social-btn text-right col-md-12 col-lg-12 col-sm-12 col-xs-12 no-pad">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-heading">

                        </div>
                        <!--<div ng-if="getloggindfirst == 0">-->
                        <!-- Modal -->
                        <!-- <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <!-- <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title text-center"><b>IFrame Code</b></h4>
                              </div>
                              <div class="modal-body">
                                 <textarea id='text_iframe' rows="4" cols="67">{{iframe_url}}</textarea> 
                                <div id='succ_msg'></div>
                                <button id='button_iframe' ng-click='copy()' class="btn btn-danger">Copy To Clipboard</button>
                              </div>
                            </div>

                          </div>
                        </div>
                        <span ng-if="getloggindfirst ==0">         
                            <a  type="button" ng-if="getloggindfirst ==0" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="padding: 3px 10px;  margin-bottom: 0;">Frame Share</a>
                        </span> -->
                        <!-- Facebook -->
                        <a href="http://www.facebook.com/sharer.php?u={{currLocal}}" target="_blank">
                            <img src="assets/img/share/Facebook.png" alt="Facebook" style="height:20px; width: 60px; text-decoration: none;  border-radius: 1px;"/>
                        </a>

                        <!-- Twitter -->
                        <a href="https://twitter.com/share?url={{currLocal}}&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
                            <img src="assets/img/share/Twitter.png" alt="Twitter" style="height:20px; width: 60px; text-decoration: none;  border-radius: 1px;"/>
                        </a>

                        <!-- Google+ -->
                        <a href="https://plus.google.com/share?url={{currLocal}}" target="_blank">
                            <img src="assets/img/share/google_plus.png" alt="Google" style="height:20px; width: 60px; text-decoration: none;  border-radius: 1px;"/>
                        </a>

                        <!-- LinkedIn -->
                        <!-- <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
                            <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
                        </a> -->

                        <!-- Pinterest -->
                        <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src',window.location.href+'/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
                            <img src="assets/img/share/Pin.png" alt="Pinterest" style="height:20px; width: 60px; text-decoration: none;  border-radius: 1px;"/>
                        </a>   	
                        <!-- <img src="assets/img/social-icon.png" class="img-resonsive"/> -->



                    </div>

                    <div class="calender-box text-right col-md-12 col-lg-12 col-sm-12 col-xs-12 no-pad">
                        <!-- <div class="panel-heading">
                   <div class="panel-title pull-left">
                       <i class="fa fa-calendar"></i>
                       My Events
                   </div>
               </div> -->
                        <div class="panel-body" style='background-color: white;'>

                            <div full-calendar ></div>
                            <div style="clear:both"></div>

                        </div>
                    </div>


                </div>	
                <!--right Section-->




            </div>

        </section>


        <!--Group Details-->


        <!--gallery-->
        <div class="clearfix"></div>
        <section class="bottom-gallery">
            <div class="container">
                <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                    <div ng-repeat="srcimg in Onegroups.ImageGallery">
                        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad img-thumbnail">
                            <img src="laravel-backend/public/groupGallery/{{srcimg.image}}" style="width:100%; height:250px"/>

                        </div>
                    </div>
                </div> 

                <!--gallery-->

                <!--gallery-->
                <div class="clearfix"></div>
            </div>

            <!--gallery-->

        </section>
</div>
<script>
$(document).ready(function(){

$('#text_iframe').click(function(){

  $('#text_iframe').copyme();
});

//$('#button_iframe').click(function(){
//    copyme();
//});

});

function copyme(){
//    $('span[id^="success-alert"]').remove();
//    //this.select();
//    $('#text_iframe').focus();
//    document.execCommand("copy");
//    document.getSelection().removeAllRanges();
//    $('#text_iframe').after('<span id="success-alert"><br>Copied to clipboard</span>');
//    $('#success-alert').css( "color", "green" );
};
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>