<style>
    .spacing {
        padding-bottom: 7px;
        padding-top: 7px;
    }
    .title{
        padding-bottom: 7px;
        padding-top: 7px;
    }
    .location{
        margin-top: -30px;
    }
    
    .wizardstep > .content > .body label.error {
    margin-left: 0;
    }
    .panel-footer {
        border: 6px solid #fff;
    }
    #acceptTerms-error {
        margin-left: -12px;
    }
    
</style>
<div ng-controller="Preloader" class="" ng-init="getCategory();">
    <div style="margin: 5% auto; position: relative; width: 1200px;">

        <!-- error alert panel -->
        <div class="alert alert-danger" ng-if="signinError.data.error">
            <strong>There was an error: </strong> {{signinError.data.error}}
            <br>Please try again
        </div>
        <div id="sign-form" class="panel panel-default" translate-namespace="signup.list">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2 translate>Create a New Group</h2>
                            <!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
                            <br>
                        </div>

                        <div class="panel-title">
                            <i class="fa fa-sitemap"></i>
                            <!-- Fill the form step by step -->
                            Complete each step of the following forms

                        </div>
                        <br>
                    </div>
                    <div class="panel-body no-padding" id="firstStep">

                        <div  id="loader" class="text-center">
                            <img src="assets/img/preloader/material.gif" alt="preloader">
                        </div>

                        <form id="example-advanced-form"  action="#" steps>
                            <h3><b>Group Location</b></h3>
                            <fieldset>
                               
                                <legend class="title">Location Info</legend>
                                
                                
                                <div class="form-group location">
                                    <label class="control-label">
                                        Where is your group located ?  <span class="symbol required" ></span>
                                        <span class="text-center" id="makeItloaded" style="display:none;">
                                            <img src="assets/img/preloader/loading5.gif" alt="preloader" width="25px">
                                        </span>
                                    </label>
                                    <input name="location" id="changelocation" placeholder="Type location" type="text"  class="form-control required">
                                </div>

                                <!-- <p>(*) Mandatory</p> -->
                       
                            </fieldset>

                            <h3><b>Group Category</b></h3>
                            <fieldset>
                                <legend class="title"><!-- Select the category that best fits your group. -->Click on the category(s) below that best describes your group.</legend>
                                <div class="form-group location">
                                    <label class="control-label">
                                        <!-- What will your group be about ? -->
                                        To select more than one category, hold down the CTRL key while making your selections.  <span class="symbol required" ></span>
                                    </label>
                                    <select id="getInterest" multiple="multiple" name="interest" style="width:100%; height:175px;" class="getInterest" required>
                                    <!--<select id="getInterest"  name="interest" style="width:100%; height:30px;" class="getInterest" required>-->    
                                    </select>

                                </div>

                                <!--<strong>Note:</strong> Hold down the ctrl/cmd button to select multiple options.-->
                               <!--  <p>(*) Mandatory</p> -->
                            </fieldset>

                            <h3><b>Group Details</b></h3>
                            <fieldset class="stopscroll">
                                <legend class="title">Group Details</legend>


                                <div class="form-group location">
                                    <label class="control-label">
                                        What is your group's name ? <span class="symbol required" ></span>
                                    </label>
                                    <input name="groupname" id="getGroupname" placeholder="e.g. Relationship Ready Singles" type="text"  class="form-control required">
                                    <div id="name_error"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="description-2">
                                        Group Description - Summary   <span class="symbol required" ></span>
                                    </label>
                                    <div class="note" style="color:#4595CA;">
                                        <strong>Note:</strong> Tell people what your group does in 50 words and less..
                                    </div>
                                    <input type="text" placeholder="e.g. Ready for a LTR? We are the group for you!" id="header" name="header" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="description-2">
                                        <!-- Full Group Description * -->
                                        Group Description – Expanded <span class="symbol required" ></span>
                                    </label>
                                    <div class="note" style="color:#4595CA;">
                                        <strong>Note:</strong> This is where you get to tell new members all about group.
                                    </div>
                                    <textarea  id="description-2" name="description" placeholder="e.g. Tired of 50 first dates? We are a great group of like minded singles who are interested in meeting that special someone" class="form-control required"></textarea>
                                </div>



                                <div class="form-group agree-class">
                                <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required">
                                <label for="acceptTerms-2">I agree with the <a target="_blank" ui-sref="home.termConditions"> Terms and Conditions.</a></label>
                                </div>
                                <!-- <p><b>* Required</b></p> -->
                            </fieldset>

                        </form>

                    </div>

                    <div class="panel-body no-padding" id="secondStep">
                        <h4><b>Create your account or sign in if you already have an account</b></h4>
                        <form role="form" autocomplete="off" class="form-horizontal">
                            <fieldset ng-disabled="isDisabled">

                                <div  ng-show="loader" class="text-center">
                                    <img src="assets/img/preloader/material.gif" alt="preloader">
                                </div>
                                <div class="spacing hidden-md"></div>
                                <div class="">
                                    <span>First Name</span>

                                    <!-- <input ng-model="user.tempGroupID" type="hidden" id="tempGroupID" ng-value="data"> -->

                                    <input ng-model="user.first_name" type="text" class="form-control" id="email" placeholder="First Name" required>
                                </div>
                                <div class="spacing"></div>
                                <div class="">
                                    <span>Last Name</span>

                                    <!-- <input ng-model="user.tempGroupID" type="hidden" id="tempGroupID" ng-value="data"> -->

                                    <input ng-model="user.last_name" type="text" class="form-control" id="email" placeholder="Last Name" required>
                                </div>
                                <div class="spacing"></div>

                                <div class="">
                                    <span>Email address</span>
                                    <input ng-model="user.email" type="text" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="spacing"></div>
                                <div  class="">
                                    <span class="">Password</span>
                                    <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
                                </div>

                                <div class="spacing"></div>

                                <div class="spacing"></div>

                                <button type="submit" class="btn btn-primary btn-block" ng-click="signup(user)">Next</button>

                            </fieldset>
                        </form>
                        <p>Already an account please login <span id="setorgLink"></span></p>

                    </div>
                </div>
            </div>

            <!-- <div id="q-register" class="panel panel-default" style="display: block;">
                    <div class="panel-body text-center">
                            Already a member?
                            <a ui-sref="home.login"> <b>Log in.</b></a>
                    </div>
            </div> -->

        </div>

    </div>