<style>
</style>	

<div id="backtop">&#9650;</div>
<!-- What is Section-->
<section class="what-is-section" style="min-height: 403px; text-align:justify">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-12 left-box">
                <h1>Privacy Policy</h1>
                <!--<h2>{{cmsTemplate.sub_heading || 'Page Heading'}}</h2>-->
                <span id="privacy_desc"></span>
            </div>

        </div>
    </div>
</section>