<style>
.spacing {
  padding-bottom: 7px;
  padding-top: 7px;
}
</style>

<div class="">
    <div style="margin: 5% auto; position: relative; width: 400px;">
        <div id="forget-form" class="panel panel-default animated ">
            <div class="panel-body">
                <button class="btn btn-link has-ripple" ui-sref="login"><i class="fa fa-arrow-left"></i></button>
                <div class="text-center">
                    <h2>User Reset Password</h2>
                    <h5 class="grey">Reset password your account</h5>
                    <br>
                </div>
                <div class="row">

                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <fieldset ng-disabled="isDisabled">
                                <form>
                                    <div class="spacing hidden-md"></div>
                                    <div  class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input ng-model="user.email" type="email" class="form-control" required  placeholder="Your Email">
                                    </div>
                                    <div class="spacing"></div>
                                    <div  class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input ng-model="user.password" type="password" class="form-control" required  placeholder="New password">
                                    </div>
                                    <div class="spacing"></div>
                                    <div  class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input ng-model="user.password_confirmation" type="password" class="form-control" required  placeholder="Password confirmation">
                                    </div>
                                    <div class="spacing"><br></div>
                                    <button ng-click="reset(user)" class="btn bevylife_next btn-block pull-right">{{send_text}}</button>
                                </form>
                            </fieldset>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
