<style>
    .spacing {
        padding-bottom: 7px;
        padding-top: 7px;
    }

    .funkyradio div {
        clear: both;
        overflow: hidden;
    }

    .funkyradio label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    .funkyradio input[type="radio"]:empty,
    .funkyradio input[type="checkbox"]:empty {
        display: none;
    }

    .funkyradio input[type="radio"]:empty ~ label,
    .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .funkyradio input[type="radio"]:empty ~ label:before,
    .funkyradio input[type="checkbox"]:empty ~ label:before {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content: '';
        width: 2.5em;
        background: #D1D3D4;
        border-radius: 3px 0 0 3px;
    }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
        color: #888;
    }

    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
    .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
    }

    .funkyradio input[type="radio"]:checked ~ label,
    .funkyradio input[type="checkbox"]:checked ~ label {
        color: #777;
    }

    .funkyradio input[type="radio"]:checked ~ label:before,
    .funkyradio input[type="checkbox"]:checked ~ label:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
    }

    .funkyradio input[type="radio"]:focus ~ label:before,
    .funkyradio input[type="checkbox"]:focus ~ label:before {
        box-shadow: 0 0 0 3px #999;
    }

</style>
<div ng-controller="signUpCtrl" class="">
    <div style="margin: 5% auto; position: relative; width: 400px;">

        <!-- error alert panel -->
        <div class="alert alert-danger" ng-if="signinError.data.error">
            <strong>There was an error: </strong> {{signinError.data.error}}
            <br>Please try again
        </div>
        <div id="sign-form" class="panel panel-default" translate-namespace="signup.list">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2 translate>.Signup </h2>
                            <!-- <h5 class="grey">Not registered with us yet? Sign up</h5> -->
                            <br>
                        </div>
                        <!--  ng-submit should be signin() -->
                        <form role="form" autocomplete="off" class="form-horizontal">
                            <fieldset ng-disabled="isDisabled">

<!--                                <div  ng-show="loader" class="text-center">
                                    <img src="assets/img/preloader/material.gif" alt="preloader">
                                </div>-->
                                <div class="spacing hidden-md"></div>
                                <div class="funkyradio">

<!--                                    <div class="">
                                        <input type="radio" id="inlineRadio1" ng-model="user.userType" value="paiduser" name="radioInline" checked="">
                                        <label for="inlineRadio1">Signup for free</label>
                                    </div>-->
                                    <!--                                <div class="">
                                                                        <input type="radio" id="inlineRadio2" ng-model="user.userType" value="paiduser" name="radioInline" >
                                                                        <label for="inlineRadio2">Signup as group member (requires credit card) </label>
                                                                    </div>-->
                                </div>
                                <div class="spacing"></div>

                                <div class="">
                                    <span>First Name</span>
                                    <input ng-model="user.first_name" type="text" class="form-control" id="email" placeholder="First Name" required>
                                </div>
                                <div class="spacing"></div>
                                <div class="">
                                    <span>Last Name</span>
                                    <input ng-model="user.last_name" type="text" class="form-control" id="email" placeholder="Last Name" required>
                                </div>
                                <div class="spacing"></div>

                                <div class="">
                                    <span>Email Address</span>
                                    <input ng-model="user.email" type="text" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="spacing"></div>
                                <div  class="">
                                    <span class="">Password</span>
                                    <input ng-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
                                </div>

                                <div class="spacing"></div>
                                <div  class="">
                                    <span class="">Password Confirmation</span>
                                    <input ng-model="user.passwordconf" type="password" class="form-control" id="passwordconf" placeholder="Password Confirmation">
                                </div>

                                <div class="spacing"></div>
                                <p><input id="checkSlave" type="checkbox" ng-click="master()">
                                    Please accept our <a ui-sref="home.termConditions" target="_blank" class="grey">Terms of Service</a>. 

                                <div class="spacing"></div>

                                <button type="submit" class="btn pull-right bevylife_next btn-block"

                                        ng-class="{'working':isDisabled === true}"
                                        ng-click="signup(user)"
                                        ng-disabled="!response">
                                    Sign Up</button>

                            </fieldset>
                        </form>


                        </p>
                    </div>

                </div>

            </div>
        </div>

        <div id="q-register" class="panel panel-default" style="display: block;">
            <div class="panel-body text-center">
                Already a member?
                <a ng-if="!user.event_id" ui-sref="home.login"> <b>Log in.</b></a>
                <!--<span ng-if="user.event_id" ui-sref="#/home/login?eid=user.event_id"></span>-->
                <span id="setorgLink"></span>
            </div>
        </div>

    </div>

</div>