<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<style>
    th {
        width: 37%;
    }
</style>
<div ng-controller="Preloader" class="">

    <section class="">

        <!--Your Lacation bar-->
        <div class="location-bar">
            <div class="container">
                <div class="col-md-4 col-xs-12 col-sm-12 col-lg-4 location-name">
                    <span>Your Location is <strong>{{current_location|| "Wait..."}}</strong></span>
                </div>

                <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 text-right location-form">
                    <!--a href="#" class="change-location-btn btn">Change Location</a-->

                    <a  href="#" id="current_location" data-type="text" data-original-title="Enter Zip or city" editable-text="user.C_location" class="change-location-btn btn" onbeforesave="checkEmpty($data)" onaftersave="checkName()">Change Location</a>

                    <form class="form-inline search-form">
                        <div class="form-group">
                            <input type="text" id="tags" ng-model="grpinst.interest" class="form-control" placeholder="Type In Your Interest">
                        </div>
                        <button type="submit" ng-click="getGroupByInterest(grpinst)" class="btn btn-search">Send invitation</button>
                    </form>	
                </div>
            </div>
        </div>
        <!--Your Lacation bar-->

        <!--Event Details-->
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
        </div> 
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10" style="padding-top: 15px;">

            <section>
                <div class="container">

                    <!--Left sidebar-->
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <div class="thumb-img">
                            <img src="laravel-backend/public/uploads/{{data.group_avatar|| 'group_background.png'}}" style="width:100%;height:100%;"/>
                        </div>	
                    </div>
                    <!--Left sidebar-->


                    <!--right Section-->   
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 no-pad">
                        <div id="fb-root"></div>
                        <div class="heading-title">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                <table cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <div class="fb-share-button pull-left" data-href="http://www.bevylife.com/#/home/single-event/{{data.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bevylife.com%2F%23%2Fhome%2Fsingle-event%2F131&amp;src=sdkpreparse">Share</a></div>
                                            </th>
                                            <th>
                                                <div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.bevylife.com/#/home/single-event/{{data.id}}"></div>
                                            </th>
                                            <th>
                                                <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.bevylife.com/#/home/single-event/{{data.id}}" data-hashtags="bevylife">Tweet</a> <script>!function (d, s, id) {
                                                              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                                              if (!d.getElementById(id)) {
                                                                  js = d.createElement(s);
                                                                  js.id = id;
                                                                  js.src = p + '://platform.twitter.com/widgets.js';
                                                                  fjs.parentNode.insertBefore(js, fjs);
                                                              }
                                                          }(document, 'script', 'twitter-wjs');</script>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>    
                                <!-- <div id="share_button">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 no-pad pull-left">
                                        <div class="fb-share-button pull-left" data-href="http://www.bevylife.com/#/home/single-event/{{data.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.bevylife.com%2F%23%2Fhome%2Fsingle-event%2F131&amp;src=sdkpreparse">Share</a></div>
                                    </div>
                                    <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 no-pad pull-right">
                                        <div class="g-plus" data-action="share" data-annotation="none" data-href="http://www.bevylife.com/#/home/single-event/"></div>
                                    </div>
                                    <div class="col-md-1 col-lg-1 col-sm-12 col-xs-12 no-pad">
                                        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.bevylife.com/#/home/single-event/" data-hashtags="bevylife">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                                    </div>
                                </div>-->
                            </div>    
                            <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12">
                                <h1>{{data.group_name}}</h1>
                                <h2>{{data.group_header}}</h2>
                                <h2 style="color: #333354;">Group Established: {{data.create_date}}</h2>
                                <h2 ng-if="data.count_member == '0'" style="color: #333354;">* Be the First to Join the Group</h2>
                                <h2 ng-if="data.count_member != '0'" style="color: #333354;">{{data.count_member}} Members and Growing!</h2>
                            </div>

                            <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12 no-pad text-right">

                                <!--<a ng-if="getloggindfirst==1" ui-sref="home.viewsingleevnt({id:group.id})" class="calender-btn btn btn-lg">View All Events</a>-->
                                <a ng-if="getloggindfirst == 1" onclick="history.go(-1);" class="calender-btn btn btn-lg">View All Events</a>
                                <!--<a ng-if="getloggindfirst==0" ui-sref="registered.viewsingleevnt({id:group_event.group_id})" class="calender-btn btn btn-lg">View All Events</a>-->
                                <a ng-if="getloggindfirst == 0" onclick="history.go(-1);" class="calender-btn btn btn-lg">View All Events</a>
                                <a ng-if="getloggindfirst == 1" ui-sref="home.login" class="btn join-group-btn btn-lg">Join This Group</a>	
                                <a ng-if="getloggindfirst == 0 && member_status == 0" ui-sref="registered.payment({id:group.group_id})" class="btn join-group-btn btn-lg">Join This Group</a>

                            </div>
                        </div>

                        <div class="post-content col-md-12 col-lg-12 col-xs-12 col-sm-12" style="text-align: justify;">
                            <p>{{data.group_description}}</p>
                        </div>	
                    </div>	
                    <!--right Section-->
                </div>

            </section>
            
            <!--Event Details-->
            
            </br></br>
            <!--Event Full Details-->
            <section>		
                <div class="container event-full-details">
                    <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                        <!--                                    <div class="event-full-date">
                                                                <div class="month">{{data.event_date|date:"MMM"}}</div>
                                                                <div class="day">{{data.event_date|date:"dd"}}</div>
                                                            </div>-->
                        <div class="thumb-img">
                            <img src="laravel-backend/public/uploads/{{data.avatar_url|| 'event_background.png'}}" style="width:100%;;height:100%;"/>
                        </div>	
                        <div ng-if="!group_owner">
                            <div ng-if="finddata == 0 && !user_status">
                                <div ng-if='confirm != 0'>
                                    <h5><b style='color: #EC971F;  margin-left: 65px;'>{{confirm}} Members Going</b></h5>
                                </div>
                                <div ng-if='confirm == 0'>
                                    <h5><b style='color: #EC971F;  margin-left: 80px;'>Be the first</b></h5>
                                </div>
                                <button ng-click="makeconfirm()" ng-if="getloggindfirst == 0 && !user_status && max_limit != 0 && !data.cost" class="btn rsvp-btn" style=" margin-left: 40px;">RSVP TO THIS EVENT</button>					
                            </div>
                            <div ng-if="getloggindfirst == 0 && user_status" style="margin-top: 20px;">
                                <h5><b style='color: #A6BB78; font-size: 18px;'>You are attending this event.</b></h5>
                                <!--<button class="btn rsvp-btn" disabled="disabled">RSVP has been sent</button>-->					
                            </div>
                        </div>
                        <div  class="paypal_button" id="paypal-button-container"></div>
                        <div ng-if="!profile">
                            <a type="button" ui-sref="home.signup.event({eid:data.id,gid:data.group_id})" class="btn rsvp-btn" style=" margin-left: 40px;">RSVP TO THIS EVENT</a>
                        </div>    
                    </div>
                    <!--Event Full Date-->


                    <!--Event Full Detail Right-->
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                        <div class="event-name">
                            <span class="event-title-name"><b>{{data.name}}</b></span>
                            <!--<a href="#" class="btn share-btn">Share THIS</a>-->
                        </div>

                        <div class="event-content">
                            <p>{{data.description}}</p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <div class="event-details" style="margin-top: 15px;">
                            <h4 ng-if="data.event_date"><i class="fa fa-calendar"></i><b style="margin-left: 8px;">
                                    {{data.event_date}}</b>
                            </h4>
                            <h4><i class="fa fa-clock-o" aria-hidden="true"></i><b style="margin-left: 5px;">
                                    {{data.start_time}} to {{data.end_time}} </b>
                            </h4>
                            <h4 ng-if="data.location"><i class="fa fa-map-marker"></i><b style="margin-left: 10px;">
                                    {{data.location}}</b>
                            </h4>
                            <h4 ng-if="data.address"><i class="fa fa-location-arrow"></i><b style="margin-left: 8px;">
                                    {{data.address}}</b>
                            </h4>
                            <h4 ng-if="data.max_member"><i class="fa fa-users"></i><b style="margin-left: 8px;">
                                    Number of Attendees: {{confirm}}</b>
                            </h4>
                            <h4 ng-if="data.max_member"><i class="fa fa-users"></i><b style="margin-left: 8px;">
                                    Spaces Left: {{data.max_member - confirm}}</b>
                            </h4>
                            <h4 ng-if="data.cost"><i class="fa fa-usd"></i><b style="margin-left: 8px;">
                                    Cost: {{data.cost}}</b>
                                <!--&nbsp;&nbsp;<span class="fa fa-usd"><span>-->
                            </h4>
                        </div>
                    </div>
                </div>   
            </section>

            <!--Event Full Details-->
            <!--gallery-->
            <div class="clearfix"></div>
            <div class="col-md-1">
            </div>
            <section class="bottom-gallery">
                <div class="container">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="col-md-2 col-lg-2 col-xs-12 col-sm-12 gallery-box no-pad" ng-repeat="image in images">
                            <img class="img-thumbnail img-responsive" src="laravel-backend/public/groupGallery/{{image.image}}" style="width: 350px; height: 200px;">&nbsp;
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
        </div>

        <!--gallery-->

    </section>
</div>


<script>




    $(document).ready(function () {

        $("#owl-demo-1").owlCarousel({
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            pagination: true,
            mouseDrag: false

                    // "singleItem:true" is a shortcut for:
                    // items : 1, 
                    // itemsDesktop : false,
                    // itemsDesktopSmall : false,
                    // itemsTablet: false,
                    // itemsMobile : false

        });
        $("#owl-demo-2").owlCarousel({
            navigation: false, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            pagination: true,
            mouseDrag: false

                    // "singleItem:true" is a shortcut for:
                    // items : 1, 
                    // itemsDesktop : false,
                    // itemsDesktopSmall : false,
                    // itemsTablet: false,
                    // itemsMobile : false

        });
    });



</script>